[2021-03-30 14:58] eladalon1983 commented on #159
IIUC, this applies to tracks received with `getUserMedia`. The proposal for `preferredLabel` would only affected captured documents, so only `getDisplayMedia`. For that case, I think the captured document's locale is probably good enough. That's what Firefox's current implementation does for windows.

I think it was the usual concern over sharing anything new; no specific potential issues were cit

[2021-03-31 12:08] eladalon1983 commented on #160
Thanks @dontcallmedom. This sounds like a good complement to me. I believe it would work, but my reservation for making it the only option is that it makes activation awkward from, for example, browser-based games. One would have to create a `hidden` <input> element and then then trigger a `click()` on it in response to some in-game user interaction. But maybe that's a common pattern? Wdyt?

It's

[2021-04-01 14:38] eladalon1983 commented on #155
1. I think `html-capture` is more appropriate for element-level capture. We should probably go with `embedder-allowed-viewport-capture`, `viewport-capture`, or something similar. Wdyt?
2. I'm generally OK with this approach, and I believe Chrome Security would be too. (I got a positive signal for both this approach as well as for using a [required document policy](https://wicg.github.io/document-p

[2021-04-01 16:04] camillelamy commented on #155
To expand a bit on Chrome security position regarding capture opt-in, we see this as a larger problem of APIs that might leak data from cross-origin resources at the page-level. So whatever we come up with, we would really want the mechanism to be reusable for other APIs with similar security impact.

We have determined that requiring crossOriginIsolation is not enough for such APIs, as the threat

[2021-04-02 01:36] jan-ivar commented on #155
@camillelamy thanks for the concise writeup! I think I agree with most of it.

If it helps, I still see it as a policy applied to iframes, creating different (risk) environments, not tied to any one feature, much like it's not called `COEP: shared-array-buffer` today.

Consider if we renamed it: `COEP: require-corp; require-non-opaque`.

I.e. pages opt into different risks, enabling one or perhaps

[2021-04-02 19:18] eladalon1983 commented on #158
Note [restrictOwnAudio](https://www.w3.org/TR/screen-capture/#dfn-restrictownaudio), btw. With this already-standardized constraint, a VC application that's capturing the entire tab can exclude audio that originates in the app's own document. So a PowerPoint-like app could embed a Meet-like VC app, and when the VC app captured the current tab's audio, it would easily be excluding remote participan

[2021-04-02 19:52] eladalon1983 opened #161 "Conditional Suppression of Local Audio Playback from Captured Tab"
Consider a user with two open tabs - one with a VC app and one displaying some media. (E.g. Meet+YouTube, Teams+Twitter, or Zoom+Facebook.) Assume the VC tab is capturing the media-playing-tab using `getDisplayMedia` and sharing the resulting audio and video with remote participants. Sometimes it's desirable to suppress the captured tab's audio-playback over the local speakers, without preventing

[2021-04-03 00:28] jan-ivar commented on #161
I think the use case makes sense. Unlike for video, having multiple consumers of audio can prove challenging, and may inherently warrant either-or controls like this that flip between outputs that users hear, to avoid listening to overlapping audio.

I think a SHOULD is appropriate. Firefox shows a 🔈 in tab-headers of tabs that produce audio, that the user can click on to mute/unmute audio in that

[2021-04-07 15:58] youennf commented on #159
MediaDevices.preferredLabel is probably too generic as a name.
It should somehow refer to getDisplayMedia, display surfaces...
As of label, I guess it could be something like displayName/surfaceName and added in https://w3c.github.io/mediacapture-screen-share/#extensions-to-mediatracksettings.

[2021-04-07 16:14] eladalon1983 commented on #159
@youennf, my understanding of your suggestion is:
1. Define `MediaTrackSettings.displayName`.
2. Define `MediaDevices.preferredDisplayName`.

If I've understood the suggestion correctly - sure, that works for us. I can send an updated PR if you confirm that this is acceptable to you. Do you think we should say anything about the value of `displayName` if `preferredDisplayName` is not set, or shoul

[2021-04-07 16:45] youennf commented on #159
I am still not that sure of the use cases given the capturing application does not know whether that information is coming from a trusted source or not.
I would prefer that captured web pages opt-in to authorise the User Agent to leak tangible values like title, origin, URL.

As of the QR code scenario, I am not sure what exactly is done with QR codes. It seems it requires tight coupling between t

[2021-04-07 18:55] eladalon1983 commented on #159
Everything in the capture - audio, video and label - is all spoofable and therefore suspect. The capturing application should know this. It can only use the information in the tracks for unsensitive purposes. For example - for analytics, where the occasional mistake, wether intentional or accidental, is unimportant. In this example, Google Meet can safely assume that **very** few websites try to s

[2021-04-07 19:44] youennf commented on #159
You mentioned https://github.com/w3c/mediacapture-screen-share/issues/143 in your initial post.
I do not think your current proposal is great for that particular issue. Exposing the origin or origin+pathname or same origin flag seems more reasonable. This use case deserves a bullet-proof solution.

The thread also started with trying to use label which only use so far is to help user know which ca

[2021-04-07 20:40] eladalon1983 commented on #159
(1) `Origin` + (2) `application-specific string` would be perfect for us; even better for analytics than what I had originally suggested. If we have agreement in principle (do we?), we could move on to discuss specifics. Collating your messages, I think this proposal would be acceptable to us both:

Define `MediaDevices.captureHandle`, settable by an application. If set, the application consents t

[2021-04-08 10:32] eladalon1983 commented on #161
Sorry for the churn. I'm used to Git, but not yet to Github. The right PR is now linked.

[2021-04-08 11:10] youennf commented on #159
It seems worth preparing a proposal based on origin+application-specific string and get additional feedback from others.

It would be good for the proposal to dig into mutation of these values and whether/how to expose these to the capturing page. This might impact the API surface.

As of the names, captureHandle is probably still too vague since capture could refer to microphone and camera.
I wou

[2021-04-08 14:20] eladalon1983 commented on #159
I've updated w3c/mediacapture-screen-share#163 with an early draft of the changes I believe we both agree on. Please take a look and let me know what you think.

[2021-04-12 18:41] eladalon1983 commented on #159
To summarize some use cases and benefits:

### 1. Analytics
Capturing applications can gather statistics over what applications its users tend to capture. This can be used to improve service for the users by introducing collaborations. One such collaboration - enabled by this very feature - is described immediately below.

### 2. Cross-Tab Communication
The capturing application can more easily¹ k

[2021-04-12 19:30] eladalon1983 opened #165 "Tab-Focus One-Way Hand-Off (Capturer -> Captured)"
Consider a capturing application in one tab, captured application in another tab. When the capture starts, should tab-focus switch to the captured app, or should it stay in the capturing app? Until now this topic was not address by the standard, meaning it was left to the user agent to decide.

I think that the capturing application is better positioned to make that decision. Furthermore, I think

[2021-04-12 19:58] jan-ivar commented on #143
To clarify: I think *getViewportMedia* (https://github.com/w3c/mediacapture-screen-share/issues/155) is the way forward to solving self-capture safely, and I consider any workarounds in *getDisplayMedia* to coerce a user to picking a specific source to be harmful, and counterproductive to adoption of the former.

[2021-04-12 22:23] eladalon1983 commented on #143
`getViewportMedia` helps for self-capture, but does not address the topics of allow-listed sites (including same-origin/same-site as special cases). I think that (issue = w3c/mediacapture-screen-share#159 / PR = w3c/mediacapture-screen-share#163) solves the problem from w3c/mediacapture-screen-share#143 satisfactorily, after incorporating @youennf's input about exposing origin. w3c/mediacapture-sc

[2021-04-12 23:03] jan-ivar commented on #159
Sorry for the late reply. TL;DR: This seems like an imperfect solution to three problems, two of which I'd rather not fix.

This makes it potentially easy for a web page to display the source of the track. I think it was the initial intent.

Yes, the sole intent behind label was for local display, to help end-users remember what tracks they've chosen.¹

`label` is neither localizeable nor unique a

[2021-04-12 23:19] jan-ivar commented on #159
IOW: Tabs communicating across *getDisplayMedia* is neither safe nor an intuitive user experience. Let tabs capture themselves & collab through e.g. a [BroadcastChannel](https://html.spec.whatwg.org/multipage/web-messaging.html#broadcastchannel).

[2021-04-13 02:05] jan-ivar commented on #159
We've also in the past rejected ways for a site to know it's being captured by *getDisplayMedia* (sites wanting to redact sensitive information etc) since it may defeat the reasons a user wishes to capture a page in the first place.

[2021-04-13 07:42] eladalon1983 commented on #159
1. We've moved away from labels and to a bespoke "capture handle." (Frankly, I would have gone with this to begin with, but I was trying to propose the minimal change that would still accomplish my goals.)
2. We are only interested in a subset of sources - those that come through `getDisplayMedia`.

If you think avoiding the label-based history of this issue might help steer the conversation in th

[2021-04-13 07:50] eladalon1983 commented on #159
Consider tabs `A`, `B` and `C`. Using [BroadcastChannel](https://html.spec.whatwg.org/multipage/web-messaging.html#broadcastchannel), they could find each other and communicate with each. But how does that help us?

Assume `A` calls `getDisplayMedia`, and the user chooses to capture `C`.
Does `A` know if it's capturing `B` or `C`?
Not unless visually inspects them for specific pixels. But:
1. This

[2021-04-13 07:53] eladalon1983 commented on #159
I'd expected as much, and avoided this. With this method, the captured site does **not** find out it's being captured. Unless, that is, the capturing site sends the captured site a message to that effect out-of-band. But this much is fine.

Please note how both sides here are opt-in:
1. Capturing site can identify the captured site only if the captured site opts-into being identified (globally).
2

[2021-04-13 08:14] eladalon1983 commented on #159
I humbly disagree. I think malicious applications attempting to get the current tab could already detect the current tab pretty easily - embed magic pixels or flash the entire screen black for a single frame. We are not making pick-again attacks any stronger.

[2021-04-13 09:00] eladalon1983 opened #166 "Identification of Captured Application By Capturer"
This is the culmination of discussions in #159. I am re-summarizing so as to avoid misunderstandings stemming from that other issue's history (it started focused on label, but evolved in a different direction).

## Problem
When the user chooses a tab using `getDisplayMedia`, the capturing application has no good way of discovering which application is is capturing.

## Use cases
### 1. Establishin

[2021-04-13 13:55] jan-ivar commented on #143
I interpret OP as being satisfied by limiting capture to sites under the capturer's control, which seems satisfied by web-integrated capture in https://github.com/w3c/mediacapture-screen-share/issues/155.

If the concern is based around avoiding exposing sensitive information, then relying on *getDisplayMedia* could backfire. E.g. employees may have ~homepages on FQDNs. Browsers have no good way t

[2021-04-13 14:48] eladalon1983 commented on #143
I agree that `getViewportMedia` is the holy grail. And I agree that some risks remain for `getDisplayMedia` + w3c/mediacapture-handle#52. But OP's site is **already** using `getDisplayMedia`, and might continue for a while¹. I think w3c/mediacapture-handle#52 could partially mitigate some of those risks. Examining the risk of support personnel's homepages - if they have them at all, you could miti

[2021-04-15 08:35] karlt opened #167 "Should top-level transient activation be sufficient for `getDisplayMedia()` on cross-origin iframes with allow="display-capture"?"
This [came up](https://bugzilla.mozilla.org/show_bug.cgi?id=1704278) when we added the transient activation requirement to Gecko.  The data flow affected was "click handler in main document" -> `iframe.contentWindow.postMessage()` -> "`getDisplayMedia()` inside iframe".  The gesture in the top-level Document [does not affect](https://html.spec.whatwg.org/multipage/interaction.html#activation-notif

[2021-04-15 09:57] annevk commented on #167
See also https://github.com/whatwg/html/issues/5129.

cc @mustaqahmed @domenic

[2021-04-15 12:43] camillelamy commented on #155
@jan-ivar I agree that the goal of COEP is to get pages to opt into environments with different risk profiles. I am just wondering how easy it is to communicate this risk profile to the developer. Probably, we need to work on the wording, as I am not super fan of what `COEP: require-corp; require-non-opaque` implies. To me it implies that the embedder could directly read the HTML of the embedded i

[2021-04-15 13:54] eladalon1983 commented on #160
I have an early draft of a proposal [here](https://eladalon1983.github.io/mediacapture-screenshot/).

[2021-04-15 17:04] eladalon1983 commented on #166
I've edited the PR (#163) to:
1. Allow an application to expose its origin, its handle, or both. (Or neither, of course.)
2. I've renamed back to CaptureHandle, since `DisplayMediaCaptureHandleConfigType` and the like were getting too long.  I welcome suggestions for better names.

[2021-04-15 20:52] jan-ivar commented on #166
These two sound like the actual use case is:

  1. Remote-control a locally captured presentation webpage in a meeting

I think it's important to look at the original use case, to not bake in assumptions or implementation decisions already taken.

With that in hand, I'd take a step back and ask whether *getDisplayMedia* or  *getViewportMedia*  is the right tool.

Attempting to build this new integ

[2021-04-15 20:59] jan-ivar commented on #166
I also sense a larger question here: how do webpages cooperate on the web, to create an integrated experience?

Are we sure we want *getDisplayMedia* at the core of it?

[2021-04-15 22:44] jan-ivar commented on #167
@annevk thanks, but did you mean to link to this one as well? https://github.com/whatwg/html/issues/4364

@karlt I can't think of any case like that.

I think that'd work in our case since *getDisplayMedia* is the lone feature [enabled by](https://www.w3.org/TR/screen-capture/#feature-policy-integration) `"display-capture"`.

Though now I'm curious, can an iframe doc get transient activation witho

[2021-04-15 22:54] karlt commented on #167
No, a user interaction in an iframe [causes](https://html.spec.whatwg.org/multipage/interaction.html#user-activation-processing-model) active Windows of all, even cross-origin, ancestor browsing contexts have their timestamp updated, so all ancestor windows (including the top-level) always get transient activation when the iframe gets it.

[2021-04-15 23:14] jan-ivar commented on #160
If this is the only use-case then the following might suffice:
[code]
The security properties don't seem significantly different to me.

That might work too, but we'd want to require site-isolation and html-capture opt-in, just the same, I think.

[2021-04-16 08:40] eladalon1983 commented on #160
A similar workaround is discussed in [§ 4.2.1](https://eladalon1983.github.io/mediacapture-screenshot/#workarounds-using-get-display-media) of my proposal. (Section numbering could change over time - I am referring to the section for gDM-based workaround.) I agree that with `getViewportMedia`, that workaround is much improved, but I still think a bespoke API still makes sense - discussed below.

W

[2021-04-16 09:26] youennf commented on #167
I cannot think of a case like that.
But I can see top level frames not wanting that any random click can be used by third-party iframes, even though they have "display-capture" permission.
My understanding here is that the postMessage from top level frame to third-party iframe is triggering the "transient activation" delegation.
Is that correct?

[2021-04-16 09:36] annevk commented on #167
"Transient activation" isn't tracked through `postMessage()` at the moment. There's a proposal in https://github.com/whatwg/html/issues/4364 but that went dormant. That also wouldn't solve any existing scenarios as code would have to be updated to make use of it.

cc @dtapuska

[2021-04-16 10:05] youennf commented on #167
For "existing code", quirks can be used as a short term mitigation.
I hope we can come up with some consensus for third-party iframe mitigations.
FWIW, Safari is shipping strict activation rules for getDisplayMedia.

[2021-04-16 10:44] karlt commented on #167
The proposal here is not to pass the transient activation to a cross-origin frame by `postMessage()`. i.e. it is not to provide cross-origin transient activation for general usage.  I guess you could view the `postMessage()` as informing the third-party frame that the top-level has transient activation, in much the same way as a user-gesture handler might inform a `Promise` microtask.

[2021-04-16 11:35] eladalon1983 commented on #166
I think this recurring topic deserves separate discussion. If the WG decides to abandon gDM, then we can close all threads relating to incremental improvement of gDM. Until such a decision is made, I think we should judge proposals to improve gDM on their own merits.

Looking at this specific proposal (#166) and its associated PR (#163), I do not see any criticism of the proposal's merits. The use

[2021-04-16 15:33] mustaqahmed commented on #167
Let me clarify last few posts here, we are linking two different proposals here:

- @karlt is correct about [JS API for querying User Activation](https://github.com/dtapuska/useractivation) which allows a frame to only "see" the user activation state of another frame.

- The issue @annevk linked (whatwg/html#4364) was delegating user activation  through `postMessage()` calls.  This issue can be co

[2021-04-16 16:04] annevk commented on #167
@mustaqahmed if you could note that in that issue (including a link to the TAG review) that would be appreciated.

I cannot open the Capability Delegation document. It would be helpful to understand how it differs from the `postMessage()` approach which also seems to be about delegating the capability...

[2021-04-16 16:14] youennf commented on #167
Can you make that document publicly available.

That seems like a good default to me in general.

[2021-04-16 16:16] mustaqahmed commented on #167
Sorry I pasted a wrong link there!  I fixed the link above.

[2021-04-16 16:21] mustaqahmed commented on #167
@annevk Let's discuss the new proposal through [WICG/capability-delegation](https://github.com/WICG/capability-delegation).  I will close the HTML issue and other (quite a few) untied knots around the old proposal soon.

[2021-04-16 16:21] annevk commented on #167
Ah okay, so the problem with delegating user activation is that it's too generic. You want to delegate user activation but scoped to a particular API. I like that.

[2021-04-16 21:00] jan-ivar commented on #160
Our mandate is to _fix_ the _"dangers of approving video-capture"_, not educate users to stay away from it.

The _"dangers"_ in *getViewportMedia* are mitigated by site isolation, capture opt-in and permission prompt. I think that's sufficient. But if you don't then I'm listening.

Let's order the possible APIs by LOW to HIGH risk:
 1. captureScreenshot() (isolated + opt-in)
 2. getViewportMedia()

[2021-04-16 21:22] eladalon1983 commented on #160
Before I dive into the security discussion - if your position happens to be "I would support this if we just add the requirements of isolation and opt-in," then I would be gratified to hear that explicitly. If that's the case, I think we can set to work on nailing down all of the other details, and leave this one particular topic for later.

---

I am not sure yet if I am arguing for 1 or 3; this

[2021-04-16 22:53] jan-ivar commented on #160
As I [stated](https://github.com/w3c/mediacapture-screen-share/issues/160#issuecomment-821562028), *getViewportMedia* seems sufficient to me for this use case. Any benefits of an API that goes even further, while they may be real, seem marginal from where we are today, so I'd suggest we revisit that value proposition once we have *getViewportMedia*.

Since we haven't ironed out COOP+COEP+html-capt

[2021-04-19 08:52] eladalon1983 commented on #160
@jan-ivar, I think we have two key disagreements:
1. I don't think cross-origin isolation and/or opt-in would remove the need for in-browser blacking out or otherwise censor content prior to handing it over to the application.
2. I strongly disagree over the characterization of this API's benefits as "marginal." Almost all Google products use this. Facebook approximates this by asking the user to

[2021-04-19 14:47] jan-ivar commented on #160
@eladalon1983 This is making it hard to have a meaningful conversation about security, and risks confusing things. I propose we table this until we've made progress on the viewport capture security story. We still have lots to sort out there first.

If that's true it would be a severe blow to the *getViewportMedia* security story. Would love to hear the threat model.

[2021-04-19 15:25] guidou commented on #160
I think in-browser blacking out would be very useful to file feedback on a site that provides end-to-end encrypted chat and the user does not want to share sensitive content irrelevant to the bug. I don't think cross-origin isolation would help in this case.

[2021-04-19 18:34] eladalon1983 commented on #160
I suggest reading "I am not sure" as "I might conceivably end up agreeing with you fully by the time we reach this topic." I suggest that we use the working assumption that cross-site isolation and opt-in are requirements for captureScreenshot.

So far [you have agreed](https://github.com/w3c/mediacapture-screen-share/issues/160#issuecomment-821562028) that captureScreenshot is lower risk than get

[2021-04-20 07:07] alvestrand commented on #160
Note - I think permission is a very reasonable thing to require for "screenshot" (probably a separate permission from anything else). I think site isolation is *not* a requirement, given that the user is going to see the content before sharing, and requiring site isolation would prevent screenshot from capturing what's actually on the screen for any non-isolated page.

[2021-04-21 08:00] murillo128 commented on #161
My main use case requires to be able to both play the audio normally and capture it, but I am totally in favor of a way to enable or disable it via API, and the `suppressLocalAudioPlayback ` constraint seems the good way to go.

One question, what would happen if there are several calls to getCurrentBrowsingContextMedia each one with different values? should the final value be and `and` or and `or

[2021-04-21 08:53] eladalon1983 commented on #159
Closing this because w3c/mediacapture-handle#52 is the new direction. (But good that we have some of the discussion's history here.)
I'll be updating w3c/mediacapture-handle#52 soon, btw.

[2021-04-21 08:53] #159 closed, assigned to nobody

[2021-04-21 09:08] eladalon1983 commented on #161
Playback suppressed if-and-only-if `>= 1` active captures with `suppressLocalAudioPlayback` specified.

[2021-04-21 09:20] murillo128 commented on #161
that would work for me

[2021-04-21 13:18] camillelamy commented on #155
@annevk Do you have some opinion on the right mechanism here? In Chrome, I think we're a bit more in favor of using required Document Policy + crossOriginIsolated. However, an approach using COEP + crossOriginIsolated can also work.

[2021-04-21 13:53] annevk commented on #155
I think if it doesn't affect subresources (as seems to be the case), something like Document Policy might be more appropriate. Mozilla hasn't really taken a stance on Document Policy though and it's currently in WICG for that reason. I'll see if others have thoughts.

[2021-04-22 06:36] annevk commented on #160
I think it is a requirement and @jan-ivar is right that if you solve gVM you solve this. The UI proposal seems good and we should definitely have that, but we should not expect the user to be able to discern cross-origin information leaking that might be harmful to them in some way.

[2021-04-22 07:29] guidou commented on #160
I don't think solving gVM solves this use case. For sites that provide end-to-end encrypted services, the ability for the user to remove sensitive content before sharing it unencrypted with the site is essential. Site isolation does not solve that.

[2021-04-22 07:35] annevk commented on #160
That use case is not part of OP, but if included I'd still argue that the gVM requirements are a minimum requirement for this. To address use cases such as yours there would be additional UI requirements.

[2021-04-22 07:37] dontcallmedom commented on #160
let me try to summarize where I think the contention is:
* gVM clearly can be used as a fallback to generate a screenshot (as @jan-ivar described it through a one-liner), and has the benefit of protecting users from hard-to-understand (and likely hard-to-spot) cross-origin attacks.
* A dedicated getScreenshot API would allow a different UX which lets users review & redact the screenshot to remove

[2021-04-22 19:30] jan-ivar commented on #160
I think that's a fair summary.

My concern is trusting users to recognize or even be aware of potential attacks. Expecting users to detect something abnormal when the very use case is to report something abnormal, seems flawed.

[2021-04-22 20:45] eladalon1983 commented on #160
I recognize the benefits of requiring `cross-origin isolation + opt-in`, as well as the deficiencies of stand-in security measures. It is for that reason that I have not fully formed an opinion on the matter.

I know malicious sites regularly mislead users with false promises of salacious media content and free cryptocurrency. I can imagine how such a site could trick the user into grabbing a scre

[2021-04-22 21:30] jan-ivar commented on #160
A site could do [this](https://jsfiddle.net/jib1/hxzs3to0/show) for example.

[2021-04-22 21:50] eladalon1983 commented on #160
IIUC, this is an argument against attempting to detect suspicious behavior through low opacity. The demo demonstrates another attack, and implies that there are too many tricks for us to write heuristics against. It is a good argument and I take the lesson to heart.

A question remains - what social-engineering could be employed to convince the user to approve a screenshot, and would such social-e

[2021-04-23 06:05] dontcallmedom commented on #160
“show us you've solve this on-screen puzzle and you may win the 10K prize!”
or similarly, a pseudo-lottery win, virtual jackpot machine, etc. Combined with phishing, it would probably trick a lot of people.

[2021-04-26 23:53] jan-ivar commented on #155
The plan is to rely on permission prompting and privacy indicators, and a list of other items [here](https://docs.google.com/presentation/d/1CeNeno5XuDhm1mpnVyE9eT14YKZgZUtgQsJfC8uqEpA/edit?ts=5fc7fcd2#slide=id.gaef31c926d_1_111)  — Any kind of sanitizing risks creating an ad-blocker blocker mode.

There's some pushback on the visibility requirement, since there are use cases of capturing e.g. a G

[2021-04-27 08:20] eladalon1983 commented on #155
Pushback on visibility requirements placed on `getViewportMedia` could not be motivated by the behavior of `getDisplayMedia`. Unless the two had to have the same visibility requirements, but I don't think that's the case.

Speaking of requiring visibility for gVM, I do think it would be counter-productive.
* Attacks are generally possible within the span of a single frame, escaping the user's noti

[2021-04-27 14:12] camillelamy commented on #155
I don't think a requirement that the capture stops when the tab goes into the background brings that much in terms of security. Attacks that we are worried about can be accomplished by embedding an iframe at very low level of visibility, making it unnoticeable for the user even if the tab is in the foreground. I think it is important that the tab is in the foreground when the permission to share i

[2021-04-27 17:12] eladalon1983 commented on #161
@jan-ivar, this did not fit into this month's interim. Do we need to wait for next month's, thereby also reducing the amount of time available for other issues, or can we settle this over Github? IMHO this issue has not seen much activity because it does not face opposition.

[2021-04-28 12:27] jan-ivar commented on #161
@eladalon1983 That is unfortunate, and has happened to me as well. Unfortunately, not all members follow issues and PRs closely. I think we should do all we can to finish review to get this PR in ship shape, and put it first on the agenda at next meeting. If you're able to solicit feedback early from folks that is always helpful of course, to minimize chances of unforeseen issues at the meeting.

[2021-05-03 10:10] eladalon1983 commented on #155
Has this been discussed out-of-band by any chance?

[2021-05-04 06:04] guidou opened #168 "overconstrained event is referenced in "Constrainable Properties for Captured Display Surfaces""
This event and its related behavior (muting overconstrained tracks) was removed from mediacapture-main long ago.

[2021-05-05 13:16] abacaj commented on #105
Is there a way to record a region of interest today using get user media api and media recorder?

[2021-05-25 16:49] eladalon1983 commented on #166
(My latest proposal is outlined in [this explainer](https://docs.google.com/document/d/1oSDmBPYVlxFJxb7ZB_rV6yaAaYIBFDphbkx5bXLnzFg).)

Following the [WebRTC WG meeting](https://www.w3.org/2011/04/webrtc/wiki/May_25_2021) we've just had, I'd like to gauge where we currently stand, and what the path forward is:
* @jan-ivar and @youennf wanted to remove `exposeOrigin` from the `CaptureHandleConfig`

[2021-05-25 19:15] eladalon1983 commented on #168
Is [this OverconstrainedErrorEvent](https://w3c.github.io/mediacapture-main/archives/20170828/getusermedia.html#dom-overconstrainederrorevent) perhaps what was meant?

[2021-05-25 19:22] eladalon1983 commented on #168
It bisects [here](https://github.com/w3c/mediacapture-main/issues/573).

[2021-05-25 19:50] eladalon1983 commented on #144
If navigation breaks off the capture, then the user is "informed" by the user agent's UX that the capture has stopped. To start it again shortly afterwards, maybe 10s later, could be terribly surprising, and possibly have very bad consequences for the user, who might by now have loaded something quite embarrassing to the screen.

Furthermore, getDisplayMedia doesn't have "permission" in the classi

[2021-05-25 20:01] eladalon1983 commented on #138
See issue #165. Possibly we can merge these discussions? I am not sure what discussions took place in October 2020, but at the moment Chrome is considering conditional focus, so it's unclear if we'd be able to support the specification of default value and calling it a day. (If we will - unclear which value we'd want, switch-focus or don't.)

[2021-05-25 20:09] eladalon1983 commented on #128
Specifying the "already visible part of a window name" sounds difficult even if only thinking of a single platform, let alone different ones. I'm on a Mac atm. What is the visible part of my current window? The word "Chrome" is not part of the window; it's part of the macOS menu bar. And on Windows, what is the window name if various interesting customizations are employed? How does one read the "

[2021-05-25 20:17] eladalon1983 commented on #125
Thought - what if we specified things in such a way that `{video: false}` weren't even possible?

So instead of:
[code]

Have:
[code]

We could accept `video = true` for a few releases and issue a warning, then deprecate.
(Note that the empty dictionary evaluates as true. If only true also auto-converted to the empty dictionary... 😄)

[2021-05-26 11:34] eladalon1983 commented on #29
This issue has not seen any activity in a long time. It appears that, important though it is, it is not important enough to merit action. I am closing this. Feel free to reopen.

[2021-05-26 11:34] #29 closed, assigned to henbos

[2021-05-26 11:37] eladalon1983 commented on #138
Duplicate of #165; closing.

[2021-05-26 11:37] #138 closed, assigned to nobody

[2021-05-26 11:38] eladalon1983 commented on #66
This issue has not seen any activity in a long time. It appears that, important though it is, it is not important enough to merit action. I am closing this. Feel free to reopen.

[2021-05-26 11:38] #66 closed, assigned to jan-ivar

[2021-05-26 11:46] alvestrand commented on #126
It is good to have a section called "security and privacy considerations" that has only considerations and no MUST or SHOULD statements, and then other sections (such as "how to capture video") that have the MUST and SHOULD statements.

[2021-05-26 11:48] alvestrand commented on #128
There seems to be no consensus that making a normative statement on what the label should be is either necessary or very useful. Suggest closing.

[2021-05-26 11:48] #128 closed, assigned to jan-ivar

[2021-05-27 12:50] eladalon1983 commented on #71
This issue has not seen any activity in a long time. It appears that, important though it is, it is not important enough to merit action. I am closing this. Feel free to reopen.

[2021-05-27 12:50] #71 closed, assigned to henbos

[2021-05-27 13:02] eladalon1983 commented on #81
Practical use of [displaySurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-displaysurface) - I know developers who use video screen-capture as a mechanism for taking a screenshot of the current tab. If the user shares anything but a tab, they can use that information to bail. It would be even more useful if they could also recognize current-tab/other-tab, but that's

[2021-05-27 13:09] eladalon1983 commented on #83
This issue has not seen any activity in a long time. It appears that, important though it is, it is not important enough to merit action. I am closing this. Feel free to reopen.

[2021-05-27 13:09] #83 closed, assigned to jan-ivar, youennf

[2021-05-27 13:17] eladalon1983 commented on #89
This issue has not seen any activity in a long time. It appears that, important though it is, it is not important enough to merit action. I am closing this. Feel free to reopen.

[2021-05-27 13:17] #89 closed, assigned to jan-ivar

[2021-05-27 13:23] eladalon1983 commented on #141
I'm still reading through the thread and following all the links. I'm currently making my way through `Dred Scott v. Sandford, 60 U.S. (19 How.) 393 (1857)`. I'll keep y'all posted.

[2021-05-27 13:25] eladalon1983 commented on #143
I think the discussion here has fizzled out. We can proceed on other threads such as w3c/mediacapture-handle#52. As always, feel free to reopen. :-)

[2021-05-27 13:25] #143 closed, assigned to nobody

[2021-05-27 13:26] #144 closed, assigned to nobody

[2021-05-27 13:27] eladalon1983 commented on #145
The discussion seems to have concluded. Closing as a duplicate of #160.

[2021-05-27 13:27] #145 closed, assigned to nobody

[2021-05-27 13:30] eladalon1983 commented on #150
It is unclear to me what mechanism @gaer87 proposes for indicating which specific other tab is to be shared. It's been >0.5y since the original posting, and 2 months since the last comment. I don't think the discussion is progressing. I am closing for now. Feel free to reopen.

[2021-05-27 13:30] #150 closed, assigned to nobody

[2021-05-27 13:32] eladalon1983 commented on #157
Closing due to inactivity.

[2021-05-27 13:32] #157 closed, assigned to nobody

[2021-05-27 13:56] youennf commented on #166
I think these two suggestions are improvement.
If we go with a generated ID, it could represent the tab and be immutable on navigation.
Then comes the issue of what do in case of navigation. There may be an interest in other APIs to bootstrap tighter communication between two tabs. Maybe it deserves a specific API that could be reused outside of getDisplayMedia.

In that case, maybe the generated

[2021-05-27 14:39] alvestrand opened #171 "Need test for {video: false}, {video: true} and {video: {}}"
Some uncertainty in evaluating #125 exposed that we do not have WPT tests that test all combinations here (on a quick search).

Those tests should exist.

[2021-05-27 14:46] eladalon1983 opened #172 "Editorial: "capture capture" in doc is probably a typo"

[2021-05-29 16:51] eladalon1983 commented on #158
Background for those not involved - @jan-ivar, @youennf and I have been discussing whether a call to getViewportMedia should return the entire tab's viewport, or only of the viewport of the iframe from which getViewportMedia was called.

@jan-ivar and @youennf, here's another issue. When getViewportMedia is called, the user is prompted to approve the capture. It is very likely that the user agent

[2021-05-29 17:04] eladalon1983 commented on #158
I think there's a larger principle here - that good APIs are clear about what they do, and clarity is achieved by being explicit. If we phrase getViewportMedia as essentially "capture the entire tab's viewport," there is no question of what happens to occluding/occluded content - it's immediately clear.

However, if the API crops to the current iframe, then things become a lot less clear for the d

[2021-06-01 10:21] eladalon1983 commented on #166
This would be a much taller order with significant implications for security. At the moment we're having trouble reaching consensus over something far more modest, despite kicking off the effort 2 months ago and despite all previous proposals from Apple being adopted. I think it's better to think of this as a potential extension. (Please recall that while discussing this feature, Apple has argued

[2021-06-01 13:44] youennf commented on #166
As I said in the past, I am fine with having something very modest like exposing a static piece of information which always contain an origin (or expose nothing).
But it seems your usecase is much more advanced than that and requires tracking navigation, change of origins and so on.

[2021-06-01 13:52] eladalon1983 commented on #166
**On the one hand:** You suggested exposing the origin back on the original thread. It seems like you're still fine with it, and even ask for it to be done by default, with no way for the captured app to opt-out of that part.

**On the other hand:** You list change of origins (e.g. when the captured tab experiences navigation) as an unexpected (?) complicating factor.

Please help me understand. H

[2021-06-01 14:06] youennf commented on #166
Captured app could always opt-out of exposing its origin.

One known use-case is for a web-app to ensure it is capturing itself or one of its tab. This could be supported by this 'modest' proposal.

Another use-case is for a web-app to capture another tab and start driving this tab, which requires tight synchronization between the two. My understanding is that this is similar to the previous case

[2021-06-01 14:16] eladalon1983 commented on #166
The context of this message is completely lost on me. I don't understand how it correlates to our discussion thus far. I can understand each paragraph in isolation, but what is the general thrust of this message? What does it say?

[2021-06-01 15:33] youennf commented on #166
Sorry if I was not clear, I was trying to express the granularity of use case complexity.
These are thoughts that I was hoping would help but this is not the case apparently :(
Overall, I do not have a solid view on a proposal, hence why I am trying to start with a small-but-still-useful proposal.

Here is another idea, not thought out at all but anyway, it at least helps illustrating the diversit

[2021-06-01 17:53] eladalon1983 commented on #166
1. Because it does not address all use-cases as well as exposing a capture-handle. (Note use-cases 2, 3 and 4 in the original message.)
2. Because it's an effort of greater complexity, larger scope, and much more significant security and privacy ramifications.
3. Because it's good to have that as a later extension. You have been advocating small initial scope, after all.

I think it would be good,

[2021-06-02 21:35] eladalon1983 commented on #166
Added a fifth use-case - avoiding the "hall of mirror" effect when self-capturing.

[2021-06-03 01:30] jan-ivar commented on #166
I also wanted APIs like this under site-isolation and capture opt-in. So I'd say we've not reached our last point of disagreement.

I feel @youennf understands the complexity that's not apparent in the OP as it conflates the capture of an "app" with capture of a tab:

To poke holes: what if the user instead chooses a non-Presentron tab, but later navigates to Presentron in it?

I'm not ready to co

[2021-06-03 09:21] eladalon1983 commented on #166
That tabs can be navigated after capture begins was [discussed explicitly](https://github.com/w3c/mediacapture-screen-share/issues/159#issue-843753041) two months ago in my very first message on this topic. In [this linked message](https://github.com/w3c/mediacapture-screen-share/issues/159#issue-843753041), search for the section titled "What if the user navigates the captured tab?"

We have disc

[2021-06-03 11:17] eladalon1983 commented on #125
This currently reads:
[code]
If we remove "If false, the request MUST be rejected with a TypeError" we end up with text that addresses 2 out of 3 possible values. Are we sure this is an improvement? Or is the suggestion to replace MUST with "must," lowercase?

[2021-06-03 11:27] annevk commented on #125
It needs to be an informal description without implementation requirements. Lowercasing must does not help with that, it would still be duplicating a requirement.

[2021-06-03 11:35] eladalon1983 opened #176 "restrictOwnAudio is missing from MediaTrackSettings"
* [MediaTrackConstraintSet](https://w3c.github.io/mediacapture-screen-share/#extensions-to-mediatrackconstraintset) currently covers `displaySurface`, `logicalSurface`, `cursor` and `restrictOwnAudio`.
* [MediaTrackSettings](https://w3c.github.io/mediacapture-screen-share/#extensions-to-mediatracksettings) neglects to mention `restrictOwnAudio`.

[2021-06-03 13:43] eladalon1983 commented on #141
This issue appears to have a non-trivial amount of unwritten history. @jan-ivar, could you please add the clarifying language which you suggest, or otherwise advise what was agreed upon?

[2021-06-03 14:01] jan-ivar commented on #166
@eladalon1983 I'm not saying it wasn't discussed, but that I find it overly complex for the use case at hand, and would like to explore better web integration built on safer tech than today's unsafe non-isolated model.

[2021-06-03 14:06] eladalon1983 commented on #166
Halting all (relevant) progress until `getViewportMedia` is specified, implemented and adopted is not an acceptable solution for us. Not without good reason, and no such reason has been presented.

[2021-06-03 14:37] #81 closed, assigned to eladalon1983

[2021-06-03 14:38] alvestrand opened #179 "Consistently capitalize user agent"
Either User Agent or user agent, but not both. @dontcallmedom  - opinions?

[2021-06-03 14:40] #172 closed, assigned to eladalon1983

[2021-06-03 14:56] dontcallmedom commented on #179
HTML uses the lower case version, so I would go with that

[2021-06-03 14:56] #125 closed, assigned to nobody

[2021-06-03 15:01] #168 closed, assigned to eladalon1983

[2021-06-03 15:08] eladalon1983 opened #180 "Should restrictOwnAudio be settable?"
During the last editors' meeting, the question arose of whether `restrictOwnAudio` should be settable. It seems to me that the best thing to do would be to have `getCapabilities()` return a `sequence<boolean>` and let the UA decide whether it supports changing this constraint on the fly.

[2021-06-03 15:11] #93 closed, assigned to eladalon1983

[2021-06-03 15:11] #176 closed, assigned to eladalon1983

[2021-06-03 15:22] #179 closed, assigned to nobody

[2021-06-03 16:33] #101 closed, assigned to eladalon1983

[2021-06-03 19:39] jan-ivar opened #182 "Recognize safer & better-integrated web presentations in getDisplayMedia"
### Use case
A participant in a video conference (website A), can safely present slides in a presentation-website B open in another tab or window, without exposure to privacy risks from oversharing, or threats to the web’s same-origin security model. This presenter can advance (next/previous) slides from within A or B.

Safety must be the default, and to the extent a user agent still offers unsafe

[2021-06-03 19:44] jan-ivar commented on #166
I'm not proposing we block on the `getViewportMedia` API. I've opened https://github.com/w3c/mediacapture-screen-share/issues/182 to clarify the direction I propose.

[2021-06-03 20:12] eladalon1983 commented on #182
It is unclear to me why you'd want to limit ID-exposure to cross-origin isolated sites. Making it opt-in seems sufficient to me. Why not decouple your proposal for `isolated-browser` from that of a capture-ID?

[2021-06-03 20:25] eladalon1983 commented on #166
Proposal #182 packages two separate issues together in unnecessary union.
* `"isolated-browser"` is a stab at increasing security. A noble cause, good luck.
* The ID allows bootstrapping communication. It seems to me like a neutered version of `Capture Handle`, and I don't see why it would be beneficial to gate it behind such adoption-hindering measures.

[2021-06-03 21:46] jan-ivar commented on #182
I think they're coupled, because we haven't sufficiently isolated (not pun intended) the use case of  sharing and controlling an _app_ from that of sharing and controlling its _tab_ and everything in it (including its bfcache and anywhere new you go).

 * We can't share an app, so we share the next best thing: it's tab.

This is oversharing. And it can bite people, because it deceptively _feels_ l

[2021-06-03 22:26] eladalon1983 commented on #182
I think it pays to be exact when discussing potentially-alarming concepts like "control" of an app. The capturing app does **not** "control" the captured app. It is sending it messages. The captured app is not compelled to react to these messages, or even to read them. When a captured tab is navigated, no power is coercing the newly loaded application to continue the collaboration that the previou

[2021-06-04 14:59] jan-ivar commented on #182
Apologies if I was unclear. I'm describing user experience. When everything works, users are controlling what appears to be a shared app, and will form a mental model around what they are sharing based on that (they click "Present", find their presentation by name or thumbnail, share "it", and control "it").

This is a _desirable experience_, and I don't fault services for wanting to provide it. B

[2021-06-04 15:03] jan-ivar commented on #182
Also, convergence around site-isolation and capture opt-in is far from certain, so being able to identify features that can drive adoption, I think is good. Especially when they fit.

[2021-06-04 16:14] eladalon1983 commented on #182
Citation needed.

Using [Capture Handle](#166), VC applications could immediately detect when navigation occurs away from a trusted capture-target. VC applications could use this knowledge to pause remote-sharing and prompt the user to confirm they'd still like to share. This is a partial solution that could be delivered in 2021. You have presented two counter-proposals, getViewportMedia-based-Web

[2021-06-04 20:54] jan-ivar commented on #182
That's interesting, but I'd like to see this solved in the user agent, and not leave it up to individual sites to get right.

What if the browser did this instead? Would you be on board with that?

I did not. I picked 2023 in my [crystal ball slide](https://docs.google.com/presentation/d/1fyRuFEqIsMrBg5KnfRxyH_2DRo3yudtOqI7ritpMUo0/edit#slide=id.gd97c219958_0_32) as a frame of reference far enough

[2021-06-07 14:27] eladalon1983 commented on #182
I've proposed some similar things in the past. For example, I've suggested a `pauseCaptureOnNavigation` constraint. So I would be interested in discussing such solutions. But the devil is in the details. Importantly, since we're not going to deprecate vanilla tab-capture through getDisplayMedia, I am still interested in solutions that target that flow. Even partial solutions, since this will be **

[2021-06-07 16:36] eladalon1983 commented on #161
Status update for transparency's sake - we have consensus and the PR (#164) is under review, with most remaining issues appearing to be technicalities.

[2021-06-10 14:52] #161 closed, assigned to eladalon1983

[2021-06-11 14:14] alvestrand opened #184 "Revisit: Let getDisplayMedia() influence the default type choice in the picker"
We continue to have a strong demand from Web developers for functionality that lets them influence what kind of display surface the user will capture; this is one of the core differences between the pre-standard "Chrome extension API" and the WG-defined getDisplayMedia() function.

Such a functionality is easy to add (allow a constraint on capture surface type). If it does not block the user from

[2021-06-11 18:56] jan-ivar commented on #184
Sorry this is not ready for PR.

[2021-06-11 21:05] jan-ivar commented on #184
This would revisit an existing WG decision. Has new information surfaced since https://github.com/w3c/mediacapture-screen-share/pull/32 to consider it? cc @martinthomson

As I recall, this was not among the concerns. The concerns, outlined in the [Security and Privacy Questionnaire](https://github.com/w3c/mediacapture-screen-share/blob/gh-pages/questionnaire.md#24-how-does-this-specification-deal-

[2021-06-11 21:43] jan-ivar commented on #184
As I [replied on twitter](https://twitter.com/jibrewery/status/1403450432547139585), we'd like to focus on https://github.com/w3c/mediacapture-screen-share-extensions/issues/9: a proposal to give web-pages that meet the security-criteria [agreed on with Chrome Security], preferential placement in the `getDisplayMedia()` picker. This seems like the safe and responsible way to proceed for the long-t

[2021-06-12 00:00] eladalon1983 commented on #184
When/where has Chrome Security given their blessing to w3c/mediacapture-screen-share-extensions#9? To preferential placement of certain documents in the media picker? AFAIK, Chrome Security has spoken for cross-origin isolation and an opt-in header for getViewportMedia. That's a different topic.

[2021-06-12 06:45] alvestrand commented on #184
Yes, this is asking to revisit an existing WG decision.
A PR is a perfectly adequate tool for showing what the resulting change would be.

[2021-06-12 06:48] alvestrand commented on #184
The argument is that the WG decision was based on wrong information and an inadequate security evaluation, and that the WG decision has led to a lack of conformance to the WG specification in the market. We're asking to revisit it.

[2021-06-12 16:56] jan-ivar commented on #184
@eladalon1983 They haven't. I [said](https://twitter.com/jibrewery/status/1403427341867655171) _"Their view on a similar proposal [[#155](https://github.com/w3c/mediacapture-screen-share/issues/155#issuecomment-812009563)] for easy self-share is that it requires not only site-isolation but opt-in from targets in order to be safe"_, and [then](https://twitter.com/jibrewery/status/140342922638512947

[2021-06-12 17:05] jan-ivar commented on #184
@alvestrand In order to not waste the WG's time, I believe it is customary to introduce new information with such requests, is it not? Simply asking for a re-vote doesn't seem productive, because what would make a different outcome likely?

A discovery that old information is wrong might qualify as new information, if it can be substantiated. Would you be able to point out prose in the [spec](http

[2021-06-14 11:25] youennf commented on #166
I don't really see why it does not solve 2, 3 and 4, given MessagePort would be complemented by Origin.

Well, that is the end goal of the main use case you are bringing to the table.
If MessagePort does not work for security reasons, I wonder whether the same security reasons might not impact the capture handle proposal.

Small initial scope would be origin, maybe origin plus pathname or somethin

[2021-06-14 12:56] eladalon1983 commented on #166
Assuming it IS complemented by origin, then some of these use-cases would also be **partially** addressed¹, but to an inferior extent. Motivating a change from our current approach to a new approach requires a set of compelling reasons. I have not yet heard such reasons. This new approach offers more complexity (where previously less complexity was requested by Apple) and inferior handling of the

[2021-06-14 14:38] alvestrand commented on #184
Part of the discussion showing developer interest is in https://crbug.com/904831 and bugs duplicated into it.

The current API is based on the presumption that in user story flows that involve capturing something, the user story flow is neutral as to what type of surface is to be handled, and that any input is going to be considered valid.

This presumption is clearly absurd; in nearly every user

[2021-06-14 14:50] alvestrand commented on #184
as to "what's in the spec is wrong":
I was trying to find justification for why the lack of a "what you want to share can probably be found in this category" constraint was a security feature. I did not find it in either document.

This section:

"Not accepting constraints for source selection means that getDisplayMedia only provides fingerprinting surface that exposes whether audio, video or audi

[2021-06-15 18:16] eladalon1983 commented on #158
@jan-ivar and @youennf, could you PTAL? This is a blocking topic for [getViewportMedia](https://github.com/w3c/mediacapture-screen-share/issues/155).

[2021-06-16 09:45] youennf commented on #158
To summarise:
- There is interest to capture a whole tab view, let's call it 'tab' option.
- There is interest to capture a document view, let's call it 'self' option.
- There is interest to capture a subpart of the document view, for instance an iframe of a document, maybe divs, let's call it 'node' option.

I think there is consensus for providing an option in the API to allow a web page to ask

[2021-06-17 03:18] jan-ivar commented on #158
I would be open to an option if the default is "self".

I don't think we should add "node". Nodes don't all have viewports, and at that depth, I think it becomes surprising to users what is actually being captured (whatever is rendered at the absolute coordinates of that node, which based on layout can be entirely different nodes). The utility here seems low, and I'm not even sure I want to know t

[2021-06-17 03:24] jan-ivar commented on #158
I don't think UAs are likely to offer preview. Users don't understand iframes, and the cropping is not a security guarantee (since the capture may contain stuff overlapping the iframe). So I see little value in a user agent communicating that the grant is of a section smaller than the page, even for "self" from an iframe.

[2021-06-17 15:30] eladalon1983 commented on #158
Or better yet - don't allow a default. Force the application to be explicit. Wdyt?
(Not a critical point for me, but otherwise we might get into a situation where initially, some browsers only supports the less technically-challenging non-default version, and nobody benefits from that.)

That is precisely my point. I think user agents are very likely to provide a preview, as this gives a clear ind

[2021-06-17 19:40] jan-ivar commented on #158
That's redundant unless the caller is in an iframe. I'd want the default to be "self" if we go with an option.

[Again](https://github.com/w3c/mediacapture-screen-share/issues/158#issuecomment-862889108), cropping is not a security guarantee, so no, they're not approving only the cropped area.

([Crbug 2276](https://bugs.chromium.org/p/webrtc/issues/detail?id=2276) aside) how would one implement o

[2021-06-18 00:09] eladalon1983 commented on #158
I beg you to read my messages more carefully. The user approves the entire tab. I've been arguing that very point all along. Like [here](https://github.com/w3c/mediacapture-screen-share/issues/158#issuecomment-863338821): "The end-user consents to capturing the entire tab, always." If you think this is not clear enough, I am always eager to hear how I can enhance the clarity of my writing.

By rai

[2021-06-23 07:53] youennf commented on #158
Another potential approach:
- Add an API for tab viewport capture, e.g. navigator.mediaDevices.getTabViewPortMedia()
- Add an API for document viewport capture, e.g. document.getViewPortMedia()
- Add an API for iframe viewport capture, e.g. HTMLIFrameElement.getViewPortMedia()
All these methods would call the same underlying algorithm which would take a viewport as internal parameter.
This underly

[2021-06-30 14:23] tsahilevi commented on #184
Today the main complaint I see from vendors and users is the amount of clicking that are needed to get screen sharing done.
At the moment, that bare minimum is 3 assuming you're aiming for full screen. 4 (or more) for anything else.
This isn't user friendly to say the least.

Having the ability for the application to hint on the desired screen sharing default choice would be a good start to remedy

[2021-07-01 08:57] eladalon1983 commented on #158
I'd be happy with this approach.

[2021-07-13 19:29] arnaudbud commented on #184
We at [RingCentral](https://www.ringcentral.com) think this would be useful to us.

[2021-07-20 21:21] ajf101 commented on #184
At Pexip, we think this would be a useful feature too. Giving the opportunity to save historic preferences is one benefit, but the most significant benefit for us would be to guide towards the appropriate option which supports audio sharing (i.e. go straight to tab capture specifically on Mac).

[2021-07-21 20:49] emcho commented on #184
This looks good and I find it could prove useful to the [Jitsi Meet](https://jitsi.org) app suite. Thanks for doing the work!

[2021-07-22 21:15] bbaldino commented on #184
We'd be interested in this for Webex as well.

[2021-07-23 09:34] eladalon1983 commented on #166
https://webrtchacks.com/capture-handle/

[2021-08-11 15:04] alper-teke commented on #184
As [Atos](https://atos.net/) we're very much interested in this too

[2021-08-26 15:06] eladalon1983 opened #187 "Mangled text in spec"
The text reads:
[code]
This appears to be a copy/paste error.

[2021-09-02 14:30] #187 closed, assigned to nobody

[2021-09-02 14:47] youennf opened #189 "Should Application surface be removed"
It does not seem to be implemented.

[2021-09-02 23:57] jan-ivar commented on #155
Update on blockers:
 1. **Cropping**: @eladalon1983 will present a `navigator.mediaDevices.getViewportMedia()` that will share the entire tab. This lets us revisit cropping in https://github.com/w3c/mediacapture-screen-share/issues/158.
 2. **Document Policy**: I'm fine with `Require-Document-Policy: html-capture` that @camillelamy proposed. @annevk?

[2021-09-02 23:57] jan-ivar commented on #184
@alvestrand and @eladalon1983 suggested some UX mitigations this morning that might let us move forward here.

The spec could strongly recommend that user agents:
 1. Remove the requesting tab from the list of available `"browser"` sources, or hide/warn/discourage picking it.
 2. Remove the requesting tab's window from the list of available `"window"` sources, or hide/warn/discourage picking it.

[2021-09-03 07:19] annevk commented on #155
Once Document Policy has a proper name (that would also affect the name of that header) I would be okay with it as well. See https://github.com/WICG/document-policy/issues/26.

[2021-09-03 08:00] alvestrand commented on #184
If we follow the advice in 1. - should this apply to just the requesting tab, or to all tabs with the same origin?
Same-origin tabs have the ability to manipulate each other, so a trivial workaround for this restriction would be to open up another tab in which to do the dastardly deeds before calling getDisplayMedia.

[2021-09-03 08:42] eladalon1983 commented on #184
The same workaround could be applied with tabs that only **appear** to be cross-origin. Namely:
* evil.com runs in tab1 and opens collaborator.com in a new tab - tab2.
* collaborator.com embeds a "mailman" iframe with an evil.com document.
* Technically speaking, these tabs are not same-origin.
* Practically speaking, collaborator.com, in tab2, can postMessage() to the "mailman" evil.com iframe, w

[2021-09-03 09:28] youennf commented on #184
It seems valuable to me to provide as precise as possible guidelines.
For instance, it is problematic to have capturing document be the opener of captured document.
Same-origin tabs is also problematic as noted by @alvestrand.

As of iframe communication, origin partitioning should help preventing example.com/evil.com iframe to communicate (through BroadcastChannel, IDB...) to example2.com/evil.co

[2021-09-03 10:30] eladalon1983 commented on #184
I've made a demo. Please launch these two tabs side by side and wait ~5s:
* [equal-burnt-archduke](https://equal-burnt-archduke.glitch.me/)
* [wood-walnut-achillobator](https://wood-walnut-achillobator.glitch.me/)

What you see here is that these two cross-origin tabs can talk to each other. So tabs that are not same-origin may nevertheless collude to produce behavior identical to capturing a same

[2021-09-03 10:39] youennf commented on #184
Right, and this is something that Safari prohibits.
I believe this is also being worked on in other browsers, see https://privacycg.github.io/storage-partitioning/

[2021-09-03 10:40] youennf commented on #184
See https://github.com/whatwg/html/issues/5803 for BroadcastChannel specifically.

[2021-09-03 13:18] eladalon1983 commented on #184
Is Safari planning to prohibit cross-origin tabs talking to each other using a shared server exposing a RESTful API designed to facilitate this communication? Because evil.com and collaborator.com can try that, too.

[2021-09-03 13:32] youennf commented on #184
I am not sure what you are referring to but third-party cookies are also highly restricted in Safari.
Going back to the actual issue, given that same domain tab communication is not restricted, contrary to cross domain tab communication, it makes sense to me to mention @alvestrand point in the spec.

[2021-09-03 13:54] eladalon1983 commented on #184
TL;DR: My point is that same-origin tabs aren't as special as they initially sound.
Reasoning: If tab X opens and captures a tab Y, then there is a risk that they can communicate **even** if they are not technically same-origin. Currently you can use a "mailman" in the form of an iframe+BroadcastChannel; in the future you could use a PeerConnection, shared cloud infrastructure, etc. We will never

[2021-09-03 14:42] jan-ivar commented on #184
@youennf Firefox Nightly appears to block it as well FWIW (just an observation).

@eladalon1983 True. Parties may also (co-)own both evil.com and collaborator.com outright, rendering communication between them unnecessary. This is why we should never pre-select a picker choice for instance.

There's no silver bullet here (that's https://github.com/w3c/mediacapture-screen-share-extensions/issues/9)

[2021-09-05 08:10] alvestrand commented on #184
Note to "A site presenting the user with a different domain in the URL bar seems more suspicious than one that doesn't" - this heuristic will trigger for any two domains that are both hosted at Amazon AWS, I think.

[2021-09-06 22:12] eladalon1983 opened #190 "Conditional Focus (When Display-Capture Starts)"
## Problem
When an application starts capturing a display-surface, the user agent faces a decision - should the captured display-surface be brought to the forefront, or should the capturing application retain focus.

The user agent is mostly agnostic of the nature of the capturing and captured applications, and is therefore ill-positioned to make an informed decision.

In contrast, the capturing a

[2021-09-06 22:13] eladalon1983 commented on #165
#190 is my updated suggestion for tackling this issue.

[2021-09-06 22:13] #165 closed, assigned to nobody

[2021-09-07 08:08] happylinks commented on #190
This looks amazing, been waiting for this for a long time! In tella.tv we have the following flow:
1. User goes to recorder
2. User selects a screen/window/tab they want to record
3. When picking window or tab, they get jumped to the window or tab, but need to go back to tella first to start the recording.
4. Start recording in tella
5. Countdown
6. Manually go to the tab/window they were recordin

[2021-09-07 08:11] happylinks commented on #190
Ah, reading the spec again, missed this point:
```If this call to focus() happens more than one second after the start of the capture, the user agent SHOULD have already made its own decision. The user agent SHOULD silently ignore this call focus().```

That means we would not be able to do "We fire .focus on the stream to bring them where they need to be automatically." after countdown.
Still bet

[2021-09-07 11:13] eladalon1983 commented on #190
Please note that 1s is the hard-limit, and normally the window of opportunity to calling `focus()` would close even earlier - as soon as the microtask on which the `Promise` was resolved is completed. (The 1s hard-limit prevents the application from keeping that microtask running for N seconds and then switching focus.)

The rationale for these limitations is preventing attacks where the capturing

[2021-09-07 11:17] happylinks commented on #190
Thanks for explaining! Preventing the focus will already help us a lot.

[2021-09-16 18:22] jan-ivar opened #191 "Restore focus requirement that got lost in #132"
"User gesture v1" guaranteed `getDisplayMedia` couldn't be called from an unfocused browser window, but #132 unintentionally regressed this `getUserMedia`-inherited requirement.

[2021-09-16 18:40] eladalon1983 commented on #191
Commented on the PR because it had more context.

[2021-09-21 11:19] eladalon1983 commented on #190
@jan-ivar and @youennf, I'd love to carry on from where we stopped at the end of the WebRTC WG Interim meeting yesterday.

@youennf
IIUC, your main concern was around the 1s hard-limit, but I think that you later mentioned this was due to a misunderstanding? Could you PTAL at my [proposed spec](https://eladalon1983.github.io/conditional-focus/index.html) and let me know what you think? Please see

[2021-09-21 11:24] eladalon1983 commented on #190
@jan-ivar and @youennf, I'd love to carry on from where we stopped at the end of the WebRTC WG Interim meeting yesterday.

@youennf
IIUC, your main concern was around the 1s hard-limit, but I think that you later mentioned this was due to a misunderstanding? Could you PTAL at my [proposed spec](https://eladalon1983.github.io/conditional-focus/index.html) and let me know what you think? Please see

[2021-09-21 12:16] eladalon1983 commented on #190
Btw, following the interim it became clearer to me which parts of my [proposed spec](https://eladalon1983.github.io/conditional-focus/index.html) were in need of clarification. I have made adjustments, mostly around (a) explaining the window of opportunity and (b) providing examples. PTAL.

[2021-09-21 15:22] eladalon1983 commented on #189
If no objections by next editors meeting (Thursday), I suggest a PR. Wdyt?

[2021-09-21 15:42] youennf commented on #189
A PR sounds good to me.

[2021-09-21 15:48] eladalon1983 opened #193 "getViewportScreenshot (lesser brother of getViewportMedia)"
Using `getViewportMedia` to obtain a single screenshot is a useful use-case that has already garnered some interest from Web-developers. However, some issues exist, motivating a variant of `getViewportMedia` to be specified, **subject to the same security-gating**. Those issues are:
* When `getViewportMedia` is called, the user agent does not know ahead of time how many frames will be consumed by

[2021-09-21 15:53] eladalon1983 commented on #160
Moving away from this proposal and towards [#193](https://github.com/w3c/mediacapture-viewport/issues/2).
Edit: [#193](https://github.com/w3c/mediacapture-viewport/issues/2) has now moved to [mediacapture-viewport/issues/2](https://github.com/w3c/mediacapture-viewport/issues/2).

[2021-09-21 15:53] #160 closed, assigned to nobody

[2021-09-21 16:57] eladalon1983 commented on #184
I believe some good progress was made yesterday at the WebRTC Working Group's September interim meeting. IIUC, the following issues remains:

### 1. Constraints
@youennf voiced a preference to use something other than constraint. @youennf, could you present the alternative you would favor?

### 2. Using "ideal"
Unless we use a mechanism other than constraints, we will only allow `ideal` constraint

[2021-09-22 13:06] jan-ivar commented on #184
`getDisplayMedia` already uses a simplified version of constraints (it [throws TypeError on `advanced`, `min`, or `exact`](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia)), so why not use it?

If the [displaySurface](https://w3c.github.io/mediacapture-screen-share/#dfn-displaysurface) constraint wasn't already defined then perhaps a different API might have value

[2021-09-22 13:56] jan-ivar commented on #184
This seems vague and hard to test. I prefer being specific here and throw on `"monitor"`.

Users likely have means to introduce web surfaces on any monitor at their whim, so secondary screens are no safer.

Web surfaces aside, full screen capture should be discouraged for privacy reasons anyway, as they are the most oversharing.

[2021-09-22 13:58] youennf commented on #184
There are a few reasons:
- The spec is talking about displaySurface as a setting and as a capability, not as a constraint, contrary to suppressLocalAudioPlayback say. Are browsers rejecting {displaySurface: { exact :...}}
- displaySurface is not currently supported in implementations as a constraining value. The way we will treat it will be specific: we might need to add code to check for 'exact'.

[2021-09-22 15:06] jan-ivar commented on #184
It is explicitly [listed as a constrainable property](https://w3c.github.io/mediacapture-screen-share/#constrainable-properties) and a [constraint](https://w3c.github.io/mediacapture-screen-share/#dom-mediatrackconstraintset-displaysurface).

They would if any of them were implemented [to spec](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia): _"If CS contains a m

[2021-09-22 23:49] jan-ivar commented on #190
A user's focus is a global property, so a per-track API [simply](https://w3ctag.github.io/design-principles/#simplicity) isn't necessary, and we can avoid the subclassing headache.

I think you're looking at this the wrong way. How does a tighter window of opportunity benefit slow apps?

What matters is the amount of code that runs up to the point of invoking the focus method. In your model, JS ge

[2021-09-23 00:28] jan-ivar commented on #190
@alvestrand asked me to outline the API shape I propose. I'd prefer:
[code]
It's a simple read-write enum attribute with two values. It never changes value except when JS changes it.

UA reads it in a task queued from `getDisplayMedia`'s success task, to determine whether to focus what was just resolved.

The app can set it ahead of time as well, if it doesn't care what the user picks:
[code]

**T

[2021-09-23 07:22] youennf commented on #184
Here is a proposal:
- Change getDisplayMedia parameter to take an optional DisplayMediaStreamConstraints dictionary
- List explicitly the constraints supported by audio (restrictOwnAudio, suppressLocalAudioPlayback) and video (width, height, frameRate, maybe some others) in dedicated (boolean or dictionary)
- Add a new property to the video constraints dictionary specifically for the surface, whic

[2021-09-23 13:37] eladalon1983 commented on #190
I don't think this is going to "play nice" if the document is engaged in multiple concurrent captures.

I don't think that's [simple](https://w3ctag.github.io/design-principles/#simplicity), because the association between what gets captured and what gets focused is not there, and concurrent captures become clouded by questions of timing.

How is `navigator.mediaDevices.someFocusApi` different tha

[2021-09-23 13:41] jan-ivar commented on #184
What change? This is [literally already specified](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices).

[It already does that](https://w3c.github.io/mediacapture-screen-share/#dfn-restrictownaudio), as [required by mediacapture-main](https://w3c.github.io/mediacapture-main/getusermedia.html#defining-a-new-constrainable-property) [[2](https://w3c.github.io/mediacapture-main/getuserm

[2021-09-23 18:42] jan-ivar commented on #190
It should: There's only one user, who can only accept one prompt at a time. The association is with the prompt — the user interaction — not the track.

Example: Imagine a hypothetical `navigator.mediaDevices.displayMediaFocus(track)` method that must be called between a pair of tasks queued sequentially by the UA, where the first resolves with a new screen-sharing track: Context tells us what to f

[2021-09-24 13:22] youennf commented on #190
I also prefer an attribute over an explicit call for each track.
This allows an application to set its default value easily (never focus for instance) while providing enough flexibility for web applications that want per-capture decisions.

As of event task vs. micro task, there are preexisting examples.
For instance, the fetch event is fired and some properties are read synchronously after the fe

[2021-09-24 13:39] youennf commented on #184
Sorry, I was meaning we would not reuse MediaTrackConstraints but define specific DisplayAudioTrackConstraints and DisplayVideoTrackConstraints dictionaries, with clearly identified constraints, meaningful to screensharing.

That would prevent throwing for instance if adding an  audio constraint exact property added in the video constraints part of a getDisplayMedia call. I just tested it and brow

[2021-09-24 14:35] jan-ivar commented on #184
I don't think reinventing the constrainable pattern in gDM buys users anything. 99% of users of this API already have to learn gUM. Keeping things consistent for them [trumps implementer convenience](https://www.w3.org/TR/html-design-principles/#priority-of-constituencies).

[2021-09-24 17:22] jan-ivar commented on #184
That seems fine to me, as I see no support for throwing in that specific case. With gDM, "an audio constraint ... added in the video constraints" is not hitting _"[a constrainable property applicable to display surfaces](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia)"_.

Instead, we generally ignore _"[any constrainable property inside of CS that are not defined

[2021-09-24 18:54] jan-ivar commented on #190
👍

Event listeners must respond synchronously to prevent bubbling/avoid default for historical reasons.

Those "properties" appear to be [fetch](https://w3c.github.io/ServiceWorker/#on-fetch-request-algorithm)  trying to _support_ promise code with [`event.respondWith(async () =>  {}`)](https://developer.mozilla.org/en-US/docs/Web/API/FetchEvent#examples). So my takeaway from fetch is we should ma

[2021-09-27 10:58] eladalon1983 commented on #190
### Global or per-surface controls

These are two distinct preferences:
1. Global or per-surface. (Discussed in this section.)
2. Attribute or method. (Discussed in the next section.)

The browser can operate in modes which skip the prompt. Mechanisms to trigger these include extensions, enterprise policies and command-line arguments. The spec may be agnostic of these, but the fact remains that th

[2021-09-27 13:11] youennf commented on #190
It is avoidable by having the shim returning the native promise returned by getDisplayMedia.
The only downside is that you cannot change the object being resolved, but you can update the object itself: add tracks, remove tracks...

Looking at the HTML event loop, we can also see that after the micro task checkpoint, there are additional tasks that need to be done, some of which might trigger firin

[2021-09-27 13:32] eladalon1983 commented on #190
A Web-developer would need non-trivial understanding of the feature in order to become convinced that there'd be no carry-over effect of focusing the wrong surface. They might explain it to themselves as "only the last capture gets focus or not" - but then, why does it sometimes not seem to work? There is no exception raised when they set the new value too late (e.g. `await` on an yet-unresolved-P

[2021-09-27 16:50] jan-ivar commented on #190
@youennf How? Please be specific.

Agreed (not beyond WebIDL's `TypeError` for invalid enum values).

[2021-09-27 17:09] eladalon1983 commented on #190
Contrast:

#### 1.
[code]

#### 2.
[code]

#### 3.
[code]

* The first can throw an exception that explains to Web-developers why what they're doing is not having the desired effect.
* The second has to accommodate the option that the Web-developer actually intended to set the *new* policy, going forward, completely independently of the call to gDM that has already resolved. The UA cannot raise an

[2021-09-27 17:14] jan-ivar commented on #190
That is out of scope for this working group.

@eladalon1983 Not a problem. JS is single-threaded, and [getDisplayMedia](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia) implicitly queues a task to resolve a promise from in parallel steps. My proposal would be to queue two tasks, guaranteed to happen in succession. There is no "span of time" short enough for two `g

[2021-09-27 17:24] eladalon1983 commented on #190
I have foreseen this response and added the text which you quoted immediately below (agnosticism etc.). The topic is not whether we can handle it spec-wise, but rather whether it produces ergonomic results for the application. Consider:

[code]

The global-attribute API produces code which is hard to reason about. Does it affect `stream1`? Does it affect `stream2`? Both? Neither? If flaky for eith

[2021-09-27 17:25] youennf commented on #190
[code]

[2021-09-27 17:29] jan-ivar commented on #190
Of the three listed, which is a false choice. We don't need to subclass anything to throw. See below:

So you'd introduce an attribute *and* a method?

Contrast:
1. ```js
   navigator.mediaDevices.defaultFocusPolicy = "focus-change";
   const stream = await navigator.mediaDevices.getDisplayMedia();
   await someOtherPromisesThatResolvesMuchLater;
   navigator.mediaDevices.focus("no-focus-change");

[2021-09-27 17:34] jan-ivar commented on #190
@youennf Sorry, but each `then` on the same promise introduces a microtask checkpoint.

[2021-09-27 17:36] eladalon1983 commented on #190
No. We're not on the same page. Maybe a quick summary of my position would help. I am **only** interested in a per-track method, but I am analyzing all options in my attempt to convince you that the option I favor is superior.

When I discuss inability to raise an exception, I do **not** mean it's because the attribute is an attribute. Rather, the problem arises because that global-attribute API i

[2021-09-27 17:54] jan-ivar commented on #190
Why, when it is less ergonomic than `stream.focus()`?

I showed an [option 1](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-928095773) above that would throw outside the same envelope, to show there's no need to subclass MST here.

From my end, the conversation has led to the options I show (1 and 2) which I think capture the remaining open question:

Would we rather off

[2021-09-27 18:58] eladalon1983 commented on #190
1. I have [answered](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-928092589) that question. Please see the bottom of my comment there.
2. Citation needed for one being more ergonomic than the other. (One being less code is not such a significant change in ergonomics. The ergonomics I refer to when I propose `MST.focus` are clarity, not brevity.)
3. I remain (cf. [commen

[2021-09-27 19:36] jan-ivar commented on #190
Synchronous functions don't end a task, because JS is run to completion. Did you mean `await doSomething()` ?

I claim it is super simple, outside of contrived examples. Here's all users need to know:
 1. Await `navigator.mediaDevices.getDisplayMedia()`
 2. Set `navigator.mediaDevices.focusPolicy` before you do anything else.

All promise composition is allowed, including shims, `try`/`catch()`, b

[2021-09-27 19:48] jan-ivar commented on #190
Given how simple this is, I personally wouldn't bother with an exception.

[2021-09-27 20:23] jan-ivar commented on #190
In contrast, here's a list of benign things that'd cause action-at-a-distance focus-failure if we go with a microtask cutoff:
1. getDisplayMedia [shimming](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-926852042) with any synchronous post-success code at all
2. Promise-branching like @youennf's getDisplayMedia [shimming workaround](https://github.com/w3c/mediacapture-scr

[2021-09-28 09:30] youennf commented on #190
Each then returns a new promise, but this is fine.
The idea is for the microtask used by User Agent to check for focus-or-not to be executed within the same event loop task but after the JS shim getDisplayMedia promise resolution callbacks.
I think this is doable with the updated shim I provided, can you explain why it would not work?
I tried to express my understanding/POC in https://jsfiddle.net

[2021-09-28 09:39] alvestrand commented on #190
stream.focus() is a red herring. A stream is not a reference to a focusable object; the fact that a stream returned from GetDisplayMedia is guaranteed to have just one video track is not a property of MediaStream.

[2021-09-28 10:16] eladalon1983 commented on #190
You've hit the nail on the head. `doSomething()` **is in fact** asynchronous, even if you don't `await` on it. It waits on a Promise. Sometimes it waits on an already-resolved Promise, sometimes it waits for 5s.

[code]

Now, it's exactly [POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) which I am citing here:

[code]

This code produces flaky results, but **cannot raise excep

[2021-09-28 12:07] jan-ivar commented on #190
@eladalon1983 But the caller doesn't (a)wait for it. Please check your assumptions: https://jsfiddle.net/jib1/0sjgd6cb/

[2021-09-28 13:06] jan-ivar commented on #190
@youennf Your fiddle is more lax than what the [OP proposes](https://wicg.github.io/conditional-focus/#dom-focusablemediastreamtrack-focus): _"MT finishes"_, which is what I was countering. But you've shown that the OP [isn't actually implementable](https://jsfiddle.net/jib1/04oL27c5/), so thanks for that.

But I disagree shimming should be this hard, even with your proposal. Shims should be able

[2021-09-28 13:37] youennf commented on #190
That might be true, I haven't looked at Elad's spec.
I think Elad and I are mostly aligned there on this 'lax' proposal, @eladalon1983?.

Can you describe how hard that is? Shiming is a subtle job and I'd like to understand which getDisplayMedia shiming use cases we are talking about to evaluate whether this is impossible, just hard or just subtle.

In that case, it becomes very subtle whether cal

[2021-09-28 17:54] jan-ivar commented on #190
I think you're confusing simplicity with strictness.

Developers expect to be allowed to split code into sub-functions and add logging statements. Some devs even seem to like to structure their code this way for no reason at all. I personally don't, but it MUST continue to work:
[code]
Your proposal breaks this fundamental expectation. https://jsfiddle.net/jib1/y5rz3hpm/

[2021-09-28 18:15] jan-ivar commented on #190
Why are we in fear of queuing a task? Have you measured this?

What evidence do you have of this?

No I want to queue a task. We queue tasks all the time, and we've shown here we can queue tasks A and B to happen in close succession. I'm not buying any issue of risk of delay.

[2021-09-28 18:42] youennf commented on #190
As per spec, additional events or JS callbacks are potentially called, plus potentially other tasks in between the two tasks.
The more we call web app JS, the more delay there is.
Getting a synchronous decision in that particular case seems good, just like being able to prevent default actions for input events is happening synchronously.

Spec says in https://html.spec.whatwg.org/multipage/webappa

[2021-09-28 20:00] jan-ivar commented on #190
Let's measure! https://jsfiddle.net/jib1/y1e4rg0d/ (Firefox result on a 2019 MBP, other browsers are similar 3K-4K)
[code]
Transient activation in all browsers I tested: https://jsfiddle.net/jib1/zqxnu9t5/ : >4 seconds (or >182,560 tasks)

So according to browsers, >4 seconds is when a user stops associating a reaction with their action.

So from a security perspective, we're fine by several order

[2021-09-28 21:06] youennf commented on #190
We are talking about reducing it to 1 second as a security mitigation, probably counted in another process so we should probably reduce to half of it in the process running JS.
And we want to run in slow devices, with loaded CPU and in low power mode.
And browsers might want to sneak a few input events between the two tasks, especially when CPU is loaded.
And the whole thing with good interoperabi

[2021-09-28 22:46] jan-ivar commented on #190
On Firefox for Android on my Samsung S9 I get
[code]
That's 12 tasks per _millisecond_ on a 3½ year-old phone. The math doesn't seem to add up to anything UX-observable. Not even close.

Also you haven't addressed the problems I raised. The only proposal that doesn't break [fundamental expectations](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-929491274) are options 2 a

[2021-09-30 13:57] eladalon1983 commented on #190
Your measurement does not attempt to do anything CPU-intensive. Applications might.

[2021-09-30 14:43] eladalon1983 commented on #190
I am trying to **reformulate** my position more clearly. Hopefully this won't be mere repetition. If it is - my apologies.

It might be worth it **working backwards** here:

Issue 1, [WoO](https://en.wikipedia.org/wiki/Window_of_opportunity)-closing-mechanism.
* We have NOT set out to allow applications to change focus to a captured surface at an arbitrary time.
* We don't want to allow applicatio

[2021-10-01 10:03] annevk commented on #190
I wanted to clarify something about the fetch event and also ask a question.

The way fetch events work is basically:

1. Spec dispatches a fetch event.
2. This runs event listeners. As the user agent dispatched the event event, the microtask queue is drained here as well. (No JavaScript on the stack has that effect.)
3. Spec inspects state on the event.

This is a fairly normal pattern for event

[2021-10-01 11:50] eladalon1983 commented on #190
(Assuming you mean `getDisplayMedia`.)

I have considered that. [1]

If the callback is executed **before** resolving the Promise, we have a way for the application to interact with an MediaStream before the Promise that returns it is resolved. This seems like a footgun to me; now gDM might return a Promise to a MediaStream that's had its video track removed, or a new video track inserted. Oy.

If

[2021-10-01 12:01] annevk commented on #190
`getDisplayMedia()` at some point queues a task to resolve the promise. That's where you'd execute the callback. This would end up happening before the `getDisplayMedia().then()` callback, which would happen during the microtask portion of that task. As it's all in the same task asked for by a single caller I don't think it's a footgun, but I might be misunderstanding your point.

[2021-10-01 12:28] eladalon1983 commented on #190
So you're proposing accepting a callback and scheduling two microtasks back-to-back, one for resolving the Promise and one to run [after](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-932160209) the first. I think this is quite similar to the two-microtasks-back-to-back approach without a callback, while also making it less clear to Web-developers that the callback could

[2021-10-01 12:32] annevk commented on #190
It would be more like this:

1. Queue a task to:
   1. Call the callback.
   2. Lock focus.
   3. Resolve the promise.

(Where you place step 1.3 doesn't really matter as it'll only be observable after 1.1 and 1.2)

[2021-10-01 12:40] eladalon1983 commented on #190
I am not sure I understand your proposal. It seems like the one I classified as "before" in an [earlier](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-932160209) comment, but I could be misunderstanding.

[code]

What's going to happen with the code above?

[2021-10-01 12:55] annevk commented on #190
Order would be a, d, b, c, e if I'm not mistaken. You can indeed remove tracks, but this can also happen if you hand out the promise in multiple places. That doesn't really seem problematic to me.

[2021-10-01 12:59] eladalon1983 commented on #190
So you were indeed referring to the **before** option from [this comment](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-932160209), which means I was right to edit away my misunderstanding in ~[this comment](https://github.com/w3c/mediacapture-screen-share/issues/190#issuecomment-932186120)~. Glad it's clarified. :-)

I think giving access to the MediaStream to something

[2021-10-01 13:11] annevk commented on #190
Yeah, e.g., https://notifications.spec.whatwg.org/#dom-notification-requestpermission. I'm pretty sure we also have places that dispatch an event and resolve a promise in the same task. Stems from how promises work. (And to be pedantic, the promise can be resolved before, but it being resolved cannot be observed until after.)

[2021-10-01 14:14] jan-ivar commented on #190
How about this:
[code]
This would be the entire API surface. No need for exceptions. I'm open to bikeshedding the event name.

[2021-10-04 14:05] panimozhi opened #194 "Share Audio in the screen share is not cming"
We have added the constraint saying audio as true and see the checkbox("Share system audio") in the prompt.

Code:
let mediaStream = await navigator.mediaDevices.getDisplayMedia({video:true**,audio:true**});

But if the option checked we are not able to see the screenshare window in another person browser.

[2021-10-04 14:19] eladalon1983 commented on #194
I do not understand this line. Could you please clarify?

[2021-10-05 21:08] eladalon1983 opened #195 "Cropping Video Tracks"
User agents should offer applications a performant and robust mechanism for cropping video tracks. I have produced an [explainer](https://github.com/eladalon1983/region-capture/blob/main/README.md) covering why this use-case is compelling, the challenges potential solutions face, and what I believe to be a good solution that adequately addresses these challenges. I have also produced a [spec draft

[2021-10-05 21:08] #158 closed, assigned to nobody

[2021-10-07 17:04] eladalon1983 commented on #190
The use of `preventDefault` suggests that the default behavior, hitherto unspecified, would now be specified as focus-captured-surface. Is that right?

[2021-10-07 17:50] jan-ivar commented on #190
Yes.

[2021-10-08 08:49] annevk commented on #190
FWIW, as I understand it the task responsible for resolving `getDisplayMedia()` has been traditionally also the focus task. It seems to me that therefore you would have to expose the stream on the focus event. Delaying the focus by a task in the hope that the caller of `getDisplayMedia()` holds a stream at that point still seems rather unclean.

[2021-10-08 08:59] eladalon1983 commented on #190
I'm wondering if we could in the future run into an issue where some operating systems require a separate permission before they allow the UA to switch focus between applications. We might want to get around that by specifying the default behavior as "the user agent MUST try to focus the captured surface." Wdyt?

[2021-10-08 10:17] youennf commented on #190
I would also prefer just one task.
My understanding of the algorithm would be something like: queue a task that runs the following steps:
- fire a focus event (taking stream, a subset of it, stream's clone...)
- execute focus algorithm based on focus policy computed from focus event handling.
- resolve getDisplayMedia promise with stream

I do not see why we should delay the focus algorithm.

[2021-10-08 12:58] jan-ivar commented on #190
I ran a test to disprove this https://jsfiddle.net/jib1/q75yb8pf/ but I was also surprised to learn that Firefox blurs the capturer window 15 ms _before_ it resolves the promise (I thought it happened much later):
[code]
But if we're worried about web compat here we have a much bigger problem: Chrome's prompt steals focus.
[code]
We've never specified exactly when (non-browser) window is focused b

[2021-10-08 21:28] jan-ivar commented on #190
I don't see a problem with returning the original. Clones are trouble.

I'd call it the "focus decision algorithm", since it doesn't seem necessary to specify when exactly actual focusing takes place.

Let's say I did this:
[code]
Would this produce `A B` or `B A`? I'm not sure microtask order here is even standardized.

Tasks have cleaner semantics than messing with microtask order.

[2021-10-11 09:16] annevk commented on #190
It would produce B, A. As there's no JavaScript on the stack, the microtask is queue is drained after event callback invocation. I think that indeed makes the order observable and therefore it's good to use the order @youennf proposed.

[2021-10-12 14:19] jan-ivar commented on #194
@panimozhi Please note this issue tracker is for issues with the specification. It sounds like you are experiencing issues with a particular browser. Please file an issue with that browser vendor instead.

[2021-10-12 14:19] #194 closed, assigned to nobody

[2021-12-02 15:59] jan-ivar commented on #180
We should elaborate here how these constraints should work "As a capability", like we do in [mediacapture-main](https://w3c.github.io/mediacapture-main/getusermedia.html#dfn-width).

[2021-12-02 16:00] #191 closed, assigned to jan-ivar

[2021-12-02 16:04] alvestrand commented on #184
I also agree that reusing constraints is less horrible than adding another way of doing this.

[2021-12-02 18:37] jan-ivar commented on #180
We also don't appear to list `restrictOwnAudio` in the [MediaTrackCapabilities WebIDL](https://w3c.github.io/mediacapture-screen-share/#extensions-to-mediatrackcapabilities) which seems like an omission we should fix. I see no reason why this constraint should be omitted there, so this seems editorial to me. It should follow the constrainable pattern like all the other constraints, unless the WG d

[2021-12-14 13:55] youennf commented on #195
I am restricting the discussion to getDisplayMedia tracks, getViewPortMedia model is potentially different enough that I am unclear whether such a mechanism would be useful for getViewPortMedia. I am also assuming there will be some sort of CaptureHandle API to allow some form of communication between getDisplayMedia capturer and capturee.

The main drawback I see with the above cropping approach

[2021-12-14 17:35] eladalon1983 commented on #195
@youennf, please note that the current version of the proposal is intentionally restricted to cases of **self-capture**, meaning the capturer **is** the capturee; or, at least, both are documents in the same browsing context (i.e. tab). As such, Capture Handle is **not** currently necessary. The various documents in the browsing context are already tightly integrated and in communication with each

[2021-12-17 11:35] Deuscx opened #198 "How to detect Display Surfaces Minimized"
[Screen Capture](https://www.w3.org/TR/screen-capture/#hidden-display-surfaces) it said that when Display Surfaces enters an inaccessible state will set the muted state to be true. i've tried listen the unmute event `track.onunmute` and `onmute`. but it didn't fired

[2021-12-27 04:12] Franklin5EN opened #199 "HG1 - community harassment. @W3C trial on Gov pc"
Been trying to post all night but 2 community members are using wireless display (viewport) to intercept (chromium trial)

@w3c @dom
Dom and members,

As a member here, I have very serious concerns regarding this that could legally disrail the the webrtc consensus.

I would rather discuss this in private then get the ICO/NCSC involved in the endless recruitment into trials without consent.

C

[2021-12-27 04:18] Franklin5EN opened #200 "@W3C Chromium trial"

[2021-12-27 04:20] Franklin5EN opened #201 "W3C chromium trials"
Been trying to post all night but 2 community members are using wireless display (viewport) to intercept (chromium trial)

@w3c @dom
Dom and members,

As a member here, I have very serious concerns regarding this that could legally disrail the the webrtc consensus.

I would rather discuss this in private then get the ICO/NCSC involved in the endless recruitment into trials without consent.

C

[2021-12-27 04:25] Franklin5EN opened #202 "@W3C chromium/React trial enrollment"
Been trying to post all night but 2 community members are using wireless display (viewport) to intercept (chromium trial)

@w3c @dom
Dom and members,

As a member here, I have very serious concerns regarding this that could legally disrail the the webrtc consensus.

I would rather discuss this in private then get the ICO/NCSC involved in the endless recruitment into trials without consent.

C

[2021-12-27 04:27] #201 closed, assigned to nobody

[2021-12-27 04:29] #200 closed, assigned to nobody

[2021-12-27 04:30] #199 closed, assigned to nobody

[2022-01-03 08:00] #202 closed, assigned to nobody

[2022-01-03 15:40] eladalon1983 commented on #198
This GitHub repo is a good place to discuss the specification itself. Please file a bug with the relevant browser vendor. (But note that the spec says user agents **MAY** consider a minimized tab as inaccessible and therefore muted. So no real bug here afaict.)

[2022-01-03 15:40] #198 closed, assigned to nobody

[2022-01-05 19:54] jan-ivar commented on #195
Capturee can declare regions of interest through an API a la CaptureHandle, with the same origin protection mechanism.
Capturer would get and use that information from the MediaStreamTrack object itself.

I'd prefer tight coupling here, otherwise sites could exploit this to protect themselves against capture. E.g. a bank site saying: please capture this nice 8x8 pixel gray element I created, inste

[2022-01-05 23:24] eladalon1983 commented on #195
How would `Arbitrary-VC-App` get this crop-ID from `Hypothetical-Bank`? Why would it pay any attention to that message?

For the message to be sent and received between two cross-origin documents, there needs to be collaboration and trust. A message is sent from one side, and is picked up by a handler that is explicitly registered by the other side. The receiver would have to trust the sender enou

[2022-01-06 18:47] jan-ivar commented on #195
It wouldn't, as that would be tight coupling. I'm voicing concerns with Youenn's "decoupling" idea that a capturee would "declare regions of interest", which I interpreted as an attempt to make this work outside of known pairs of sites.

While I welcome decoupling and standard APIs for capturee-side features like slide controls, for capturer-side features like cropping, I prefer tight coupling for

[2022-01-07 09:27] youennf commented on #195
If we want it to work with capture of all tabs (aka getDisplayMedia), I think this is desirable.
At least we should have a specific discussion on this.

If we want it to work for self view only and do not plan in a near future to support the general case, I can understand we do not need that. In such a case, as we discussed before:
- it makes sense to me to start with a getViewPortMedia specific s

[2022-01-07 16:17] eladalon1983 commented on #195
@jan-ivar:

My bad. Thanks for clarifying.

@youennf:

I am not sure what would constitute near/far future. Speaking for myself, I do not have concrete plans for extending the API to other-tab-capture in the coming quarters. But I see it as desirable for such an extension to be easily accomplished in the future, possibly by others, using the foundations we set up today. I think the current design

[2022-01-10 16:26] alvestrand commented on #126
Elad, do you need help in doing the reshuffling here?

[2022-01-10 16:33] alvestrand commented on #189
Let's do it.

[2022-01-10 17:07] youennf opened #203 "Improve getDisplayMedia current focus requirement"
Like https://github.com/w3c/mediacapture-main/issues/752, we might want to investigate whether we want iframe focus or top document focus.

[2022-01-13 19:09] eladalon1983 opened #204 "Multi-capture (concurrent capture of multiple surfaces)"
It has come to my attention that some applications wish to capture multiple display surfaces at the same time. Some examples include:
* Streamers displaying multiple surfaces. [*]
* Managed devices recording for compliance/training/billing reasons.

Capturing multiple display surfaces is presently achievable using existing APIs - it is possible to call `getDisplayMedia()` multiple times. However,

[2022-01-14 11:30] youennf commented on #166
In general, I like the idea of actions.
In terms of scope and role sharing between specs/WGs, I think we should try to not build our own actions.
Instead I would try to piggy back on https://w3c.github.io/mediasession/, which might move some of the corresponding API from MediaDevices to MediaSession.
If feasible, getDisplayMedia would be a boostrapping mechanism to potentially get access to MediaS

[2022-01-14 14:26] eladalon1983 commented on #166
There are two core issues addressed in this thread, which I'll call "identity" ([original proposal](https://wicg.github.io/capture-handle/)) and "actions" ([additional mechanisms](https://github.com/w3c/mediacapture-screen-share/issues/166#issuecomment-1012503381)). I also **prefer** splitting the work, but I **tentatively propose** addressing both issues together as an attempt to reach a compromi

[2022-01-14 17:37] eladalon1983 commented on #126
Took a first stab at this with #205. PTAL.

[2022-01-14 17:38] eladalon1983 commented on #126
I have removed these normative statements, by the way, and not reinstated them elsewhere. Do you think all of these need to be repeated both as a consideration as well as a normative statement?

[2022-01-19 10:35] youennf commented on #166
@eladalon1983, @jan-ivar, following on yesterday's meeting, here are examples that I hope clarifies what I have in mind.
First example is targeting a fixed protocol, second example is for custom web-application protocols.

1. MediaSession-based communication.
[code]
Capturee is exposing its origin through MediaSessionProxy.origin to capturers whose origin is granted by capturee's MediaSessionProxy

[2022-01-19 20:36] eladalon1983 commented on #166
Thank you for these proposals, @youennf.

---

This is an interesting proposal. I have saved for later some nits, so as to focus first on the general thrust. The propsal takes great pains to latch onto an existing mechanism (MediaSession). It's not immediately clear to me what is gained by making that design decision. Could you please explain?

 As for the drawbacks I can see:
 * It creates a depe

[2022-01-20 00:16] jan-ivar commented on #166
@youennf Reusing mediaSession, while intriguing, seems risky design-wise and scope-wise: repurposing a well-known API with a known a trust model to now also be something else. I don’t see a lot of user benefit frankly.

I'd prefer keeping what's exposed in this WG. We have to be careful not to add ways for malicious sites to remotely operate arbitrary captured pages in ways that may deceive users.

[2022-01-21 12:16] annevk commented on #126
Not having looked at the specifics again in detail, you want to make sure that if a user agent implements the normative part of your specification, they end up with a secure result. It's fine to add some more nuance and guidance in the non-normative sections, but the basics ought to be good. (See also https://github.com/w3ctag/security-questionnaire/issues/88.)

[2022-01-21 17:53] eladalon1983 commented on #204
(A less complex option using a new method that always returns a sequence is also possible. Straw-man suggestion only. The main point is that there be an API for prompting the user for a set of surfaces.)

[2022-01-24 15:58] jan-ivar commented on #141
We seem to already have such a section in https://w3c.github.io/mediacapture-screen-share/#hidden-display-surfaces. I'll try adding a note to it.

[2022-01-25 09:52] youennf commented on #166
In the WG meeting, YouTube was given as an example where such API could be potentially useful.
If this API gets useful for slides, I can see it useful for other cases as well, so we might end up with more actions.
Also, if it is useful to control slides from another page, it might also be useful to control slides from a PiP window, so useful to expose specific slides control from a MediaSession.

[2022-01-31 15:31] jan-ivar commented on #184
My attempt to summarize from the [September interim](https://www.w3.org/2021/09/20-webrtc-minutes.html#t07) (which was the last mention of this issue I found):
- General agreement that user agents looking at a _surface type preference_ passed into _getDisplayMedia_ to optimize UX toward this application preference is OK, provided it steers users away from monitor capture, and provided it doesn't r

[2022-01-31 18:23] eladalon1983 commented on #166
MediaSession is a rich spec that offers much more than sending simple actions. I think the duplication of work is quite minimal. I have not yet heard what entanglement with MediaSession would improve.

It's the other way around.
**Identity:** Message from capturee to capturer. Normally one-off, with a change (new message) when the capturee navigates.
**Actions:** Message from capturer to capturee.

[2022-02-01 09:47] eladalon1983 commented on #184
I agree that it's ready for PR, if the PR says that the user agent MAY reject/ignore any type it deems risky. (I have no strong preference between reject and ignore.)

As mentioned, Chrome currently defaults to offering screens first, and this is something that I would very much like to change. However, changing established patterns has the effect of ruffling many feathers, and applications are no

[2022-02-01 11:35] youennf commented on #184
This is fine. If browsers cannot ship something, specs should be aligned.
If some browsers are able to ship it but not others, we need to discuss what to do.

I think it is worth filing an issue. Maybe we should update the spec.

I don't think this comment helps moving the discussion forward.

I like this.
We already discussed in a past meeting the possibility for Chrome to do this change without

[2022-02-01 12:31] eladalon1983 commented on #184
I think my comment is polite and relevant. It discusses an important principle - the trade-off between what the Working Group wants (crisp-clear spec that mandates user agents MUST provide the best thing for the user, with no regard for the constraints of historical decisions), and what the Working Group can reasonably expect to have (an ever-shifting compromise between multiple entities with vari

[2022-02-01 13:24] youennf commented on #184
The comment dismisses the 'reject screen' position as if there is no other ground than purity.
Let's focus on finding some common ground instead.

Sure, this happens all the time, for instance when renaming properties. In those cases, backward compatibility is what we look at to understand whether we can make that change and how we can do it. It is fine if, for a given period of transition, the im

[2022-02-01 13:58] eladalon1983 commented on #184
The discussion has taken place over many threads, comments, editors' meetings and WG interim meetings. I remember a strong objection to "MAY reject" in favor of "MUST reject." I remember but one reason, and I have addressed it. If my recollection is faulty, I welcome correction.

Wdyt?

I think events will unfold as follows, if we merge a PR that says "MUST reject monitor":
1. We merge the PR.
2.

[2022-02-01 14:44] youennf commented on #184
Question: why are you assuming the solution should be to use the same standard property but with a non standard 'monitor' value?
If this is expected to be a temporary thing, using a separate property has benefits:
- Using a non standard value might become a compatibility issue as other browsers may start breaking pages by rejecting instead of ignoring.
- A separate property makes it clear this is

[2022-02-01 14:59] dontcallmedom commented on #184
FWIW, if MUST is not realistic, and MAY too weak, this sounds like SHOULD would be a good representation of our intent while recognizing the reality of the world.

[2022-02-01 15:52] youennf commented on #184
MAY/SHOULD if applied to promise rejection is not great due to potential browser compat.
SHOULD ignore would leave that to UA territory, which is more flexible (though a strange API).

[2022-02-01 16:45] eladalon1983 commented on #184
Because it minimizes the logic that has to be written. Why would Chrome want to code two parallel codepaths that accomplish virtually the same thing?

Is there a good reason for the spec to mandate the the user agent MUST reject? Can't we mandate MAY ignore? After all, the user can **always** select a surface type other than the `ideal` one, so ignoring the `ideal` surface should be reasonable fro

[2022-02-01 16:51] youennf commented on #184
On Chrome side maybe, probably not much though. Other browsers might have to write code to actually accept but ignore this value.

[2022-02-01 17:58] eladalon1983 commented on #184
I have [posed a question](https://github.com/w3c/mediacapture-screen-share/issues/184#issuecomment-1027049811) to you. ("Is there a good reason for the spec to mandate the the user agent MUST reject? Can't we mandate MAY ignore?") I'd like to remind you of this question.
* You have [insinuated](https://github.com/w3c/mediacapture-screen-share/issues/184#issuecomment-1026840084) that there are more

[2022-02-01 19:20] youennf commented on #184
When you define a type in WebIDL as an enumeration, rejection is happening when the value passed to a method is not valid.
To implement the ignore rule with enum + current WebIDL, implementors would be required to add 'screen' as a valid value but ignore it, thus putting burden to those User Agents that have no use of this value.
And putting burden on developers to understand that 'screen' is a va

[2022-02-01 20:08] eladalon1983 commented on #184
My apologies for missing those. Please link me to the relevant comment, so that I may re-read it.

To implement the ignore rule with enum + current WebIDL, implementors would be required to add 'screen' as a valid value but ignore it, thus putting burden to those User Agents that have no use of this value.

* If we go with constraints, then this enum value already exists as [DisplayCaptureSurfaceT

[2022-02-02 09:18] youennf commented on #184
What I was meaning is that, as a web developer, I set 'monitor', which is a valid value as per spec/WebIDL, but the picker is not defaulting to 'monitor', or it does but only in specific Chrome versions. Or, as a web developer, I set 'monitor' and getDisplayMedia throws. This would be surprising. As a web developer, I might have to put some specific UI to help user selects the monitor picker, whic

[2022-02-02 09:54] youennf commented on #166
If we go with actions like next slide, previous slide, capturer might want to understand whether:
- these actions are supported or not (say we are at the end of the slide show)
- when calling an action, understand when the action is actually executed.

We could try to be very restricted in terms of actions, my gut feeling is telling me people will want more than that.
And the "more than that" will

[2022-02-02 11:07] eladalon1983 commented on #184
So that I may answer succinctly and to the point, could you please clarify explicitly what your objections to "MAY ignore" are? Is it that developers might attempt something and it ends up being no-op? Is it something else? Is it one of multiple objections?

I think it's important to understand the answer to the above questions before deep-diving into alternatives. For example, if your chief conce

[2022-02-02 14:22] eladalon1983 opened #208 "Active User Consent"
Section 9.2.1 refers to "Active User Consent" (henceforth: AUC). As of the time of this writing, it reads:

I see a few issues here.
1. The discussion opens with when AUC would be sufficient. I think it would be better to start with a definition.
2. The second paragraph has what partially looks like a definition, but is probably an elaboration of how the concept of AUC is to be applied to the issu

[2022-02-03 12:04] eladalon1983 commented on #166
What I am meaning by less tight cooperation is that, with your proposal, there is server-side collaboration required.
With server-side collaboration, capturer will send some identity to capturer service, which has to generate some form of identity proof to the capturee service to do pairing. This identity proof is not needed in case UA internal communication is used (there is a single user using t

[2022-02-03 13:42] jan-ivar commented on #166
If we end up duplicating some of the mediaSession API surface, so what? I see benefit in doing so, as it gives JS full control over whose control they wish to enable.

If things are almost the same, they are not the same. We can follow patterns without sharing WebIDL.

[2022-02-03 15:39] #126 closed, assigned to eladalon1983

[2022-02-03 15:50] #141 closed, assigned to jan-ivar

[2022-02-03 16:00] jan-ivar commented on #184
User agents SHOULD steer the user away from monitor capture, regardless of `displaySurface` value provided as input.

[2022-02-03 19:06] eladalon1983 commented on #184
We are **not** going to specify "the user agent MUST respect the hint."
We are going to specify "the user agent MAY respect the hint."
So we may as well just leave it at that, and add an explanation of how we **encourage** the UA to ignore dangerous hints, e.g. monitors, e.g. suspicious sites, etc.

[2022-02-03 20:39] jan-ivar commented on #184
I see nothing wrong with stating UAs MAY respect the hint, but SHOULD steer users away from monitor capture in spite of that hint.

[2022-02-03 20:40] jan-ivar commented on #184
That's a narrowing of the MAY, not an expansion of it.

[2022-02-03 20:57] youennf commented on #184
My preference:
- spec defines 'tab' and 'window' as supported hint values but no other hint value.
- API does not reject or throw in case of unknown hint value.
I do not think there is a need to state 'monitor' selection is dangerous, the spec probably already says that.

[2022-02-03 21:02] jan-ivar commented on #184
I didn't say we should say it is "dangerous", which is a characterization. I said we should say what the UA SHOULD _do_ when interpreting the hint, which is a prescription.

[2022-02-03 21:09] youennf commented on #184
This assumes the spec would define hint values that would point user towards monitor capture.
I think we should avoid defining such hint values.

[2022-02-03 21:13] jan-ivar commented on #184
I'm assuming we use the existing [displaysurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatrackconstraintset-displaysurface) constraint. No need to define new surface here IMHO.

[2022-02-03 21:25] eladalon1983 commented on #184
If we use constraints, `monitor` is already there. If we use something else, is it going to be reusable for anything? If so - it will likely gain `monitor` at some point.

Also, I don't think anyone else would currently accept an approach other than constraints...? Nobody other than Youenn has been positive on that possibility so far.

[2022-02-04 09:21] youennf commented on #184
Reusing displaysurface has some drawbacks:
- The 'monitor' issue
- A picker might like hints that reduce the sets of surfaces, or allows reordering them. Say: I prefer secured pages, or I prefer self tab, or I prefer the tab that is playing audio right now, or I prefer the non browser application that just opened me and happens to be code-signed by a related party...
- It creates some minor backwa

[2022-02-04 09:25] youennf commented on #166
The actions proposal is based on interest from 'capturer', I haven't heard any interest from 'capturee'. That puts this API at risk. To be successful, this API should be as good if not better than the out-of-band approach 'capturee' are apparently planning to use.
Piggy backing on MediaSession is a way to reduce the adoption risk/burden as this is an adopted API, provided we can find the right sec

[2022-02-04 09:42] eladalon1983 commented on #166
We will still want the string even if we add the channel:
1. Because this allows the capturee to send a message that basically says "here is what you need to know, and you don't even have to let me know you're capturing me to find this out."
2. Some companies have multiple independent products with the same origin. For example, Google has Docs, Slides and Sheets all under the umbrella of docs.goog

[2022-02-06 20:09] alvestrand commented on #184
as far as I can tell, again the monitor issue is only a concern if you want to use IDL to enforce a prohibition against preferring the monitor. As Elad has pointed out, this approach is unlikely to gain consensus, given that we don't have consensus that prohibiting "monitor" as preferred display surface is *never* appropriate. (FWIW - personal opinion - I wouldn't want this on the open web, but it

[2022-02-07 09:03] eladalon1983 commented on #184
This looks quite minimal to me:
[code]

Or even shorter:
[code]

Or shorter still:
[code]

[2022-02-08 00:03] jan-ivar commented on #184
We can throw on `"monitor"` in prose regardless of API (if we decide to), so this seems like a separable discussion.

These ideas go further wrt influencing user choice than what I'm comfortable with. They also seem orthogonal to looking at the _[existing](https://w3c.github.io/mediacapture-screen-share/#dom-mediatrackconstraintset-displaysurface)_ `displaySurface` constraint passed into _getDispl

[2022-02-08 08:59] eladalon1983 commented on #184
@hta:

@jan-ivar:

Constraints are currently used throughout. Deviating from the established course requires stronger consensus IMHO. With [Harald](https://github.com/w3c/mediacapture-screen-share/issues/184#issuecomment-984767064) and [Jan-Ivar](https://github.com/w3c/mediacapture-screen-share/issues/184#issuecomment-1032066608) in favor of consistency, and me generally agreeing with them, and no

[2022-02-08 09:55] youennf commented on #184
Sorry in advance for this very long message but there are lots of different points.

@alvestrand, to be clear, I am not proposing we reject based on WebIDL.
I am proposing we define the property as a plain USVString with some special values.

I was referring to the issue that we are exposing a value ('monitor') we actually do not want to expose to the open web (discussion has been about potentiall

[2022-02-10 15:07] eladalon1983 commented on #195
With Region Capture now adopted by the W3C, I believe we can continue our discussion in the various issues we've got open there. https://github.com/w3c/mediacapture-region/

[2022-02-10 15:07] #195 closed, assigned to nobody

[2022-02-10 22:18] jan-ivar commented on #184
Sites shouldn't be able to query `track.getSettings().displaySurface == "monitor"`?

Yes, for _user agents_ to highlight some tabs over others (no spec changes needed for that), whereas here we're discussing an app signal on a default _category_ (it's up to user agents how to apply this signal to UX).

That's hypothetical, as I'd prefer no more hints from apps.

Seems irrelevant. `exact` is catego

[2022-02-12 15:57] ldenoue commented on #204
Love this idea. I developed a native Mac app called Screegle that allows a user to select one or more window and overlay them over a background picture of their choosing.
This is very useful during Google Meet or Zoom meetings, where instead of sharing their entire screen or having to pick just one window, people can flexibly share several windows at once.

As you point out, getDisplayMedia could

[2022-02-14 09:52] eladalon1983 commented on #204
That's a great demo. I'd be very interested in adding an API for exposing these coordinates. I think you'll also want the z-order, btw...?

[2022-02-14 11:02] ldenoue commented on #204
@eladalon1983 yes z-order is useful
(currently, the demo first paints all selected window at their last seen position, and then paints over them the recently found windows, so z-order works, but of course it relies on image processing, which we want to avoid completely)

The native versions of Screegle for Mac and Windows poll the OS for window information.

On MacOS in Swift or ObjectiveC, the fu

[2022-02-15 22:55] jan-ivar commented on #204
I think this idea presumes too much about application logic, which is seeping into browser UX here:
1. it assumes order doesn't matter
2. the UX presented ignores the question of whether to include audio or not for each user choice
3. users have no way to correlate choices made with their role in the application
4. it doesn't handle duplication well (users wanting the same choice for multiple role

[2022-02-15 23:10] jan-ivar commented on #204
Vendors that wish to, should be able to experiment with prompt-bundling by detecting multiple invocations of getDisplayMedia on the same JS task today, e.g.:
[code]
They could satisfy such simultaneous requests using a unified picker with checkboxes. This would be backwards compatible with other browsers where users would see 3 prompts one after the other (or until the user cancels).

[2022-02-16 10:03] ldenoue commented on #204
@jan-ivar for camera sources, the behavior of `navigator.mediaDevices.enumerateDevices` is useful for web developers.
e.g. `let videoSources = (await navigator.mediaDevices.enumerateDevices()).filter((source) => source.kind === 'video')` lets the web app display its own picker.
(note that on Safari, the browser first needs to have been given permission to access one of the devices by the user befo

[2022-02-16 11:16] eladalon1983 commented on #204
@jan-ivar:

First, for those applications that care about it, it's trivial to specify that the API supports order. (And let UX worry about communicating it to the user.) [Sequences](https://webidl.spec.whatwg.org/#idl-sequence) are ordered.

Second - see my response to bullet number 3.

The "UX presented" was a mock illustrating what is generally possible. Don't worry, when it's time to ship, we'l

[2022-02-16 11:18] eladalon1983 commented on #204
@jan-ivar:

My previous comment dealt with the technical details raised in your previous comment. I'm posting a separate comment here to address what I see as a **severe methodological issue**, which has played itself out with minor variations over multiple proposals during the passing year.

I have presented a set of use-cases for which we have genuine Web-developer interest and need (some exampl

[2022-02-22 19:27] eladalon1983 opened #209 "Avoid Hall-of-Mirrors"
![Screen Shot 2022-02-22 at 20 23 23](https://user-images.githubusercontent.com/22117736/155203919-2baf80f4-2d83-4fc1-9f4a-fece11f43b0a.png)

**Accidental** self-capture is a common problem for video conferencing software. When users accidentally choose the tab in which the VC app is running, a Hall-of-Mirrors effect is produced, confusing users and derailing discussions with remote users. Elimina

[2022-02-23 01:04] martinthomson commented on #209
I'm OK with this idea.  Consider `excludeSelf` as the name, though that leads to questions about the effect on tab, window, and display in that it might prevent display capture entirely for those people who only have one display (i.e., most).

[2022-02-23 08:53] eladalon1983 commented on #209
Interesting idea with `excludeSelf`. Thinking out loud:
* If we make it refer specifically to excluding the current tab, it would be misnamed to the point of confusing developers.
* If we make it exclude all "self" surfaces - current-tab, current-window **and** current-screen - then I'd be concerned that many video conferencing software would simply not use it. (Current users often share the whole

[2022-02-25 00:45] jesup commented on #209
If the point of the security risk is that a site may use capture of itself to export arbitrary content under it's control, breaking cross-origin capture restrictions, this does nothing at all to address it.  A malicious app would of course not exclude the current tab, and would in fact give the user a reason for wanting to capture the current tab.

[2022-02-25 07:07] eladalon1983 commented on #209
I urge you to reread my original message more carefully. Specifically, this part: "The mechanism I am about to propose does **not** purport to address the security concern. But I argue that it offers **no degradation in security**." But you might wish to read the entire message again so that you may understand what I **do** argue.

[2022-03-02 13:19] eladalon1983 commented on #204
We're proceeding in the WICG for the time being. (https://github.com/WICG/multicapture)
I'm hoping to see this go back to the W3C.

[2022-03-07 17:40] youennf commented on #209
The discussion seems mostly focused on optimising pickers.
The core issue being Hall-of-mirrors, it seems more adequate to allow the User Agent to obfuscate the region of the captured stream that corresponds to the web page doing the capture.
Exposing a property for this might be useful and would have no security downsides.
This does not prohibit User Agents to optimise their pickers based on that

[2022-03-07 18:09] eladalon1983 commented on #209
Your suggestion makes sense to me up to this point. :-)
I see two issues:
1. Obfuscating some region and changing pickers - these are mostly orthogonal issues. Why should the UA infer one from the other? That's a compat issue. What will an application that expects anything-but-current-tab (on Chrome) do when it gets current-tab-but-obfuscated (on Safari)?
2. Implementing obfuscation will take time

[2022-03-08 08:22] youennf commented on #190
Another approach to consider is to use a callback given to getDisplayMedia as input parameter.
It does not allow to set a context wide behavior but it makes it very easy to understand to which getDisplayMedia call the decision should be made.

[2022-03-08 08:35] youennf commented on #209
Obfuscation is solving Hall-Of-Mirrors, which the issue is about.
I do not think we should do `excludeCurrentTab` with Hall-Of-Mirrors as the main motivation.
If `excludeCurrentTab` has other benefits, that is fine, let's file a dedicated issue about this idea and detail all its potential benefits and drawbacks.

Applications will need to deal with this even with `excludeCurrentTab`, say if select

[2022-03-08 19:08] eladalon1983 commented on #209
That is exactly what I am saying. :-) [My original message](https://github.com/w3c/mediacapture-screen-share/issues/209#issue-1147287233) in this thread acknowledged the prior discussions in this vein, and explained why I believe I have new things to say on this matter, and why `excludeCurrentTab` is potentially different. Could you please re-read that message? (My [second message](https://github.

[2022-03-10 22:29] jan-ivar commented on #209
To echo @martinthomson, I'm OK with this idea.

My long-view is [getViewportMedia](https://w3c.github.io/mediacapture-viewport/#dom-mediadevices-getviewportmedia) is for self-capture, and [getDisplayMedia](https://w3c.github.io/mediacapture-viewport/#dom-mediadevices-getviewportmedia) is for everything else. So anything that weans users off of expecting the current tab in the picker early seems go

[2022-03-11 08:26] youennf commented on #209
For self-tab-capture, Hall of Mirrors can be mitigated by the web page itself: region cropping, not previewing the captured stream...

As I said before, the goal of this property is not to solve Hall of Mirrors, but to solve the case of a web app wanting any surface but current tab. This might be a fine goal.
As long as we start with having this as a hint, this seems fine to me. We can always add

[2022-03-11 09:48] eladalon1983 commented on #209
Good to hear, @youennf!

Good to hear, @jan-ivar!

I'd suggest we start with default-include-current-tab, which is basically no-op compared to current behavior[1], and avoid breaking applications. When `getViewportMedia` is specified, implemented and embraced by the Web, we can change this. (When and **if**.) It's premature at the moment.

Any app that wants to allow the user to record an arbitrar

[2022-03-11 18:36] jan-ivar commented on #209
We can't because of the design principle I [mentioned above](https://github.com/w3c/mediacapture-screen-share/issues/209#issuecomment-1064571776), so we need to decide on the default first.

Thanks, but I don't accept this as a use case, because it seems trivial (better even) to open the Loom page you want to record in a separate tab (which lets you demo any page, not just ones with recording cont

[2022-03-14 13:33] eladalon1983 commented on #209
Clarification: I don't mind if it's excludeCurrentTab or includeCurrentTab. Given that you can cite a an established principle for making it includeCurrentTab, I am 100% OK with that, and everything else in my comment assumes this change. To avoid distraction, I try to use "default-include-current-tab", as it would otherwise be confusing if I mean include/exclude when I say "default-false" or "def

[2022-03-14 15:11] jan-ivar commented on #204
Ironically, it's a deleted comment that's making me change my mind here (they likely realized the privacy issue that enumerating all the user's tabs would be, so kudos and my apologies for bringing it up again).

But with my chair-hat on: it reminded me that expanding on the capabilities of in-browser pickers is actually in keeping with our [desire](https://w3c.github.io/mediacapture-main/getuserm

[2022-03-14 20:03] jan-ivar commented on #209
@eladalon1983 No, naming isn't orthogonal to defaults. The only two options are:
[code]
and
[code]
...because we [cannot use](https://lists.w3.org/Archives/Public/public-script-coord/2013OctDec/0302.html) `= true`.

Please reread [my comment](https://github.com/w3c/mediacapture-screen-share/issues/209#issuecomment-1065379977) in light of this clarification.

[2022-03-15 08:50] eladalon1983 commented on #209
Having reread this, I see the source of misunderstanding. Please be advised that when **consecutive multi-word links**, readers might miss that the the first N words link in one direction, while the remaining K words link elsewhere. Such readers would only end up reading one of your multiple linked materials. In our case, ["Prefer dictionary arguments over primitive arguments"](https://w3ctag.gith

[2022-03-15 16:34] eladalon1983 commented on #209
Based on the interim from 2022-03-15, how about:
[code]

And then:
[code]

[2022-03-15 16:38] eladalon1983 commented on #184
Based on the 2022-03-15, I believe we converged on:
[code]
Wdys? @aboba, @jan-ivar, @youennf?

[2022-03-17 15:18] youennf opened #211 "Beef up privacy and security section with regards to the various risks related to the different surfaces"
This is especially important since new APIs allow web pages to influence user selection.

[2022-03-17 15:19] youennf opened #212 "Beef up privacy and security section with regards to the various risks related to the different surfaces"
This is especially important since new APIs allow web pages to influence user selection.

[2022-03-17 17:38] eladalon1983 commented on #209
@jan-ivar and @youennf, please comment on [this general direction](https://github.com/w3c/mediacapture-screen-share/issues/209#issuecomment-1068199367), and I will gladly produce a PR for our next Thursday meeting.

[2022-03-17 19:50] #184 closed, assigned to eladalon1983

[2022-03-18 07:45] dontcallmedom commented on #212
opened twice (see #211), closing this one

[2022-03-18 07:45] #212 closed, assigned to nobody

[2022-03-21 18:48] eladalon1983 commented on #209
Hi @jan-ivar and @youennf. So that I may produce a PR, could you please comment as to whether you agree with this interpretation of the conclusion of the meeting from 2022-03-15?

[2022-03-21 19:15] jan-ivar commented on #209
Since we can't agree on a default, this seems like a reasonable compromise. Let's bikeshed in the PR.

[2022-03-22 09:25] eladalon1983 opened #213 "Spec-hooks requested"
Implementers working on other specs have requested (e.g. on [this issue](https://github.com/WICG/compute-pressure/issues/82)) that we add some spec-hooks. For example, some behavior might be allowed/forbidden if a document holds a video track that refers to an active screen-capture. I think this is a sensible addition (keeping out-of-scope **how** these hooks will be used). I propose:
* A document

[2022-03-22 09:29] kenchris commented on #213
Thanks for filing this @eladalon1983

[2022-03-22 11:19] eladalon1983 commented on #209
[Go for it.](https://github.com/w3c/mediacapture-screen-share/pull/216)
Note: Default value of "none" seemed like a clearer way of communicating "no default value", given that this value communicates a **preference**. (That is, preference=none means "up to the user agent".) Let me know what you think.

[2022-03-23 08:29] bradisbell commented on #100
@henbos @jan-ivar Is it still the consensus that audio-only streams are out of scope for this API?

Audio-only use cases are artificially damaged at the moment.  If a user wants to capture audio from the system or tab, we first have to prompt them to share their screen, hope they can figure out checking the "share audio" box, then stop the video stream, and hope they don't care about the UI saying

[2022-03-23 08:51] henbos commented on #100
I'm not up to speed on this anymore, but IIUC system audio capture does not exist on all popular OSes. I suspect you would be less interested in audio tab capture?

[2022-03-28 16:49] eladalon1983 commented on #100
I think it's counterproductive to force a user to share their (screen AND system audio) when they only want to share (system audio). Similarly for sharing (tab pixels AND tab audio) when they only wish to share (tab audio). Let's reopen this. If there's a simple explanation for such a constraint, and that explanation still holds, then we can always re-close.

[2022-03-29 07:07] henbos commented on #100
Privacy and security:
I'm not saying audio-only capture is necessarily better or worse from a privacy and security perspective, but it may be different enough to be worth revisting if the privacy and security versus use cases trade-off is still worth it.
- Unlike screen sharing, audio-only capture might not be as clear to the user that capturing is happening or what is being captured.
- Unlike scr

[2022-03-29 11:25] eladalon1983 commented on #100
The question of use-cases is interesting and I'll get back to that. Quick recap first of the benefits of supporting audio-only, assuming use-cases exist:
* Benefit to the user:
  * Enhance privacy through not having to share more than strictly intended.
* Benefit to the application:
  * Improved relationship with the user - no need to alarm the user by asking for irrelevant permissions. (Users sho

[2022-04-04 11:16] eladalon1983 commented on #213
Pinging @jan-ivar and @youennf for feedback.

[2022-04-05 18:21] eladalon1983 opened #219 "Avoid user-confusion by not offering undesired audio sources"
User agents may offer audio to be captured alongside video, if the application specifies `{audio: true}`, or maps `audio` to anything else that's different from `false`. But **not all audio is created alike**. Consider video-conferencing applications. Tab-audio is often useful, and can be shared with remote participants. But system-audio includes participants' own audio, and it is NOT desirable to

[2022-04-07 14:41] #189 closed, assigned to nobody

[2022-04-07 15:58] #209 closed, assigned to jan-ivar

[2022-04-07 22:21] bradisbell commented on #100
My use cases involve live stream production, where users capture audio from multiple sources.  This often includes other software such as Skype, Zoom, DJ-style media players, other tabs sharing audio, etc.

Audio-only streaming is very much relevant.  Video is not always required nor desired.  Native applications have no problem in capturing audio in this way.  We only have to look to the success

[2022-04-08 13:05] happylinks commented on #190
Just wanted to give my vote for having this API again.
Today yet another user of our application told us they thought they were already recording their screen after they shared their tab and it jumped to the tab they shared.
We already try to hint them to come back to our tab through the title and favicon like this:
![image](https://user-images.githubusercontent.com/184774/162440494-39548bd6-a1b9-

[2022-04-08 13:38] eladalon1983 commented on #213
Makes sense to me.

Let's try and evaluate if using [[devicesLiveMap]] would be sufficiently wieldy. How do we use it to express the following ideas?
1. This document is engaged in screen-capture.
2. This document is engaged being screen-captured.

Do we get passable results, or is it hard to use [[devicesLiveMap]] here?

[2022-04-24 12:54] NDevTK opened #220 "Consider exposing screen share state to websites."
It seems currently this API exposes the contents of all website with just a attacker controlled navigation.

I think if websites had the global screen recording state maybe via navigator.mediaDevices.isRecording they would be able to implement privacy protections.

- Warning about a navigation causing emails to be listed when recording and using "Sec-Fetch-Site cross-site"
- Redact notifications (

[2022-04-25 07:44] eladalon1983 commented on #220
The general problem is that exposing "you are being recorded" allows websites to self-censor even against the user's wishes. What if the user is making an informed decision to share their bank situation with an out-of-town spouse, parent or other trusted individual? If the Web does not offer the user a mechanism to share, then that user will install a native application to achieve this goal.

[2022-04-25 07:48] eladalon1983 commented on #220
Zooming in on the concern over *navigation*, I have previously suggested, and still support, that the user agent should re-prompt the user for validation of "I still want to keep on sharing this" when the shared tab is navigated.

[2022-04-25 10:10] youennf commented on #220
It seems worth listing the potential downsides for both choices.

If exposing the state, we can end up with website censoring what is being captured.
The workaround is to select the UA window instead of the UA tab, or to capture the UA tab as a window surface.

If not exposing the state, the website might expose very sensitive information like bank credentials, login windows...
There might be more

[2022-04-25 10:20] eladalon1983 commented on #220
Agreed.

Agreed.

[2022-04-26 12:19] NDevTK commented on #220
Only asking on navigation might mean attacks stuff like .focus() .close() .moveBy .moveTo may be abused to show information the user could not see such attacks seem to need a entire screen recording but thats strangely the first option on chrome.

And it also would not affect information that is shown later like notifications (unless a confirmation API existed) or allow for redacting just parts of

[2022-04-26 13:40] eladalon1983 commented on #220
The problem originally stated in this issue appears to me unassailable. Curtailing the user's ability to capture arbitrary content would drive users away from the Web platform and towards native applications. Furthermore, which browser will implement that limitation first? That browser will lose users to competing browsers.

The user is king, and is rightfully accustomed to being obeyed. If the us

[2022-04-26 14:27] eladalon1983 commented on #220
Regardless of our intentions, if we make it possible for a website to censor itself rather than be captured, some websites will use this mechanism, sometimes against the user's wishes, and we will be limiting the user. Some users will come out with the impression that "screencapture on browser-X Just Works™, but on browser-Y it keeps breaking." Users will be upset, browser-Y will roll the feature

[2022-04-26 15:25] NDevTK commented on #220
I understand the issues with sharing the state. (would have needed a permission)
Is there a better solution to the navigation issue?
It would be a nice feature if users could protect a website and its notifications from being shared.

[2022-04-26 19:24] eladalon1983 commented on #219
My understanding of today's WebRTC Working Group meeting was that the suggestion [in this slide](https://docs.google.com/presentation/d/15iAIhzpaA6reKJBL-ecgYtic6ZKHEpKL5OK_sExTllc/edit#slide=id.g12268b98496_2_84) was generally accepted, with some bikeshedding left over names. I propose that we reuse [displaycapturesurfacetype](https://w3c.github.io/mediacapture-screen-share/#dom-displaycapturesur

[2022-04-27 19:30] NDevTK commented on #220
Yeah something dynamic like media query or have an event In terms of advisability I think it would require opt in per origin.
The user would have to perform an action but then the alternative of confirmation on navigation's would require more actions.

[2022-04-28 14:53] youennf commented on #219
Proposal from editor's meeting: add something like 'boolean avoidSystemAudio'member field in https://w3c.github.io/mediacapture-screen-share/#dom-displaymediastreamconstraints.
default value is false (allowing system audio opt-in by user)

[2022-04-28 15:15] eladalon1983 commented on #219
The brainstorming session continued and we landed on:
[code]

[2022-04-29 15:23] eladalon1983 opened #223 "Dynamic Screenshare Source (Share-this-surface-instead)"
### Problem statement
User who share one display surface often wish to make a **quick** transition to sharing another.

### Example 1
* The user prepares to deliver a presentation over VC.
* Before the call starts, the user sets up N tabs, each pre-navigated to a specific location, relevant application already set up. Note that some setup might be involved here. Maybe the user has set up some of t

[2022-05-05 10:42] shaochuancs commented on #105
If the specification states that `getDisplayMedia()` can acquire **"or part thereof"** user's display, but the API design in specification does not allow to do so, it doesn't make any sense. It's even weird that this bug report of specification is rejected.

[2022-05-09 20:00] jan-ivar commented on #223
Nice feature! Why isn't Chrome offering it in getDisplayMedia? I thought that's what https://github.com/w3c/mediacapture-screen-share/pull/170 was for.

I'd say such applications are mistaken. There's no API I know of that allows tight coupling between an app and a tab.

[CaptureHandle](https://w3c.github.io/mediacapture-handle/identity/index.html#capture-handle) allows tight coupling with a _capt

[2022-05-09 21:25] eladalon1983 commented on #223
A colleague of mine is working on it.

For self-capture, the two are one and the same. You might be aware that it's now possible to bring your Meet calls into Docs. If you also choose to capture the current tab, it gets cropped to remove the talking heads and share remotely only the doc. Multiple parts of this complex experience (which I name as an example) assume that the current tab is captured.

[2022-05-10 00:26] jan-ivar commented on #223
Thanks for this context! I've tried it in Chrome now.

The same thing as if the user had chosen a different tab in the first place? — e.g. when I first click the "Present now" button, I'm presented with these choices: (it lets me select "Other Tab", even though it defaults to "This Tab")
<img src="https://user-images.githubusercontent.com/3136226/167516858-c004de93-f47c-4746-baa0-eb771127a848.png"

[2022-05-10 10:12] eladalon1983 commented on #213
@kenchris, do you guys still need this?
@youennf, unless you can express the [two concepts](https://github.com/w3c/mediacapture-screen-share/issues/213#issuecomment-1092870821) well with `[[devicesLiveMap]]`, I think we should merge a PR for this. I'd like to hear budding consensus before I produce it, though. Wdys?

[2022-05-10 10:20] kenchris commented on #213
Yes. We still need this. Maybe this can be done with [[devicesLiveMap]] but as I am not expert in this area I might ignore some corner cases. But if you can show me how to use it correctly, I can live with that

[2022-05-10 12:33] eladalon1983 commented on #223
Yes, these are similar issues. (But not identical - failure to take off is not the same as crashing mid-flight.) Does it matter though? Should our inability to fix one issue prevent us from addressing the other? We had good reasons to force a full selection on the user even when the application does not want it. Do we have a good reason to mandate that source-changing would either be supported **a

[2022-05-16 09:27] dontcallmedom commented on #213
@eladalon1983 as editor, and since this is unlikely to impact implementations directly, I think you should feel empowered to propose a PR in the direction you suggest

[2022-05-16 10:05] eladalon1983 commented on #213
I would have preferred to hear assenting sounds before producing the PR, but given that this one is simple, I've produced it, and will bring it up in the next editors' meeting.

[2022-05-20 17:05] eladalon1983 commented on #223
During the 2022-05-17 WebRTC WG interim meeting, recorded [here](https://www.youtube.com/watch?v=wlwi7491ERo), the consensus was to proceed with this as a hint. I'll send a PR.

[2022-05-30 08:17] kenchris commented on #213
@eladalon1983 when is this meeting?

[2022-05-30 12:53] eladalon1983 commented on #213
It's usually on Thursdays, unless cancelled due to competing events.

[2022-05-30 12:56] kenchris commented on #213
OK, looking forward to the result of the next meeting then!

[2022-05-30 13:30] youennf commented on #213
@kenchris, can you provide some clarifications on what the hooks should be (camera, microphone, screen capture? muted or not?). See https://github.com/w3c/mediacapture-screen-share/pull/224#discussion_r874646060 in particular

[2022-06-01 14:16] happylinks commented on #209
Adding my support for this addition to the spec. At tella.tv we have a web recorder, and we'd never want to let the user record the current tab (current recording session). This will result in the hall of mirrors effect and won't ever result in a good recording:
<img width="2168" alt="image" src="https://user-images.githubusercontent.com/184774/171425882-ffb1d86a-d2e2-44e0-b8e7-60c3ef88dc97.png">

[2022-06-02 13:13] youennf commented on #213
In that case, we probably want to add a hook in mediacapture-main that would check whether any entry in [[devicesLiveMap]] has a value set to true (per document and/or page).

If all captures of a given page are muted, it seems CPU pressure could be applied on the corresponding page. I wonder whether you might not just want to know whether a page (or a document) has at least one non-muted live cap

[2022-06-02 13:40] kenchris commented on #213
Yes, that might work.

I am not exactly sure what you consider muted, only audio, with no video?

[2022-06-02 14:01] youennf commented on #213
I am referring to https://w3c.github.io/mediacapture-main/#track-muted.
Say for instance the screen gets locked, the UA might want the camera to be muted until the screen is no longer locked for instance.

[2022-06-02 14:02] eladalon1983 commented on #211
@youennf, could you please clarify what is missing?

[2022-06-02 14:28] kenchris commented on #213
Got it, your suggestion makes sense then

[2022-06-16 16:35] #223 closed, assigned to nobody

[2022-06-16 18:09] jan-ivar commented on #223
The minutes of that meeting are [here](https://www.w3.org/2022/05/17-webrtc-minutes.html#t10).

[2022-06-16 18:26] youennf opened #227 "Fire configurationchange event in case the track is changing of source"
It seems potentially useful to fire the configurationchange event (defined in mediacapture-extensions) when the source of the track is changing. This may help the web app look at the surface type and other meaningful parameters.

[2022-06-16 18:30] eladalon1983 commented on #227
Are you thinking [DisplayMediaStreamConstraints.surfaceSwitching](https://github.com/w3c/mediacapture-screen-share/pull/225) here?

[2022-06-16 18:33] youennf commented on #227
Right, although the spec already allows to change the track source even without surfaceSwitching.

[2022-06-16 18:35] eladalon1983 commented on #227
Yes, surfaceSwitching is just a way for the application to hint to the user agent as to whether it wants such a mechanism to be exposed to the user.

Firing an event of **some** sort seems very useful indeed.

[2022-06-16 20:59] jan-ivar opened #228 "DisplayMediaStreamConstraints is now an options object"
Recent non-constraint member additions to [DisplayMediaStreamConstraints](https://w3c.github.io/mediacapture-screen-share/#dom-displaymediastreamconstraints) make this an "options" dictionary more than a dedicated constraints container.

Also, some algorithm steps were broken by this: _"Let requestedMediaTypes be the set of media types in constraints with either a dictionary value or a value of tr

[2022-08-25 14:29] #228 closed, assigned to jan-ivar

[2022-08-31 22:18] jan-ivar opened #230 "A CaptureController object for getDisplayMedia()"
As promised in https://www.w3.org/2022/05/17-webrtc-minutes.html#t05 a dedicated controller object for getDisplayMedia.

An initial version would be aimed at solving #190 for now:
[code]

The controller is associated 1 ←→ 1 upon getDisplayMedia success, and cannot be re-associated after that.

1. Presence of the controller suppresses the automatic bring-to-front with focus that happens today.
2. W

[2022-09-01 07:08] youennf commented on #230
I do not see much value in reusing controller objects.
It would be simpler if the controller is associated upon getDisplayMedia being called (except in case of synchronous exception). That would cover the case of getDisplayMedia being called twice in a row for instance. First one would proceed, second one would reject synchronously.

Seems fine given above caveat.

This is UA territory, I am not s

[2022-09-01 07:14] youennf commented on #230
It is also worth pointing out that not focusing increases the risk of mis-selection by the user, so particular care should be brought there by UA to limit this risk.

[2022-09-01 10:01] eladalon1983 commented on #230
Would this be `getDisplayMedia({video: ..., controller: controller})`?

Do we really want to inform the capturer that the capturee has gained focus?

The capturing application can observe that it has, itself, lost focus. But it can't tell if the user has `alt-tab`-ed to another native app, switched to another tab, etc. And I think that's enough.

Maybe you intention here is to convey an error mess

[2022-09-01 10:04] eladalon1983 commented on #230
To clarify the tone of this message - I think we're on a similar page overall. I am supportive of the controller approach as a good compromise, I want to use it to reach consensus on [Conditional Focus](https://github.com/w3c/mediacapture-screen-share/issues/190), and I'd like us to make rapid progress over the shape. My comments below are to that effect.

Would this be `getDisplayMedia({video: ..

[2022-09-01 11:37] youennf commented on #211
We are adding things like preselecting getDisplayMedia browser tab pane or disabling focus to the captured area.
As I said in the past, it would be good to assess and mention the risks of such new features.
For instance, these two features might typically ease attacks where the capturer is capturing a tab that is not visible to the user and that it can navigate to arbitrary origins without the use

[2022-09-02 00:04] jan-ivar commented on #230
Glad to hear support for the controller model! Totally agree that in absence of the controller a spec note seems fine.

I like it. And synchronous exceptions aren't possible from async API methods, so we don't have to worry about those.

I feel we rabbit-holed in #190 and failed to find anything more restrictive that didn't trade one problem for another.

But from some of the comments I worry I've

[2022-09-02 00:22] jan-ivar commented on #230
I also agree that previews are the solution to mis-selection.

[2022-09-02 00:28] jan-ivar commented on #230
Yes, both [work](https://jsfiddle.net/jib1/q75yb8pf/) since [video defaults to true](https://w3c.github.io/mediacapture-screen-share/#displaymediastreamoptions). We're missing a WPT test for that though...

[2022-09-02 07:40] youennf commented on #230
It seems we have two paths here.
1. focus() is a one time thing.
This option is more capturer saying "I made a decision to focus or not to focus".
In that case, I would prefer that web site be explicit about either 'I focus' or 'I do not focus'.

2. focus() is a way to focus capturee, not just after getDisplayMedia but at any point in time.
It does not seem bad for capturer to provide UI to quickl

[2022-09-02 12:00] eladalon1983 commented on #230
That's the version I'm after, and for that reason, I want an explicit decision - `setFocusBehavior(FocusBehaviorEnum)`.

Vendors of video conferencing software have requested this functionality (this = focus-capturee at an arbitrary time). At the moment, I don't think we can accommodate them, because the risks outweighing the rewards. (Note that user activation is insufficient - tricking the user

[2022-09-02 12:44] youennf commented on #230
Can you elaborate on the risks?
Could these risks also apply in case we delay focus by 1 second as proposed here?

[2022-09-02 12:50] eladalon1983 commented on #230
Please see the text beginning with "tricking the user to double-click..." and ending with "...of the captured surface" in [this message](https://github.com/w3c/mediacapture-screen-share/issues/230#issuecomment-1235415996).

1. Not credibly, due to the time limit. And we can tighten the time limit if necessary.
2. The existing behavior of all user agents that support capturing windows or tabs, is t

[2022-09-02 13:05] youennf commented on #230
Your past message says that tricking a user to click will allow the web page to focus to the capturee page.
My question is what are the scenarios where you think this behaviour will be exploited for bad reasons.

Why is not focusing the less risky behaviour?
Isn't it more risky to leave the user without any preview of what is being shared?
Also, it seems wrong if the more risky behaviour is the de

[2022-09-02 13:41] eladalon1983 commented on #230
I am not sure where the unclarity lies. Two options have been discussed:
1. Focus yes/no can only be decided right after getDisplayMedia() resolves.
2. Focus yes/no can be decided at an arbitrary point.

I have explained the dangers inherent to 2, and explained that therefore, only 1 is in scope for me.

Namely, if we were to implement 2, an attacker could cause the user to click inside the captur

[2022-09-02 18:19] jan-ivar commented on #230
Let's see if we can nail down the controller pattern first. Folks who have spoken up seem in agreement that:
- Any controller is associated 1 ←→ 1 synchronously in getDisplayMedia, and cannot be re-associated
- Without a controller, any focusing is [implementation defined](https://infra.spec.whatwg.org/#implementation-defined) with a note to recommend web compat behavior (focus)
- Controller is de

[2022-09-02 19:04] eladalon1983 commented on #230
I definitely agree, and it seems to me that you agree too, @jan-ivar. We have discussed this API at #190 over multiple months and several interim meetings. We have all been discussing shape in-depth for a long time now, so if anyone were to call the entire thing into question at this stage, I'd be very curious to hear what had changed their mind.

---

I see points 1-8 in [my message](https://gith

[2022-09-02 19:15] jan-ivar opened #231 "Spec should mention clickjacking concerns"
Though it's unspecified, all browsers that support `"window"` and `"browser"` displaySurfaces [focus the captured window and/or tab either immediately before or immediately after *getDisplayMedia* success](https://jsfiddle.net/jib1/1vjpow8b/show) (in Firefox it's after, but in Chrome it's had to tell because its prompt blurs the page).

If designed poorly, this may risk exposing end-users to click

[2022-09-02 20:55] jan-ivar commented on #230
I agree, but with my chair hat on: we have a [process](https://github.com/w3c/webrtc-charter/blob/gh-pages/workmode.md#issue-management) where urgency is for the chairs to manage outside of github so we can focus on receiving input on the topic here. chair hat off.

[2022-09-02 21:14] eladalon1983 commented on #230
@jan-ivar, I'm assuming your last comment pertains only to the lines it quoted. So wrt to this part:

What is your answer?
Or are you saying that this is not the way forward towards consensus? If so - what's next, then?

[2022-09-02 21:32] eladalon1983 commented on #230
(Btw, I am not sure what urgency is discussed in [this comment](https://github.com/w3c/mediacapture-screen-share/issues/230#issuecomment-1235888289). The entire premise of Conditional Focus is that the captured surface may be focused or not focused depending on the application's preference. This appeared to be acceptable to all concerned, as we were already diving deep into the particulars. It is

[2022-09-02 21:38] jan-ivar commented on #230
FWIW I disagree with this characterization, as it associates the OP proposal with features that aren't being proposed (straw man). My comparison to user activation was merely meant to suggest our concern over sites missing a timeout seems overblown, because the task of focusing a window is inherently racy with end users anyway who may be focusing windows themselves if they become impatient. E.g. a

[2022-09-02 22:05] eladalon1983 commented on #230
Unspecified is unspecified, but at least in Chrome's implementation, yes, that's what I intend.

Exactly.

I don't see an alternative. Or did I misunderstand your mention of user-activation? Do you suggest we *only* use a timer? If so, my problems with that include:
* That seems like it's going to encourage Web-devs to produce buggy code that induces flaky behavior. Namely, they'll call `setFocusB

[2022-09-02 23:46] jan-ivar commented on #230
After filing https://github.com/w3c/mediacapture-screen-share/issues/231 I fear that focusing after capture has begun adds some risk. This perhaps limits the attractiveness of a timer unless it's quite short. cc @martinthomson

Good, we could still specify the invariant that it needs to be the _same_ behavior.

Yes, that is all I proposed in the [OP](https://github.com/w3c/mediacapture-screen-shar

[2022-09-03 00:55] jan-ivar commented on #230
Callbacks are ugly, and tasks and microtasks are equally vulnerable to busy waiting. So I'd prefer e.g.:
[code]
If the next task takes over a second to run then something's seriously broken and focus fails, which seems good. Thoughts?

[2022-09-06 12:28] youennf commented on #230
The use cases I heard so far:
- app always wants focus
- app never wants focus
- app might want focus for some display surfaces, not others.
Those use cases would be covered by boolean focusTab and focusWindow preferences to DisplayMediaStreamOptions.
Or maybe a single focus preference that could take a vector of strings (tab, window, same-origin-tab...).
This should be quick and easy to spec/impl

[2022-09-06 12:36] eladalon1983 commented on #230
Youenn, the very first post of the [original thread](https://github.com/w3c/mediacapture-screen-share/issues/190) mentions the need for **conditionally** focusing depending on what application is being captured. Please read the **Sample Use Case** section [here](https://github.com/w3c/mediacapture-screen-share/issues/190).

[2022-09-06 12:40] youennf commented on #230
So the urgent use case you have in mind is web app focus decision based on information provided by capture handle identity?

[2022-09-06 12:42] eladalon1983 commented on #230
Correct. This has been presented in the WebRTC WG interim meetings over the last year. Speaking of which - happy anniversary to [the original Conditional Focus thread](https://github.com/w3c/mediacapture-screen-share/issues/190)! 🎂

And [here is](https://docs.google.com/presentation/d/1dwgo4N86CriLrRLjVCD5nFDsq_OC8GNALAtCA7e0pIo/edit#slide=id.gef5c89d116_0_602) a deck from the WG meetings that exp

[2022-09-06 12:48] eladalon1983 commented on #230
And [here is](https://docs.google.com/presentation/d/1dwgo4N86CriLrRLjVCD5nFDsq_OC8GNALAtCA7e0pIo/edit#slide=id.gef5c89d116_0_602) a deck from the WG meetings that explains this. See slides 12-14. The [minutes](https://www.w3.org/2021/09/20-webrtc-minutes.html#t05) reflect your contributions to the discussion.

[2022-09-06 13:53] eladalon1983 commented on #230
@jan-ivar, if, [as you propose](https://github.com/w3c/mediacapture-screen-share/issues/230#issuecomment-1235982999), we specify that both getDisplayMedia() and getDisplayMedia({controller}) must have the same default unspecified behavior in the absence of a call to setFocusBehavior(), then it will effectively mean that the latter will focus by default. This means that for applications that don't

[2022-09-06 15:15] youennf commented on #230
s/microtask/task.

This sounds good enough to me.
It is stricter than what @jan-ivar proposes so seems like a good start as it is always feasible to relax in the future.

Rejecting the promise is probably better.
There is no harm in doing so AFAIUI and the promise might reject for other reasons (say user sets a preference to always focus no matter what web page is saying).

Controller is not trans

[2022-09-06 15:28] eladalon1983 commented on #230
We can do the following if you'd like:
* Timer in the content process elapses -> reject the promise.
* Timer in the trusted process elapses -> silent failure as no-op.

Note:
* `WOO-start(browser) <= WOO-start(content)` and `WOO-end(browser) <= WOO-end(content)`, and obvious `start < end` for both, but nothing else can be guaranteed.
* It could be that setFocusBehavior() is called after 0.4999 sec

[2022-09-06 16:45] youennf commented on #230
Why is it important to silent fail this case? It seems better to report the error.

With regards to setFocusBehavior vs. focus, I think we should have a discussion about whether we think there is a path forward for supporting focus() at an arbitrary time (as long as capture happens).

[2022-09-06 18:24] eladalon1983 commented on #230
Because we want `setFocusBehavior()` to be sync. Or do you see this case as different from that of [CropTarget creation](https://github.com/w3c/mediacapture-region/issues/17)? Back then, Apple and Mozilla felt very strongly that anything that could be sync, should be sync. Has that changed?

Focus at arbitrary time - not at the moment, and I suspect not at all from Chrome's perspective. But suppos

[2022-09-06 19:11] youennf commented on #230
In the CropTarget case, the value returned by the function is the CropTarget itself.
Here, the returned value is whether the UA complied with the desire of the web page to focus or not.
It makes sense to return this value as a promise since UA decision is async.

The question you might raise is whether there is enough value for exposing this information or not.
I tend to think this has some limite

[2022-09-06 19:24] eladalon1983 commented on #230
I don't think we should report that. Please see earlier comments on this thread.

I tend to think this has some limited benefits and is more future proof.

There are no immediate benefits to justify the complexity. If benefits are later discovered, changing from `undefined func()` to `Promise<> func()` is a non-breaking change. (Excepting exceptions, perhaps.)

[2022-09-08 04:08] jan-ivar commented on #230
Great to see progress! Quick comments:
- controller should be non-transferable
- I'm ok with sync for now
- I still prefer `focus()` over `setFocusBehavior("focus-captured-surface")`

The last point is not for future proofing, but because it is simple and elegant.

Browsers' behavior today assumes a specific task. It is taking automatic action toward that task. I think if you attach a controller t

[2022-09-08 04:16] jan-ivar commented on #230
Regarding timer, with `focus()` it's simpler: no concern over delaying a default action. The window simply won't be focused past some time.

[2022-09-08 04:24] jan-ivar commented on #230
Do we have TPAC time for this? If so it is probably more urgent to make slides than a PR. We could present both options even.

[2022-09-08 07:40] eladalon1983 commented on #230
I'm happy to start with that. (I imagine you might wish to revise that in the future for Capture Actions. I think we'll be able to.)

Awesome, agreement there too.

Please see my point in the first paragraph of [this message](https://github.com/w3c/mediacapture-screen-share/issues/230#issuecomment-1238184221). Namely, your requirement of `same unspecified default behavior with/without controller`

[2022-09-08 07:50] eladalon1983 commented on #230
This appears to be the main remaining open issue. Let's tackle it. I'll explain my position again.

* Timers always produce flakiness. That's a necessary evil and we'll live with it. But it's still evil, so we should minimize it.
* Code that calls `setFocusBehavior()` sooner will be less flaky than code that calls `setFocusBehavior()` later. We should strongly encourage developers to call `setFocu

[2022-09-13 19:01] eladalon1983 commented on #230
Summary of conclusions from the TPAC session of 2022-09-13 ([slides](https://docs.google.com/presentation/d/1HUx-gh2RlNMCjHNbTjQYvrPcLmov8Sq8MAC7sNxXbB8/edit#slide=id.gfe3f684dcc_0_203)):
* We'll not specify the default behavior (focus/no-focus) for either case (controller/no-controller).
* The UA is not compelled to abide by the application's request to focus/not-focus. (Accommodating Safari's im

[2022-09-13 20:15] youennf commented on #230
Regarding window of opportunity, I think we should put a note that the goal is to allow for the current task only and that the current algorithm is an approximation.

[2022-09-15 12:31] Ms2ger opened #232 ""current settings object's relevant global object" is not defined"
There's one occurrence of "[current settings object](https://html.spec.whatwg.org/multipage/webappapis.html#current-settings-object)'s [relevant global object](https://html.spec.whatwg.org/multipage/webappapis.html#concept-relevant-global)" in the spec, but a settings object doesn't have a "relevant global object", only a "[global object](https://html.spec.whatwg.org/multipage/webappapis.html#conc

[2022-09-16 16:25] eladalon1983 opened #233 "Spec appears to require gDM leak info on availability of audio"
The spec says as follows:

...

This appears to require that if audio is requested by the application, and is not available for the user agent to share, then gDM should reject. (Note that this is done before prompting the user. It's not about what the user ultimately chooses.)

Presumably this was added for the perverse case of gDM called on a device with no attached screen and no visible screens,

[2022-09-16 23:57] eladalon1983 commented on #230
Works for me.

[2022-09-29 12:11] eladalon1983 opened #234 "Inconsistent formatting in doc"
The document is very inconsistently formatted. It appears to have been done by hand, or rather, by many different hands.

The README for this repo claims:

Presumably "something like" is a key part of that instruction, since the actual command proposed does not work anymore:
[code]

I think we should have an exact automatic-formatter command and start using it when merging PRs.

[2022-09-29 13:07] dontcallmedom commented on #234
this needs https://github.com/htacg/tidy-html5 to work.

we used to take a more systematic approach to line-wrapping and could look at automating it again, but it comes with a non-negligible cost in terms of creating conflict when multiple PRs in parallel touch the same area of the spec.

[2022-09-30 07:40] beaufortfrancois opened #236 "Address nullability of DisplayMediaStreamOptions.controller"
I believe we should make the new `CaptureController controller` member in the `DisplayMediaStreamOptions`  dictionary either:
- optional with `CaptureController? controller = null;`- even though it is already optional according to https://webidl.spec.whatwg.org/#dictionary-member-optional,
- or remove the `= null;` part that was added in https://github.com/w3c/mediacapture-screen-share/pull/235/co

[2022-09-30 07:47] beaufortfrancois commented on #236
Note that https://github.com/whatwg/webidl/pull/1205 would go towards removing the null part and simply have `CaptureController controller;`.

[2022-09-30 09:10] eladalon1983 commented on #236
The [first revision](https://github.com/w3c/mediacapture-screen-share/pull/235/commits/fbd5ebcbf2062c1228e9ff10ec360668b79021a4) indeed had it as `CaptureController controller;`.
During the editors' meeting, it was requested that `= null` be added.
I'm fine either way.

[2022-09-30 09:13] beaufortfrancois commented on #236
What are the arguments for making this nullable, when this member is already optional?

[2022-09-30 09:25] eladalon1983 commented on #236
@jan-ivar, I think you wanted this change? Or do I misremember?

[2022-09-30 10:46] youennf commented on #236
Agreed, we should remove ` = null` from the IDL definition.

[2022-09-30 14:36] beaufortfrancois commented on #236
FYI, @annevk approved recently https://github.com/whatwg/webidl/pull/1205/ which makes sure the WebIDL spec [dictionary example](https://webidl.spec.whatwg.org/#example-f7efabfd) does not have members that are both optional and nullable. The reason being it's better to explicitly handle the case where optional members are omitted.

<img width="782" alt="image" src="https://user-images.githubuserco

[2022-09-30 14:41] jan-ivar commented on #236
You are correct we need `?` here, thanks for catching this! I've written https://github.com/w3c/mediacapture-screen-share/pull/238 to take care of this.

Note that `?` makes it _[nullable](https://webidl.spec.whatwg.org/#idl-nullable-type)_, which it has to be to have a default value of `null`, not optional, which you are correct to observe that dictionary members already are when they aren't qual

[2022-09-30 15:05] youennf commented on #236
This might be observable if passing null would reject getDisplayMedia promise in one case and not the other.

Why allowing to pass a null value and an undefined value to controller field?
Are there existing APIs doing so?

It seems unnecessary and increases a bit UA generated code.

[2022-09-30 15:18] annevk commented on #236
You generally shouldn't need nullable dictionary members to indicate missing values. Optional, i.e., undefined, is the right way to go about that. For new APIs we don't want undefined and null  to mean the same thing. That typically results in null throwing, just like any other unsupported type would.

Null can be reasonable if there's a getter somewhere that returns null and it's logical to pass

[2022-09-30 15:20] eladalon1983 commented on #236
Making it a non-nullable optional seems like the most straight-forward way to ensure JS code is unambiguous and predictable. Apps either fail to supply a value, or they supply a patently legal value (modulo reusing an old controller). Developers don't need multiple ways of expressing the same thing.

[2022-09-30 15:31] jan-ivar commented on #236
I'm trying to back up my statements, but its making me fall behind in the conversation, so apologies for taking a bit to address all the claims being made here. I would encourage others to back up opinions with supporting documents as well.

This seems to go against [6.5. Make method arguments optional if possible](https://w3ctag.github.io/design-principles/#optional-parameters) which says default

[2022-09-30 15:48] beaufortfrancois commented on #236
I've played a bit in a Chromium build to see how it reacts to those API shapes and here are my results when I pass `{controller: null}`:

1. With `CaptureController controller`, I get a TypeError. See below

<img width="889" alt="Screen Shot 2022-09-30 at 17 41 30" src="https://user-images.githubusercontent.com/634478/193307144-6b3f066b-814e-4379-a473-4512f8e1e50e.png">

2. With `CaptureController

[2022-09-30 15:49] jan-ivar commented on #236
That's interesting. Can you please link to support for this advice? I couldn't find it in the design guidelines.

Even for object and interface inputs? E.g. we want the following to reject?
[code]
I'm no fan of `null` personally, but I wasn't aware we'd gotten there yet.

[2022-09-30 15:59] annevk commented on #236
I'm not sure if there's a good link for this, but that's how JavaScript does this. Note that there is a default here, it's not just stated explicitly: undefined. https://github.com/whatwg/webidl/issues/905 will make this better, but that will take some time.

https://w3ctag.github.io/design-principles/#optional-parameters might be a good place to put this. Want to PR that too @mgiuca? 😊

[2022-09-30 16:15] jan-ivar commented on #236
Since I can't find this advice anywhere, could someone find me a link to a precedent here that isn't a legacy API? (I looked through all of HTML for one and couldn't find it).

Also, how do TypeScript folks operate? Do they expect `null` to be valid input to methods taking optional interfaces?

[2022-09-30 16:44] annevk commented on #236
https://dom.spec.whatwg.org/#dictdef-addeventlisteneroptions for instance. Handled here https://dom.spec.whatwg.org/#event-flatten-more (note that internally not given is represented as null, but null cannot be passed on the JS side).

[2022-09-30 17:47] jan-ivar commented on #236
Default function arguments in JS [seem to work that way, while `??` works another](https://jsfiddle.net/jib1/zoxepamv/), treating `null` and `undefined` the same. But those aren't examples of throwing or rejecting. Where does JS throw or reject on `null`?

If we reject on `null`, then the subset of web developers who operate in larger code bases that use `null` liberally might end up writing defen

[2022-09-30 18:11] jan-ivar commented on #236
Thanks for those links. That does seem to set a precedent. I still have my questions/doubts above though.

The link also illustrates a common expectation to use `null` in implementation code. But I agree this is a separate concern: A benefit of defaults in my mind is to simplify prose (and implementations) by capitalizing on the invariants they provide so we don't need to write so many `if`s in pr

[2022-10-01 14:10] annevk commented on #236
I think currently you cannot use the simplified prose as Web IDL normalizes undefined to missing. It would probably work if we get rid of optional/missing entirely.

[2022-10-01 14:12] jan-ivar commented on #236
Maybe we could add a WebIDL extended attribute that turned missing into `null`?

[2022-10-01 14:46] jan-ivar commented on #236
To understand the general advice here better, is it meant to also apply to dictionary arguments to constructors?

I notice in both this and the AddEventListenerOptions example, there were no corresponding `readonly` attribute exposing the internal slot for JS to read back what was set, if anything (is the advice for such an attribute to still yield `null`, or `undefined`)? Interfaces don't support

[2022-10-03 08:47] youennf commented on #236
An example of where it makes some sense to use an optional nullable dictionary member is RequestInit.body (https://fetch.spec.whatwg.org/#requestinit). Request has a nullable body getter (https://fetch.spec.whatwg.org/#dom-body-body) and it might be handy to use this getter when creating a new Request from an existing one.

In our particular case, there is no corresponding controller getter so kee

[2022-10-03 16:15] eladalon1983 commented on #236
Does this need to go to a formal vote in the WG, or can we converge on a decision in GitHub? The opinions I believe I am reading are:
* @eladalon1983: Either decision is OK, but preference for `CaptureController controller;`.
* @beaufortfrancois: Preference for `CaptureController controller;`.
* @youennf: Preference for `CaptureController controller;`.
  * "keeping it as a simple optional member s

[2022-10-03 21:16] jan-ivar commented on #236
Folks seem to be landing on the idea that `null` shouldn't be valid input _unless_ a nullable getter exists somewhere for the thing we may wish to pass in. It's true we can always make it nullable later if we ever end up defining such a getter, except...

A flaw in this logic seems to be it assumes we are in control of all getters, or that only platform getters matter.

JS-library getters would ei

[2022-10-03 21:34] jan-ivar commented on #236
But in the interest of progress, I see no immediate problem with removing nullable that we cannot undo later.

[2022-10-04 07:34] eladalon1983 commented on #236
Great. Would you please re-review #237 in light of that?

[2022-10-05 13:27] eladalon1983 commented on #230
Now that #235 has been merged, shall we close this issue? (I am putting the final touches on a separate PR for setFocusBehavior(), and I'll mark it as closing #190.)

[2022-10-05 15:29] jan-ivar commented on #230
Thanks for the PR!

[2022-10-05 15:29] #230 closed, assigned to nobody

[2022-10-06 14:14] #236 closed, assigned to nobody

[2022-10-10 21:02] jan-ivar opened #241 "surfaceSwitching seems under-specified"
[surfaceSwitching](https://w3c.github.io/mediacapture-screen-share/#dom-displaymediastreamoptions-surfaceswitching) _"signals whether the application would like the user agent to offer the user an option to dynamically switch the captured [display surface](https://w3c.github.io/mediacapture-screen-share/#dfn-display-surface)."_

This is alluding to a feature that isn't specified anywhere, and it's

[2022-10-11 07:45] youennf commented on #241
I proposed some time ago to fire https://w3c.github.io/mediacapture-extensions/#exposing-change-of-mediastreamtrack-configuration in case of surface switching. Specifying the behavior would indeed be good.
Note that the switching is not necessarily done from UA but can be done at OS level.
It seems best to add a hook in the spec that the UA can call when switching happens, similarly to https://w3c

[2022-10-11 08:59] eladalon1983 commented on #241
Users want the flexibility to quickly change what they're sharing. This is often why they share their entire screen. The more flexibility we give them to change between windows-tabs, the less often they'll score own goals by sharing the entire screen. I think that's very compelling.

Also, privacy-wise, switching between two different native apps does not seem worse than switching between a native

[2022-10-13 15:18] #190 closed, assigned to nobody

[2022-10-14 08:29] eladalon1983 opened #246 "Adopting explainers"
I've produced the following explainers for screen-share controls that we introduced over the last year:
- [displaySurface explainer](https://github.com/eladalon1983/screen-share-explainers/blob/main/displaySurface_Constraint_Explainer.md)
- [selfBrowserSurface explainer](https://github.com/eladalon1983/screen-share-explainers/blob/main/selfBrowserSurface_Explainer.md)
- [suppressLocalAudioPlayback

[2022-10-14 08:32] eladalon1983 commented on #246
(We can massage and extend them to remove the focus on Chrome, either making them more generic, or covering various implementations, as applicable.)

[2022-10-14 10:02] eladalon1983 opened #247 "Editorial: Use {{func()}} or {{func}}"
There is inconsistency in this document.
* 8 references to `{{MediaDevices/getUserMedia()}}`, 0 references to `{{MediaDevices/getUserMedia}}`.
* 6 references to `{MediaDevices/getDisplayMedia()}}`, 17 references to `{MediaDevices/getDisplayMedia}}`.

Shall we align on a single style?

[2022-10-14 19:43] josephrocca commented on #220
Just want to chime in here to say I agree that:

* Unintentional leaks are definitely an issue worth trying to solve.
* It's probably not a good idea to let a website know that it's being recorded.

But what about allowing a web page to mark itself, or elements of itself as being "sensitive". Then the user can e.g. click a checkbox next to the "Stop Recording" button to censor elements/pages that

[2022-10-14 20:29] bradisbell commented on #220
It should not be up to the user agent to decide what the user can't share.  There are already far too many hurdles to simple tasks such as screen sharing.  Additional dialogs requesting or confirming the user's choice are a bad user experience as they create additional friction and confusion.  Confused and frustrated users are much more likely to click through to bypass dialogs without understandi

[2022-10-14 20:39] NDevTK commented on #220
If a user intentionally shares their entire screen then thats fine this about unintentional leaks.
If a user clicks a button to hide sensitive content as defined by the website that seems opt in.
The browser can detect if content has been made hidden and the user would obviously be allowed to opt out.

[2022-10-14 20:46] NDevTK commented on #220
You can on chrome no user interaction needed they would normally pay 5K for it :/

[2022-10-17 09:36] eladalon1983 commented on #234
If we format when no large PRs are outstanding, what cost do we expect?

[2022-10-18 18:39] eladalon1983 commented on #246
@dontcallmedom

[2022-10-20 14:10] alvestrand commented on #246
Elad will produce PRs, starting with conditional focus. We'll review in detail in the PR.

The screenshare "global" explainer should have links to the others.

[2022-10-20 14:51] alvestrand commented on #247
Mostly we're using parentheses in mediacapture-main. So let's go with that for now.

[2022-10-20 14:54] alvestrand commented on #233
Should make it clear that requestedMediaTypes checked here is not meant to do audio.

[2022-10-20 14:56] jan-ivar commented on #233
Should probably only be `NotFoundError` for video, since audio is optional (mentioned elsewhere in this spec)

[2022-10-26 15:08] eladalon1983 opened #252 "CaptureController.setFocusBehavior() while promise pending or after it is rejected"
The use cases we had in mind for CaptureController.setFocusBehavior() were:
1) Calling setFocusBehavior() before getDisplayMedia() is called.
2) Calling setFocusBehavior() immediately after getDisplayMedia()'s promise is resolved.

There are two additional options which we did not explicitly consider:
3) Calling setFocusBehavior() after the promise is rejected.
4) Calling setFocusBehavior() while

[2022-10-28 07:44] beaufortfrancois opened #253 "Define max frameRate constraint behavior when set to 0"
I've noticed screen-capture web platform tests at https://github.com/web-platform-tests/wpt/blob/3728473b8ef5c7f382547d0809fe2d176c254f4c/screen-capture/getdisplaymedia.https.html#L174 say that `getDisplayMedia({video: {frameRate: {max: 0}}})` should fail with `OverconstrainedError`.

Looking at the [spec](https://w3c.github.io/mediacapture-screen-share/#dfn-framerate) though, it's not clear what

[2022-10-28 08:00] youennf commented on #253
The spec says:
- Reject if dictionary contains a member named max, and that member's value in turn is less than the constrainable property's floor value (https://w3c.github.io/mediacapture-screen-share/#dfn-floor-value step 7.3)
- Floor value MUST be greater than zero. (https://w3c.github.io/mediacapture-screen-share/#dfn-floor-value)

It seems to me the spec mandates the rejection for { max: 0 },

[2022-10-28 08:35] beaufortfrancois commented on #253
Thank you @youennf! I'll do my best to make Chromium spec-compliant then.

[2022-10-28 08:35] #253 closed, assigned to nobody

[2022-11-07 08:45] eladalon1983 commented on #252
Gentle ping @jan-ivar and @youennf.

[2022-11-07 13:37] youennf commented on #252
That seems consistent with throwing in case source is stopped.

This makes sense, I assumed until now this was already the case.

One possibility is to replace the [IsBound] by [GetDisplayPromise].
Then in setFocusBehavior, check whether [GetDisplayPromise] is a rejected promise.
If so, throw.

An alternative is to add a line like:
- Upon rejection of p, set controller [FocusDecisionFinalized] (or

[2022-11-08 09:12] eladalon1983 commented on #252
Thanks, Youenn. I think we're aligned on what the spec should say, then, and are working out how to say it. I like all options presented, but let's devil's advocate away. <Rolls up sleeves.>

To do this, the getDisplayMedia algorithm should be modified to say "let p be a new promise" earlier, set it in the internal slot, then whenever it currently throws, it'd need to modify the local variable p b

[2022-11-08 09:47] youennf commented on #252
We could do like mediacapture-main and use something like `jump to the step labeled`...
We would create p upfront, and the step would reject p with the provided error.

[2022-11-08 14:59] eladalon1983 commented on #252
That's what I mean with an exit-step, yes.

[2022-11-08 15:21] jan-ivar commented on #252
Overall agree. Regarding how to spec it, the two options have slightly different timing: `Upon rejection of p` queues a microtask, which might be an observable side-effect for spec-writing convenience, so I'd prefer the exit-step.

[2022-11-08 15:31] youennf commented on #252
It might be slightly better to set the slot value in the micro task happening just before the micro task where the web application will know the promise is rejected.
Otherwise, it allows the web application to synchronously know whether getDisplayMedia was synchronously rejected, which seems unusual.

[2022-11-08 16:09] jan-ivar commented on #252
Good observation, though maybe it's a natural consequence of our unusual pattern? But more importantly, do we want `setFocusBehavior` throw or not here?
[code]
If we do, then that _is_ detecting failure synchronously. Why is that problematic? I think I'd prefer not throwing at all over throwing based on timing.