[2014-09-12 14:43] martinthomson opened #1 "Remove entire desktop sharing"
Feedback from some folks at Mozilla is that sharing the entire desktop has some undesirable properties:
- It forces us to black out the browser to provide the protection that we need for CSRF
- It opens up the option for a click through dialog of the form "Do you want to share your desktop? y/n", which removes the implicit consent advantage of a forced selection.
- It provides challenges for feedb

[2014-09-12 14:44] martinthomson opened #2 "Application vs. browser"
Feedback from discussions today was that the distinction between "browser tab" and "application window" was not something that was completely obvious. While the distinction is still relevant from an implementation perspective, the suggestion was to remove the differentiation in the user consent dialog and the API.

This avoids applications needing to be able to know, a priori, whether an applicati

[2014-09-12 14:45] martinthomson commented on #2
@keithgrif says:
Is the concern that if a browser has multiple tabs open that you want the user to be able to choose a specific one to share but not advertise/display the title of other tabs?

[2014-09-12 14:45] martinthomson commented on #2
One concern that Patrick L raised was that application sharing is less good from a surprise/security perspective. We want to ensure that sharing is appropriately scoped.

Say that you have PowerPoint with several decks open. It might be that when you select the "application" for sharing, material from a window you don't intend to share might be visible. That's not a positive experience. This is ex

[2014-09-12 14:46] martinthomson commented on #1
@keithgrif says:
Desktop share is quite commonly used and offers several advantages (and challenges). I dont understand the requirement to black out the browser and the CSRF protection concern, it would be great to understand that in more detail. We should also discuss the requirements and capabilities that constitute desktop share.

[2014-09-12 14:46] martinthomson commented on #1
No one does. That's the problem. Read https://tools.ietf.org/html/draft-ietf-rtcweb-security-07#section-4.1.1 for details. Unfortunately, you need a pretty strong grounding in the cross origin model to get this stuff.

[2014-09-12 14:47] martinthomson opened #3 "tabid"
Having the application able to select a sharing target, or to significantly influence the sharing target, was identified in a review to be problematic. An important characteristic of the consent process is that the user selects what is shared, this undermines this.

This might need to be held until we have final UX, which might suggest a way around this.

[2014-09-12 14:47] martinthomson commented on #3
@keithgrif:
I'm assuming that no matter what sharing target is selected it can only be shared with user consent? In this way even if an app identifies or suggests a sharing target it cannot happen without user agreement. Is the problematic area the fact that the app could select the share or something else? It would be great to discuss this more and understand the UX possibilities.

[2014-09-12 14:48] martinthomson commented on #3
The problem here is that we want to demonstrate intent and avoid the usual problem around interstitial dialogs. Forcing the user to actively select content means that there is a deliberate action taken to initiate the share, as opposed to a largely passive one.

[2014-09-12 14:48] martinthomson opened #4 "Elevated consent for browser sharing"
Looks like the whole elevated consent process, or "Application Permission" is going to be interesting. While Chrome/Blink has decided to go for an application install process, it's likely that Firefox will not.

I think that we need to abstract a little more and just say that there is some special process that is required to grant a site the ability to share the browser.

[2014-09-12 14:49] martinthomson commented on #4
@keithgrif:
By "Application Permission" do you mean the fundamental rights of the application to be able to share? I can understand the level of control that an application install process can offer although it does not alone fully mitigate the risk of a rogue app requesting share. An application install process also imposes a level of additional requirement on a share based web app that may not b

[2014-09-12 14:56] martinthomson commented on #4
I think that for the most part browser UX people will be able to make the right decision. The key here is not to focus on the specifics of the authorization process, but to highlight the importance of it and to note that anything that might be trivially clicked through is generally not sufficient.

[2014-09-12 14:59] martinthomson opened #5 "Refine "share what is seen""
Operating systems with application exclusive modes (Windows 8, virtually all mobile operating systems) cannot easily and reasonably manage things like screen sharing without violating the rule that states that only what is seen is shared.

We need to refine the language around this a little.  There probably needs to be a higher amount of care taken for applications that are shared while not visibl

[2014-09-12 14:59] martinthomson commented on #5
@keithgrif says:
Agree, we should refine this language. It would be good to figure out how significant a use case sharing backgrounded apps will be. Certainly in mobile apps and Win8 the capability is there but will app share in this context be really used? If the app is in the background the user cannot drive the app on a share. I can see use for this for static content and possibly other uses. "

[2014-09-12 15:00] martinthomson opened #6 "Selecting a Browser Tab for Share"
@keithgrif says:
A site/app wishing to share needs to advertise a list of applications available to the user. When a browser has multiple tabs open and available the user needs to be able to select which of those tabs they wish to share.

An example is on Windows an app can choose the open list of applications to share as shown in the view below from task manager.
![image](https://cloud.githubuser

[2014-09-12 15:00] martinthomson commented on #6
Informally at least we've settled on sharing windows rather than applications.  For tab selection, I can imagine a nested menu.

[2014-09-12 15:01] martinthomson opened #7 "Modifying already shared permissions for screen"
@KiranKumarGuduru says:
Considering a use case where the use has provided permissions to share a part of the screen and now want to modify the permissions to share a full screan or vice versa for example, then it will be good to have a permission dialog, which displays an option like "modify existing permissions".

[2014-09-12 15:01] martinthomson commented on #7
My current plan, which might not be shared by others, is to treat different windows as logically different sources. That requires new consent. And full screen will not be an option. That way, we can even expose application sharing to the drive-by web without running afoul of cross origin problems.

[2014-09-12 15:02] martinthomson commented on #7
@KiranKumarGuduru says:
I agree to treat "different windows as different sources and to get new consent to access". I am not sure whether it is already mentioned in the draft, if not it is good to add this point.

The permission modification is not limited just to enhancing the consent to full screan.
For the usecase where the user has permitted to share a part of the window, and now want to modif

[2014-10-11 00:25] martinthomson opened #9 "Hazard with application sharing"
It's been noted that application sharing comes with certain usability hazards.  We need to either highlight those hazards and explain them, or remove the ability to request an entire application.

[2014-11-07 02:09] keithgrif commented on #1
I think we can close this one off after the last media capture WG meeting. The term "monitor" was adopted to describe a physical display surface and updated in the current revision.

[2014-11-07 02:17] keithgrif commented on #2
While it is true from a surprise perspective (the user does not always control which application window will share) it is desirable to share specific applications in order to continue share through different application modes. An example is powerpoint when moving between edit and slideshow mode. Sharing an entire application context is desirable. It would also be useful for mobile share scenarios

[2014-11-07 02:19] keithgrif commented on #9
Highlighting the hazards is desirable. Perhaps a way to deal with some of the app sharing hazards would be to provide a level of user control for specifically what they intend to share, even if it is a two step process.

[2014-11-07 02:26] keithgrif commented on #6
A nested menu would functionally work. Is tab privacy an issue to be addressed? If a specific tab is being shared is it necessary to block or mask other tab titles? Tab share is an important consideration for browser only environment where the only items to share are the browser application, entire monitor/display or specific tabs.

[2014-11-07 02:27] keithgrif commented on #5
The logical and visual display language addresses this in the rewrite. I will review and make some edits on that section based on feedback I got at the W3C meeting.

[2014-11-07 02:38] keithgrif commented on #3
Yes, the sharing target should only be shared with user consent. The user should never have content shared without their consent. It can be a deliberate user action or request from the sharing application/site.

[2014-11-07 02:41] keithgrif commented on #4
Yes, completely agree and this was a takeaway from the WG meeting.

[2014-11-07 19:02] martinthomson commented on #2
It is my hope that a combination of things can mitigate this.
1. Treat application sharing as a special class of window, giving the browser some discretion over when or if this is enabled.
2. Have the application mode switch problem solved by the browser. If switching to fullscreen results in a different logical window at the os level, the browser can detect that and switch the sharing target.

[2014-11-10 20:26] martinthomson commented on #9
The current approach simply highlights the hazards.  I also favour removal of "application" from the explicit list, instead preferring to leave the decision to share an application as a whole to the user (or user agent).

[2014-11-10 20:40] martinthomson commented on #6
I imagine that sharing a tab or window would only result in the content of that tab or window being shared.  I wouldn't expect to see any browser chrome in the share.

[2015-01-09 18:05] martinthomson opened #13 "Document issues with transparent/semi-transparent windows"
The subject says it all.  Most systems for sharing properly avoid capturing the contents of the window background, but it's a concern.

[2015-01-19 18:18] ShijunS opened #14 "Examples should be updated before FPWD"
Section-3 seems only a placeholder at the point.  It'd be nice to update it for the FPWD.

[2015-01-20 13:29] ekr opened #15 "getOutputMedia() is a confusing name"
Perhaps:
getDisplayMedia()?

[2015-01-20 13:31] ekr opened #16 "Make it possible to indicate specific surfaces"
Currently I can't specify a specific app (e.g., "Powerpoint"). That seems limited in terms of not having parity between web applications and native apps (which can enumerate all the apps in their ui). We're now building this functionality into gUM so maybe we should just start from the beginngign.

[2015-02-09 16:24] ShijunS opened #25 "What is the expectation when the "application" has multiple window areas?"
When the displaySurface is set to "application", is the user agent expected to produce multiple video streams (i.e. mediastreamtracks), one for each application window?  It can be complicated when the number of windows can change during runtime or the lifetime of each window can vary.  It'd be more challenging if we want to preserve the relative positions of the windows.  It might be easier in som

[2015-02-09 16:34] ShijunS opened #26 "What should be the default expectation for "displaySurface" and "logicalSurface"?"
The spec should define the expectation when "displaySurface" or "logicalSurface" is not set explicitly, for example, either with default values (e.g. "monitor", and "false") or returning the promise with an error code, etc.

[2015-02-09 16:46] ShijunS opened #27 "Should browser area be allowed as “window” surfaceType?"
This is more of an open question, since I'm not sure about all the security implications.  It might be helpful to define a "browser-window" surfaceType explicitly so user knows that he/she is about to share part of the current webpage.

[2015-02-09 21:18] martinthomson commented on #25
I'm actually not that keen on the idea of application sharing for all of those reasons.  However, the simplest approach is to share a desktop, showing all of the windows with their current position (including z-order) and leaving the rest of the frame in some neutral colour (Firefox chooses black).

The specification currently allows for some variation in this by only saying that the windows are c

[2015-02-09 21:23] martinthomson commented on #27
We're still struggling with the question of what to do with browser sharing.  My current thought is that sharing the browser (in all forms) would be made somehow more difficult.

[2015-08-26 15:36] #15 closed, assigned to nobody

[2015-08-26 15:44] martinthomson opened #28 "Interaction with permissions API"
We probably need a new string here: https://w3c.github.io/permissions/

Also, we need to understand how we might provide feedback to the permissions API regarding the states they expose.  It might be that we need extra information input (I think we want this) and output (I don't think that we want anything special here).

[2015-09-10 00:01] martinthomson commented on #9
Discussed in Seattle: We will leave this to the browser/user to decide and only offer an "application" option, which will give the user both windows and applications.

[2015-09-10 00:03] martinthomson opened #29 "Fullscreen needs handling (was: Powerpoint is special)"
We will have to detect when a particular Powerpoint window has become full screen and shift the window share to the presentation.  We might want to extend the same sort of privilege to other applications that shift to a full screen mode.

[2015-09-10 00:05] martinthomson commented on #28
We will want to surface whether the site has been "blocked" or whether a user prompt will appear.  Also, sites will want to know if the enhanced permissions required for browser sharing have been granted.  That is special.  We don't want any way to request a permission.

[2015-10-30 08:05] ekr opened #30 "Do constraints (e.g., size) restrict which windows you can use?"

[2015-10-30 08:09] ShijunS opened #31 "define behaviors of all existing constraints that should apply in the screen capture"
At the TPAC session, we decided to clarify the meaning of all the existing constraints that can be applicable to the screen capture.  For example, resolution, framerate, and maybe "exact", etc.  It'd be good to go through the constraint model in the current Media Capture spec so we don't miss anything.

[2015-12-11 23:08] mhofman opened #35 "Handle source device pixel ratio"
Issue for discussion started on the list: https://lists.w3.org/Archives/Public/public-media-capture/2015Dec/0029.html

The spec currently doesn't mention anything about how to handle sources (screen, windows) with logical pixels that don't match physical pixels of the monitor.

The most prominent case are "retina displays", which have high density physical pixels. The OS exposes logical pixels tha

[2015-12-11 23:21] mhofman commented on #35
Any suggestion on what to name that constraint?

Any idea on how to expose the current "devicePixelRatio" of the source content? It sounds like this could be in the track settings, but I'm a little unsure as to the implication on capabilities. Is it expected for the settings/capabilities of a track to change without any application action? I guess this happens already when the source changes resol

[2015-12-12 00:24] mhofman commented on #35
Also wondering what the implication on #33 would be? A composite stream might combine content with different device pixel ratios...

[2015-12-17 03:15] martinthomson opened #36 "Make logicalSurface constraint unchangeable"
@alvestrand notes that logicalSurface could in theory change once a screen capture has been provided.  However, that would be at odds with the advice in the document.

We should make it very clear that logicalSurface is a constraint that selects, just like facingMode.  That is, unlike resolution, once you have a track, it is an unchangeable property and attempts to change it result in overconstrai

[2015-12-17 09:20] alvestrand commented on #36
This seems logical to me. My beef was with the language that seemed to imply that there were no selectors.
We have the same language ("won't change after first selection") about deviceId in the mediacapture-main document.

[2016-01-14 22:56] ikasantsev opened #37 "limiting browser sharing to a list of domain/urls"
Please consider adding another constraint which will be relevant for OutputCaptureSurfaceType="browser". A commercial product may (and will) need to limit screen sharing to only those tabs which were open from a white-list of domains or even urls. And vice versa - it will be very useful to support a black list of domains/urls (never share contents if a tab is navigated to this address).

[2016-01-15 03:57] #30 closed, assigned to nobody

[2016-01-15 03:57] #25 closed, assigned to nobody

[2016-01-15 03:57] #13 closed, assigned to nobody

[2016-01-15 04:03] #1 closed, assigned to nobody

[2016-01-15 04:03] #2 closed, assigned to nobody

[2016-01-15 04:03] #3 closed, assigned to nobody

[2016-01-15 04:03] #4 closed, assigned to nobody

[2016-01-15 04:03] #6 closed, assigned to nobody

[2016-01-15 04:03] #16 closed, assigned to nobody

[2016-01-15 04:03] #26 closed, assigned to nobody

[2016-01-15 04:03] #27 closed, assigned to nobody

[2016-01-15 04:39] martinthomson commented on #5
@keithgrif, are we ok with closing this?

[2016-01-15 04:41] martinthomson commented on #31
The document says:

@ShijunS, is this enough for you?

[2016-01-15 04:56] ShijunS commented on #31
I'd suggest honoring the frameRate constraint, then ignoring all others.

[2016-01-15 05:22] martinthomson commented on #31
I looked through the list of constraints here: https://w3c.github.io/mediacapture-main/getusermedia.html#idl-def-MediaTrackSupportedConstraints

I couldn't see a reason not to support all of these, apart from those that a physically impossible (facingMode, deviceId) and those fit into the existing rules for unsupportable constraints.

[2016-01-15 06:01] ShijunS commented on #31
Clearly groupId and sourceType are not applicable either.

We discussed the resolution topic at TPAC, my recollection is that we don't want to enforce any resolution constraints (e.g. width, height, aspectRatio).  It's up to the end user to pick the display surface.  Meanwhile, it's desirable to keep the captured surface data with the original resolution.  Otherwise, the spec will have to define t

[2016-01-15 06:17] martinthomson commented on #31
There are two applications of constraints: selection of a source, and shaping of the `MediaStreamTrack`.  The first is out of scope, but the second set is fine.  I think that being able to downscale screen captures will be critical (see also #35).

I don't want to create a situation where we add a "color" (or "colour") constraint that controls the colour space of a captured track and have it unusa

[2016-01-15 16:28] ShijunS commented on #31
The current resolution constraints (again, height, width, and aspectRatio) make sense from the webcam perspective given it is the user agent picks the resolution from various native resolutions supported by the webcam devices.  When end user picks the screen or screen region, if the spec would like to have the user agent follow the current resolution constraints, the spec would have to define crop

[2016-01-15 18:00] mhofman opened #38 "Option to exclude cursor from video stream"
Opening spec issue based on [Chrome issue 463423](https://code.google.com/p/chromium/issues/detail?id=463423).

Some applications might want to receive a video stream of the screen share that doesn't include the cursor.
I believe adding a constraint for this would be an easy way to provide this feature.

Where things get trickier is that such applications might want to receive the cursor position

[2016-01-15 18:26] mhofman commented on #35
@ShijunS said in #31:

I agree that by default, browsers should capture logical pixels
I just opened Chrome issue https://code.google.com/p/chromium/issues/detail?id=578200 to address this.

I also think that there's benefit to let the application override the default behavior. In some case I might want to transmit the highest resolution possible because I know my environment can handle it.

[2016-01-16 03:10] ShijunS commented on #35
I agree this is a valid request.

[2016-05-11 13:01] martinthomson opened #39 "non-top-level browsing contexts"
getUserMedia is getting a sandbox flag: https://github.com/whatwg/html/pull/1211

Do we want one too, or do we instead want to forbid the use of getDisplayMedia from sandboxed iframes entirely?

[2016-05-12 13:43] alvestrand commented on #39
to be specific - the flag has been in getusermedia for a while. After discussion with @domenic, we're moving it to HTML.

[2016-05-12 21:47] mhofman commented on #39
I don't think we should prevent gDM from sandboxed iframes, the use cases for allowing gUM are the same for allowing gDM.

Is there any reason we can't share the same flag ?

[2016-09-27 21:42] chenqiang1986 opened #43 "Disable Local Playback During Audio Sharing"
We want to add a constraint googDisableLocalEcho in the audio part of getUserMedia call.
It only works with audio capturing (either from the whole system or a tab).
If set googDisableLocalEcho:true, then we are going to mute the local playback of the audio being shared.

For example, if one wants to share a tab, and specifies
getUserMedia({video:..., audio:{mandatory:{sourceId:, googDisableLocalEc

[2016-09-28 15:36] RByers commented on #43
Most browsers (including chromium) now have a policy against vendor-prefixed APIs.  Any reason this shouldn't be named `disableLocalEcho` instead of `googDisableLocalEcho`?

[2016-09-28 16:03] chenqiang1986 commented on #43
OK, let's name it as disableLocalEcho.

Thanks.

[2016-10-05 20:45] chenqiang1986 commented on #43
Is there anything I can do, or any review process so that we can push disableLocalEcho into spec?

[2016-10-05 22:01] chenqiang1986 commented on #43
I've uploaded the change to spec for disableLocalEcho. Can someone take a look?

[2016-10-09 01:47] aboba commented on #29
Not clear this is needed if the user can select the monitor that the presentation is displayed on.

[2016-10-10 03:41] martinthomson commented on #39
I will check, but I believe that there is a chance that we will block access to this API from frames entirely.  Why?  Because it's very hard to explain to a user that "example.com" wants something when they are on "other.example.net" and the decision about trust is much more important.

[2016-10-10 03:42] martinthomson commented on #14
PRs accepted.  This is the entirety of the API as it stands however.

[2016-10-10 16:24] ShijunS commented on #39
I'd agree with @mhofman.  We should keep consistency between gDM and gUM in terms of support from sandboxed iframes.  The potential "trust" challenge would be of no difference from that of gUM.
It'd be an interesting question though as to whether we could share the same flag.

[2016-10-10 16:33] alvestrand commented on #39
It would make sense to treat screen capture as a separate permission under the "powerful feature access" spec, which is supposed to control access to powerful features from iframes.

I think browsers should default to not permitting access from iframes in both cases, but it is nice to give the containing iframe separate controls for the two features.

[2016-10-10 16:36] ShijunS commented on #39
@Alvestrand, agree on separate iframe controls.

[2016-10-10 17:59] mhofman commented on #39
I understand the need for separate controls, but I would like to preserve access to this API from iframes.

There are some valid use cases for them. In particular, imagine a "support" service provider that offers a solution website owners can easily add to their page to offer support capabilities for their customers.
A support solution might be implemented as a sandboxed iframe for example to ensu

[2016-10-10 18:10] mhofman commented on #29
It is needed if the user is able to select application / window, and that application / window transitions to a full screen rendering.

We are getting a ton of complaints from users that start sharing "Powerpoint" because we allow selecting windows as a source, and subsequently start presentation mode and attendees only see a black screen.

If only full screens are allowed to be selected as a sour

[2016-10-10 18:31] ShijunS commented on #29
Yes, it'd make sense to leave it as a UA implementation decision in order to deliver a seamless user experience.  As an example, for a specific app, e.g. PowerPoint, the UA can always chose to stream content out of a "primary" display surface of the app during runtime.  The UA can dynamically decide which display surface is the "primary" one during runtime, in case there are multiple to select fro

[2016-10-10 18:40] mhofman commented on #29
I think the idea is to specify or at least document this behavior to avoid un-optimal implementations like we currently have?

[2016-10-10 18:50] ShijunS commented on #29
Yes, a non-normative implementation suggestion would help.

[2016-10-11 03:41] #5 closed, assigned to nobody

[2016-10-11 03:42] martinthomson commented on #7
Changes to source are not compatible with the spec; though implementations might choose to implement their own switcher, anything that touches the API will have to request a new share.

[2016-10-11 03:42] #7 closed, assigned to nobody

[2016-10-11 03:43] martinthomson commented on #9
Addressed in #32.

[2016-10-11 03:43] #9 closed, assigned to nobody

[2016-10-11 03:44] martinthomson commented on #36
I think that this is clear enough as it stands.  @alvestrand ?

[2017-02-15 15:51] ShijunS commented on #14
Adding another comment given the issue is still open.  The interface definition has getDisplayMedia() under NavigatorUserMedia, while Example-1 has it under mediaDevices.  Example-1 should be updated.

[2017-09-12 00:21] jan-ivar opened #49 "Bring back constraints for downscaling, not selection filtering."
@martinthomson In hindsight, an obstacle to implementing the spec is our current implementation in Firefox allows [passing in constraints](https://jsfiddle.net/jib1/dvyaq4pp/) to downscale the resolution and decimate frame rates from the very first frame. Our constraints do not filter the selection list at all.

We consider this a useful feature, since desktops tend to be of extremely large resolu

[2017-09-12 00:40] ekr commented on #49
Can you explain why this is resource intensive? It seems like you can simply not do anything with the video before you  are asked to attach it to something.

[2017-09-12 02:14] jan-ivar commented on #49
@ekr When I [try it](https://jsfiddle.net/jib1/f0wudbmp/) in Firefox, there's a noticable flicker, where the video appears in full size before it's downscaled. I'm not sure why this happens, since the stream is not attached to anything until after `applyConstraints` resolves. Maybe `applyConstraints` should somehow wait for frames to appear, but then there shouldn't be any frames yet.

Regardless,

[2017-09-12 02:48] ekr commented on #49
Well, the flicker you are seeing sounds like a bug of some kind, so i'm not sure how relevant that is... It seems like MT did have a reason why not to allow this, but I'll let him speak to that.

[2017-11-04 17:26] FluorescentHallucinogen opened #51 "Browser tab sharing"
Add `tab` display surface for sharing single browser tab.

[2017-11-06 16:56] bgschiller commented on #51
I found my way here by way of [this stack overflow post](https://stackoverflow.com/questions/47022259/firefox-specify-current-window-to-stream-with-getusermedia). I believe it would also be useful to be able to specify streaming the *current* tab.

[2017-11-06 17:20] FluorescentHallucinogen commented on #51
BTW, Chrome already has tab sharing implemented via `mandatory: {chromeMediaSource: 'tab'}` constraint, but:
1. `mandatory` is old constraint syntax
2. `chromeMediaSource` is non-standard, Chrome-only thing
3. it works only in Chrome extensions

![chrome-tab-sharing](https://user-images.githubusercontent.com/7892779/32454287-db5ceb64-c32f-11e7-812f-72deb4e124a3.png)

[2017-11-10 23:15] #14 closed, assigned to nobody

[2017-11-30 09:17] FluorescentHallucinogen commented on #51
@martinthomson @dontcallmedom @vivienlacourba @keithgrif PTAL.

[2018-01-25 18:20] aboba commented on #49
@jan-ivar

"The spec currently disallows constraints on `getDisplayMedia`, except on subsequent calls to `track.applyConstraints` presumably."

[BA] Can you point to specific text that says this?  There is other text that appears to contradict this.  For example, Section 5.2 says:

"The getDisplayMedia function permits the use of constraints in the same way that constraints are defined for getUser

[2018-01-25 19:54] jan-ivar commented on #49
[getDisplayMedia](https://w3c.github.io/mediacapture-screen-share/#dfn-getdisplaymedia) says: *" ... the constraints argument does not accept MediaTrackConstraints values. This prevents an application from influencing the selection of sources, see [5.2 Constraining Display Surface Selection](https://w3c.github.io/mediacapture-screen-share/#constraints) for details. "*

[2018-01-25 20:04] jan-ivar commented on #49
@aboba I think you were looking at TR.

[2018-01-26 15:47] jan-ivar commented on #49
I think the solution is to go back to the TR language with the addition that UAs are restricted from using constraints to influence the end-user choice of what to share.

[2018-01-29 20:49] aboba commented on #38
Is anyone still interested in an option to exclude the cursor?

[2018-01-29 20:53] aboba commented on #36
Can we close this issue?

[2018-01-29 20:57] abardik commented on #38
Yes. I moved to use VNC in my current project, because of this and some other issues with Chromium screen capture. So, yes, I need it.

[2018-01-29 22:25] #36 closed, assigned to nobody

[2018-02-08 14:28] fohara commented on #38
Yes, the cursor adds a lot of visual noise which creates difficulties for various use cases (such as monitoring visual activity _excluding_ the cursor).

[2018-02-16 13:23] stefhak opened #53 "Clarify 'origin' concept"
From https://lists.w3.org/Archives/Public/public-media-capture/2018Feb/0005.html:
"From Element has its own developed privacy considerations section, particularly focused on origin separation. Is it expected that handling origin separation is to be handled by implementors or is there best practices or implementation guidelines that will be provided?  If the latter, is Feature Policy an applicable

[2018-02-21 02:35] jan-ivar commented on #35
I'm not seeing why logical pixels matter here. It's just a larger resolution video. If I have gigabit internet and a 4K screen to view your retina screen on, why would I want to lose any pixels viewing it?

If the dimensions are too rich for available bandwith, then the downscale factor is based on pixels:
[code]

[2018-02-21 03:15] jan-ivar commented on #31
I agree with @martinthomson down-scaling is critical. The use-case is obvious: 2880 x 1800 x 60 fps is too rich for most people's uplink.

FWIW Firefox's (non-standard) screen-sharing has supported downscaling since inception ([Try it](https://jsfiddle.net/jib1/76szqnLy/)). However, cropping is not supported (instead all "settings dictionaries" have the same aspect).

However, I find the implicit

[2018-03-03 10:50] fippo opened #55 "why does getDisplayMedia live on navigator and not navigator.mediaDevices?"
apologies if I missed any previous discussion...

Is there a reason for getDisplayMedia living on navigator instead of navigator.mediaDevices?
navigator.getUserMedia is considered legacy so it is somewhat unexpected to see a similar pattern in this spec.

Originally filed as https://github.com/w3c/mediacapture-main/issues/508 but this repository seems more appropriate.

[2018-03-03 16:48] alvestrand commented on #55
Reconstructing from memory: I believe the original version was navigator.getUserMedia({video: {device=screencapture}}) - this was deemed too gross and it got changed to navigator.getDisplayMedia. This was after getUserMedia() was targeted to return promises, but before the promise-based version got moved to mediaDevices.
The only *logical* argument I see is that screencaptures are not devices, so

[2018-04-04 06:44] dot-slash-s commented on #29
Update from Feb 21st meeting
Write a proposal based on the following lines
"""
Applications that go full-screen might need special treatment
Modes for consideration:
    “application” DisplayCaptureSurfaceType selected
    “window” DisplayCaptureSurfaceType selected
In either case, if the UA is able to make unambiguous 1:1 determination that the invisible window displayed in full screen mode maps

[2018-04-04 06:48] dot-slash-s commented on #51
Adding the proposal from virtual interim here to discuss more. [This was not discussed during feb interim due to time limits]
"""
Define a new DisplayCaptureSurfaceType: “active-window”
“active-window” is the current active display area (say the current browser tab) that triggered the getDisplayMedia()
List “active-window” information in the UX selection list for sharing.
This had advantage of avo

[2018-04-05 00:16] martinthomson commented on #31
Two things:
1. restore constraints (advise against using them for selection though)
2. go through all of the constraints and see which apply

[2018-04-05 00:16] martinthomson commented on #39
See feature-policy.

[2018-04-05 00:32] martinthomson commented on #51
This could be a UX question: if browsers treat their own tabs as windows, and properly mark the current tab, then this doesn't require anything special.

[2018-04-05 00:35] martinthomson commented on #53
We should add: "Media that is acquired by a given origin is only available to that origin."

[2018-04-05 00:39] martinthomson commented on #55
I think that we should just move it to mediaDevices.

[2018-04-05 00:40] martinthomson commented on #38
Related: What about the caret?

[2018-04-05 00:40] martinthomson commented on #38
We should just add a constraint.

[2018-04-10 01:27] aboba commented on #55
In the 14 July 2016 draft it was navigator.mediaDevices.getDisplayMedia, but then it was changed to navigator.getDisplayMedia which has already shipped in Edge.

[2018-04-10 01:35] aboba commented on #31
@jan-ivar Can you submit a PR?

[2018-04-12 04:25] suhasHere commented on #38
PR : https://github.com/w3c/mediacapture-screen-share/pull/58

[2018-04-16 06:54] alvestrand commented on #55
Conclusion from April 12 VI was that moving it doesn't seem valuable enough to invalidate existing shipped implementations; let it remain where it is.

[2018-04-16 06:54] #55 closed, assigned to nobody

[2018-04-16 10:38] alvestrand commented on #49
April interim conclusion: WG agreed with approach of adding constraints to getDisplayMedia. A specific list of proposed changes will be created.

[2018-04-16 10:38] alvestrand commented on #43
April interim did not show support for this proposal.

[2018-04-16 10:39] alvestrand commented on #31
April interim supported bringing constraints back.

[2018-04-16 20:18] aboba commented on #43
@alvestrand Should this issue be closed?

[2018-04-16 20:57] youennf commented on #55
It might be too late but I wonder whether moving it might not be a good idea even for shipping implementations.
Between the time spec is finalized, implementations might be different from what the spec will prescribe, for instance if constraints are brought back and are not supported in shipped implementation.
Migration between older and newer implementations might be easier if using navigator.med

[2018-04-16 21:17] aboba commented on #31
Consensus from the April interim is for Jan-Ivar to develop a PR along the lines he described. Also, that cropping does not make sense for screen sharing.

[2018-04-16 21:18] aboba commented on #39
Consensus from the April VI is to [use feature policy.](https://www.w3.org/2018/04/12-webrtc-minutes)

[2018-04-16 21:19] #43 closed, assigned to nobody

[2018-04-16 21:22] aboba commented on #51
Consensus from the April VI [was for option 2.](https://www.w3.org/2018/04/12-webrtc-minutes) which requires no change to the specification.  See slides here:
https://docs.google.com/presentation/d/1sboQqMc5O1-oZ7w0ZY1VUyhY8JG0VxOzU8kAQitoHJU/edit#slide=id.g32a9278ac5_0_6

[2018-04-16 21:22] #51 closed, assigned to nobody

[2018-04-16 21:27] aboba commented on #55
Clarifications relating to the operation of constraints should not require moving the method.

[2018-05-17 16:35] wanecek commented on #49
@alvestrand out of curiosity, what's the status on this issue? Is the list of proposed changes created and available somewhere? :smile:

[2018-05-17 23:22] jan-ivar commented on #49
@wanecek Someone needs to add a PR. I think it's basically what I mention [above](https://github.com/w3c/mediacapture-screen-share/issues/49#issuecomment-360820937). From the slides [1](https://docs.google.com/presentation/d/1sboQqMc5O1-oZ7w0ZY1VUyhY8JG0VxOzU8kAQitoHJU/edit#slide=id.g2c521efd37_0_20) and [2](https://docs.google.com/presentation/d/1sboQqMc5O1-oZ7w0ZY1VUyhY8JG0VxOzU8kAQitoHJU/edit#s

[2018-06-05 08:49] marifehe commented on #49
Hey! Not sure if this belongs here, but I think so, as the discussion goes about what constraints will getDisplayMedia accept.
I am now playing a bit with the implementation of that method that Edge just released quite recently. When using getDisplayMedia the user can either select to share a window (application) or the whole display. I was wondering if there is any chance this would be customizab

[2018-06-05 11:43] aboba commented on #49
For security reasons, in getDisplayMedia the user is given control over
selection; constraints do not influence selection, but rather,
characteristics of what is selected (e.g. resolution, framerate, etc.)

On Tue, Jun 5, 2018 at 1:49 AM Maria Fernandez <notifications@github.com>
wrote:

[2018-06-15 07:27] alvestrand opened #59 "TAG review"
Part of the process for shipping stuff is a review by the TAG.
Someone needs to file a ticket and fill in the questionnaires for that.

[2018-06-18 07:21] alvestrand opened #60 "Define tab capture"
The nonstandard use of getUserMedia for screen capture included the option of capturing from browser tabs. This has proved popular.

The spec should mention that this is a possibility - while tabs can be seen as a special case of "application window", they are mostly perceived as their own thing.

[2018-06-18 07:22] alvestrand opened #61 "Mention capture of system audio"
It seems natural that getDisplayMedia({audio: true}) should capture system audio (what would normally be played out on the speakers).

The spec should mention that this is the correct interpretation.

[2018-06-20 17:51] niklasenbom commented on #60
Isn't a tab the 'browser' display surface?

[2018-07-03 07:19] suhasHere commented on #60
I thought we closed a similar issue on tab sharing as no changes needed for the specification.

Here are the relevant details:

"Consensus from the April VI was for option 2. which requires no change to the specification. See slides here:
https://docs.google.com/presentation/d/1sboQqMc5O1-oZ7w0ZY1VUyhY8JG0VxOzU8kAQitoHJU/edit#slide=id.g32a9278ac5_0_6

@alvestrand  are we opening it up again ?

[2018-07-09 21:19] juberti commented on #38
Might need more than a boolean - possibly an enum: "none, always, only on movement"

[2018-07-09 21:20] juberti commented on #38
/sub

[2018-07-11 21:46] suhasHere commented on #38
@juberti , is this the right interpretation of your proposal
None or(Never) --> Never capture cursor
Always --> Always capture the cursor as part of share
On on movement --> Capture cursor when the user moves it

[2018-07-11 22:30] juberti commented on #38
yes, exactly

[2018-07-12 17:15] niklasenbom opened #62 "Offer high level source filtering"
Current implementations in Chrome and Firefox both offer the ability for the web app to restrict the sharing choice to desktop, window, tabs etc. Web apps like Google Hangouts use this functionality and would like to keep it. There's also technical reasons to why this makes sense, for example tab sharing is much cheaper on system resources, and unlike desktop and window sharing audio capture alway

[2018-07-21 18:54] suhasHere commented on #38
@juberti  Does #58  address the above idea ?

[2018-07-24 03:12] suhasHere commented on #38
closed via #58

[2018-07-24 03:12] #38 closed, assigned to nobody

[2018-08-02 19:57] lukebjerring opened #63 "NavigatorUserMedia no longer exists"
Found while authoring https://github.com/web-platform-tests/wpt/pull/12284

`getUserMedia` in `mediacapture-streams` adds directly to `Navigator`.

So, this (mediacapture-screen-share) should be changed to

    partial interface Navigator {
        Promise<MediaStream> getDisplayMedia(optional MediaStreamConstraints constraints);
    };

[2018-08-02 19:58] lukebjerring commented on #63
cc @foolip

[2018-08-02 22:58] aboba commented on #60
@suhasHere While option 2 doesn’t require a normative change, it probably does require some explanation.

[2018-08-02 22:59] aboba commented on #61
That seems like a logical conclusion to me.  The question is how practical it is (e.g. can audio be captured only from a single application or window) and whether implementations plan to support this (the Edge implementation does not).

[2018-08-03 00:32] uysalere commented on #63
This can be a good opportunity to move it to MediaDevices as suggested on https://github.com/w3c/mediacapture-screen-share/issues/55.

[2018-08-03 11:19] foolip commented on #63
I'd like to stick to just fixing the IDL problem with this change. Note that the issue was closed and Edge has already shipped it on Navigator, so you'd need to reopen that discussion if you think this is important to change.

[2018-08-08 05:58] #63 closed, assigned to nobody

[2018-08-09 15:10] jan-ivar commented on #53
"From element" sounds like https://w3c.github.io/mediacapture-fromelement/ not screen-share, and https://lists.w3.org/Archives/Public/public-media-capture/2018Feb/0005.html: does not appear to mention screen-share...

Was this issue filed on the wrong spec?

Cross-origin violation sadly is a "feature" of screen-sharing, and why it is scary.

@martinthomson double-checking, we gave up on origin-sep

[2018-08-10 00:41] martinthomson commented on #53
That's two different questions.

We need definitely need origin isolation for the stream.  That is, we need to ensure that only the origin that requested the content can look at it.

The notion that we might generate a stream from only same-origin-visible content was abandoned long ago.

[2018-08-10 01:51] jan-ivar commented on #53
Do we have that for `getUserMedia`?

[2018-08-10 06:26] martinthomson commented on #53
So the implementation does, and we rely on that.  The spec should, and maybe the right way to address this issue is to cite whatever gUM says, and fix gUM if gUM says nothing.

[2018-08-20 10:05] foolip opened #65 "Behavior for getDisplayMedia() and getDisplayMedia({}) should be the same"
https://w3c.github.io/mediacapture-screen-share/#navigator-additions says:

However, this doesn't match the `MediaStreamConstraints` definition in https://w3c.github.io/mediacapture-main/#mediastreamconstraints:
[code]

Here, `video` has a default value of false. Web IDL says in https://heycam.github.io/webidl/#dfn-optional-argument-default-value:

In other words, per Web IDL, in this case, `const

[2018-08-20 17:22] uysalere commented on #65
Thanks for posting this in detail foolip@. Note than creating a new dictionary type DisplayMediaConstraints will differentiate the usage of getUserMedia() and getDisplayMedia() further. i.e. getUserMedia() returns an exception whereas getDisplayMedia() returns a MediaStream. Alternatively we can make getDisplayMedia() work in a similar way, such that we return an exception when the constraints arg

[2018-08-20 17:47] foolip commented on #65
It looks like a key difference will be there no matter what the IDL looks like, namely that `getUserMedia()` with no argument should fail because neither audio or video was requested, while `getDisplayMedia()` should behave as `getDisplayMedia({ video: true })` and succeed.

The only way to avoid forking the IDL dictionary would be to remove the default value and handle a missing video member expl

[2018-08-20 17:51] foolip commented on #65
Unfortunately, to make `getDisplayMedia({ audio: true })` *not* request video the logic has to depend on the precense of the audio member.

Perhaps it's better to recast this behavior not as a default value, but as the fallback behavior for when audio and video are both false? Written as an algorithm, that would be quite easy to express at least.

[2018-08-20 21:20] uysalere commented on #65
My suggestion was that, getDisplayMedia() should also fail and not be a special case. That would be more consistent.

getDisplayMedia({ video: false }) returning a video stream does not sound right.

[2018-08-21 11:34] guidou commented on #65
I agree that the most straightforward change is to make getDisplayMedia() fail, just like getUserMedia() does.

[2018-08-21 22:26] foolip commented on #65
That would be a risky change for Edge which has already shipped `navigator. getDisplayMedia()`. Some quick testing confirms that it shows the selection prompt, i.e. it probably works per spec.

*However*, I took a look in httparchive, and there are *very* few matches for 'getDisplayMedia' (13) and no matches for 'navigator.getDisplayMedia'. This suggests that there isn't much of a web compat contr

[2018-08-21 22:27] foolip commented on #65
(The 13 matches were things like https://shared.nordstrom.com/rfx/v-1.0.6603.39355/Desktop/RfxPluginContent.js, no real uses of this API that I could see.)

[2018-08-24 19:07] uysalere opened #66 "Constraints for Captured Display Surfaces should move to MediaTrackSettings"
The spec currently allows constraints to observe the properties of the selected display surface. These are only observable, such that they cannot be changed after returned.

The way it is working right now, they would be better defined under getSettings() and partial dictionary should be defined on MediaTrackSettings. The aim here seem to be to allow the application to query the current settings o

[2018-08-24 19:09] henbos opened #67 "MediaTrackConstraints usage contradiction"
5.1 getDisplayMedia definition says using MediaTrackConstraints throws an exception for the sake of not controlling which surface to show, but MediaTrackConstraints contains stuff we might want to support (if we support audio: volume) and other parts of the spec, 5.4, talks about what to do with deviceId, which is part of the MediaTrackConstraints

[2018-08-24 19:16] henbos opened #68 "Be consistent with error handling"
5.2 says to throw an InvalidAccessError if MediaTrackConstraints are used, 5.4 says deviceId can make it overconstrained which I think implies an OverconstrainedError is thrown, and I think other parts of the spec may have implied that unsupported constraints are simply ignored (no exception thrown), but I'm not sure about that last part.

- We should be consistent with how we handle errors. Shoul

[2018-08-24 19:16] henbos opened #69 "Should we support audio?"
"1. Introduction" says that the document says is primarily concerns itself with video, but that the general mechanism here could be extended to audio and depth.

Does this mean we should ignore audio:true or define what to do in this case?
If we want to support audio we should support MediaTrackConstraints (#67).

If we support audio I think we should make it simple, and either share all audio bei

[2018-08-24 19:17] henbos commented on #68
The "simply ignored" would be from section 5:

[2018-08-24 19:18] henbos commented on #68
Also contradiction: clearly not all constraints are supported if some of them throw an exception.

[2018-08-24 19:19] henbos opened #70 "Examples should use async/await"
Example 3. uses then(), it should be updated to use async/await

[2018-08-24 19:22] henbos opened #71 "Unclear how to aggregate windows or how to handle multiple windows/monitors"
4. Terminology says multiple windows may be aggregated into a single track, but it does not explain how this is done. Will the background be black? What if they are far apart? What happens if windows move around, will that change the resolution to match covering both windows? Or should the windows always be grouped next to each other, so that their relative position in the track does not correlate

[2018-08-24 19:23] henbos commented on #71
Do MediaStreamTracks have alpha channels? Should we do a black background, a transparent background, or let the application choose the color? How would the application know what is outside of the interesting area and what is just filled in as "black space"?

[2018-08-24 19:24] henbos commented on #71
What to do if a window is partially outside of the visible area?

[2018-08-24 19:25] henbos opened #72 "Describe what happens if the window is closed or the monitor is disconnected"
I assume MediaStreamTrack.onmute/onended fires. Is there a GETUSERMEDA section we can reference?

There is also under 6.3 "In addition to feedback mechanisms, a means to for the user to stop any active capture is advisable." - this would be the same type of thing; we should define what the expected behavior is when this happens.

[2018-08-24 19:27] henbos commented on #71
_6.1 Capturing Logical or Visible Display Surfaces_ says...

...it is unclear what "obscured" means. Clipping, painting black, etc?

[2018-08-27 13:09] alvestrand commented on #66
What properties of the selected display surface are you referring to?
Note that changes to the spec need to make sense after #49 is resolved.

[2018-08-27 18:33] jan-ivar commented on #49
For bookkeeping, this issue will cover adding constraints back to `getDisplayMedia()` where it was lost (constraints never went away on the resulting track, e.g. `applyConstraints`).

https://github.com/w3c/mediacapture-screen-share/issues/31 will cover this.

[2018-08-27 19:11] jan-ivar commented on #31
Covered by # 49.

To be covered by this issue. @suhasHere are you working on a PR? If so, do you have an ETA?

[2018-08-27 19:25] jan-ivar commented on #66
The [constrainable pattern](https://w3c.github.io/mediacapture-main/getusermedia.html#constrainable-interface) appears to force our hand here. It has no concept of read-only constrainable properties, which I think means that if we want to humor that pattern, we must define these as *constrainable properties* (and ignore/throw `OverconstrainedError` on changes to them), for POLA.

That said, good o

[2018-08-29 18:56] uysalere commented on #66
I am referring to the new constraints defined in section 5.3. "Since the source of media cannot be changed after a MediaStreamTrack has been returned and constraints do not affect the selection of display surfaces, these constraints cannot be changed by an application." With this restriction in place, I believe it would be more appropriate to define them as "Setting" which is read-only.
https://w3

[2018-08-29 19:12] jan-ivar commented on #66
That's not a separate thing. *"A setting refers to the immediate, current value of the source's constrainable properties"*.

I think "read-only" in this context means `OverconstrainedError`.

[2018-08-29 19:15] jan-ivar commented on #66
E.g. [like we do](https://w3c.github.io/mediacapture-screen-share/#deviceId) for *"setting deviceId constraint can only cause the resulting MediaStreamTrack to become overconstrained. "*

[2018-08-29 21:01] uysalere commented on #66
Correct me if I got this wrong. What you are suggesting to still add these properties as a partial dictionary on MediaTrackConstraints, but always return `OverconstrainedError` when these properties are set. MediaTrackSupportedConstraints should include these properties as well, because they can be set. I was thinking it might be confusing for the user, as we are defining but not actually supporti

[2018-08-29 21:12] uysalere commented on #69
There is already some discussion on #61 about this.

[2018-08-29 21:15] eric-carlson commented on #61
For what it's worth, WebKit/Safari does not plan to capture system audio.

[2018-08-29 21:21] jan-ivar commented on #66
Sorry, I should have said they will be ignored, because they're not required (`min`, `max` or `exact`) constraints.

E.g. `track.applyConstraints({logicalSurface: true})` would succeed and be indistinguishable from `track.applyConstraints({})` (`OverconstrainedError` would only happen if we used a `max` constraint, but I can't think of an example, assuming https://github.com/w3c/mediacapture-scree

[2018-08-29 21:57] jan-ivar commented on #66
I see three options here for `logicalSurface` and `displaySurface`:
 1. Implement them as no-op constraints ([current spec](https://w3c.github.io/mediacapture-screen-share/#display-constraints))
 2. Invent new non-constrainable constrainable property that only shows up in `getSettings()`
 3. Evict these from `getSettings()` and force a subclass of `MediaStreamTrack` with read-only args

[2018-08-29 22:30] uysalere commented on #66
Thanks for the clarification. Considering #62 as well, I think defining these properties as partial dictionary on all 4 dictionaries as you suggested earlier makes more sense now.
- getSettings() and getCapabilities() should return the properties of MediaStreamTrack user selected. Note that there wouldn't really be a range on getCapabilities() elements. i.e., `{displaySurface: monitor}`.
- getSupp

[2018-08-30 05:36] aboba commented on #69
Remember that it is the user that selects what is to be shared.  What happens if the user selects a window or a particular display? It would not be appropriate to share audio from other windows or displays which were not selected  (by sharing all audio).

[2018-08-30 12:48] jan-ivar commented on #67
This is fixed by https://github.com/w3c/mediacapture-screen-share/issues/49.

[2018-08-30 13:01] jan-ivar commented on #35
Would a fourth option be to downscale retina screens by half by default?

This is perhaps more likely to be what people want, especially for peer connections.

It also simplifies retina detection:
 - `getDisplayMedia({video: true})`
 - Read the existing `track.getSettings().resizeMode`, where `crop-and-scale` means retina.

If so, should we add some prose to this effect in the spec?

[2018-08-30 13:28] henbos commented on #68
I'm trying to be consistent with getUserMedia().

With regards to InvalidAccessError at MediaTrackConstraints, this is throwing an exception because constraints were passed in that weren't applicable. I'm trying to figure out if getUserMedia() in this case would fail to satisfy the constraint because it was not applicable and hence throw an OverconstrainedError (if "exact" was used, but not if "id

[2018-08-30 14:04] henbos commented on #68
Is this covered by #73 ?

[2018-08-30 14:19] #70 closed, assigned to henbos

[2018-08-30 14:21] alvestrand commented on #69
I think this is a duplicate of #61. Closing as dup.

[2018-08-30 14:21] #69 closed, assigned to henbos

[2018-08-30 14:27] alvestrand commented on #28
The name "display" seems like a good one.

[2018-08-30 14:45] alvestrand commented on #39
Related to #28

[2018-08-30 14:47] aboba commented on #53
This is a getUserMedia problem.

[2018-08-30 14:47] #53 closed, assigned to nobody

[2018-08-30 14:50] aboba commented on #72
It also isn't clear what happens if a window is minimized.  Edge sends black.

[2018-08-30 14:51] alvestrand commented on #72
Behavior on minimization should either be "send black" or "resize to 0x0". Black is probably easier to implement.

[2018-08-30 14:51] aboba commented on #72
@youenn Can you take this?

[2018-08-30 16:31] uysalere commented on #61
Chrome supports desktop audio capture on Win and CrOS and tab audio capture on all platforms through extensions. I am planning to move this functionality to getDisplayMedia() as well.

[2018-08-30 17:14] alvestrand commented on #65
ping @aboba for Edge info

[2018-08-31 00:11] martinthomson commented on #35
Most of the web treats high DPR displays as though they were downscaled anyway.

Maybe a smart UA could remember that the track has a non-unity DPR and apply the scaling as it encodes, unless there are settings applies that might indicate that the raw bits are desired (min-width or min-height greater than the downscaled size, etc...).  That is, we don't have to erase the extra information as it go

[2018-08-31 02:52] jianjunz commented on #61
Maybe an API like `getSupportedConstraints` is needed to indicate whether system audio capture is implemented? And will `getDisplayMedia({audio: true, video: false})` being supported?

[2018-09-05 13:21] henbos commented on #61
@uysalere With regards to tab audio capture, this sounds very useful to me. I'm holding a presentation, I want to share a video with sounds without echoing the remote participants voices that I can hear but that are not part of the tab.

From a technical perspective, is this very different than what would be required to support window audio capture? Where the window is not a browser tab, but any a

[2018-09-06 09:22] henbos commented on #61
I listed use cases and came up with a proposal, please take a look:
https://docs.google.com/document/d/1pgN8Pe2zMaD0tytJVsKmnBT-7gM247YlzzWazm7OwSk/edit?usp=sharing

The TL;DR: excludeTabAudio constraint that allows removing the current tab (the tab that called getDisplayMedia())'s audio from the system audio. The choice presented to the user is a yes/no one; do I want to grant permission to share

[2018-09-06 14:53] alvestrand commented on #65
May be OK now.

[2018-09-06 14:57] alvestrand commented on #71
Firefox implements application; Edge and Chrome implement screen and window only.

[2018-09-06 16:06] jan-ivar commented on #65
This should be fixed now with https://github.com/w3c/mediacapture-screen-share/pull/73.

[2018-09-06 23:10] uysalere commented on #61
I haven't come across to any OS APIs allowing audio capture for a certain window. But it should be possible to get audio capture for the entire Chrome window. It might be the only selection option.

[2018-09-07 23:33] youennf commented on #72
@aboba, sure will look at it.

[2018-09-08 18:46] aboba commented on #49
@jan-ivar Can we close this issue?

[2018-09-10 07:05] stefhak opened #76 "Point to public-webrtc"
Intro currently says comments should be brought to the (to be discontinued) public-media-capture list.

[2018-09-10 19:30] #49 closed, assigned to jan-ivar

[2018-09-10 23:01] youennf commented on #72
I looked at the getUserMedia UI currently being implemented:
- Safari has a UI to  mute/unmute capture on a given tab. Video becomes black if muted and relevant mute/unmute events are fired.
- Firefox has a UI to revoke access for a capturing page. Video freezes and an ended event is sent.
- Chrome has a UI to permanently revoke access for a capturing site. This has no effect on the current page.

[2018-09-12 04:48] youennf opened #77 "Should getDisplayMedia be functional in SecureContext only?"
Following on https://github.com/w3c/webrtc-pc/issues/1945, the question is whether to mandate secure origins for getDisplayMedia.
We could:
- Mandate to reject getDisplayMedia promise for non secure origins
- Make getDisplayMedia SecureContext

[2018-09-12 08:02] alvestrand commented on #77
Are these two alternatives?
I think I'd prefer the second, because it's simpler, and corresponds to a lot of other API behaviors.

[2018-09-12 16:03] youennf commented on #77
These are alternatives.
I also tend to prefer the second although the first is consistent with existing getUserMedia behavior.
In a perfect world, we could envision moving back getDisplayMedia to navigator.mediaDevices and make mediaDevices SecureContext.

[2018-09-12 21:27] martinthomson commented on #77
I also prefer the second.

[2018-09-13 12:27] jan-ivar commented on #77
What are the behavioral differences from this choice?

 1. `("getDisplayMedia" in navigator)` is false, e.g. throws `TypeError: ... not a function` vs.
 2. Rejects promise with some error? vs.
 3. something else?

Where "some error" is what, `SecurityError`, `NotAllowedError`, `NotSupportedError`?

Neither Feature Policy nor the Permissions spec seem to mention specific errors.

[2018-09-13 13:28] jan-ivar commented on #77
It's 1.

*"An interface, namespace, or member construct is [exposed](https://heycam.github.io/webidl/#dfn-exposed)"* in an insecure context if it's [available in both secure and non secure contexts](https://heycam.github.io/webidl/#available-in-both-secure-and-non-secure-contexts), which boils down to [[SecureContext]](https://heycam.github.io/webidl/#SecureContext) in WebIDL.

[2018-09-13 14:25] henbos commented on #71
Let's split this into multiple issues.

[2018-09-13 14:26] jan-ivar commented on #77
Makes sense to me. This is a new powerful method.

[2018-09-27 12:13] #67 closed, assigned to jan-ivar

[2018-09-27 12:25] jan-ivar commented on #62
The sharing of a browser surface come with unique [security risks](https://tools.ietf.org/html/draft-ietf-rtcweb-security-10#section-4.1.1), which is why the spec expressly forbids influencing selection toward these.

The [decision](https://www.w3.org/2018/09/25-webrtc-minutes.html) at [yesterday's meeting](https://docs.google.com/presentation/d/1uZUmLe62faePYC2HMI_x_ltDjn_peJG71yk_PZn4hzc/edit?ts

[2018-09-27 14:09] henbos commented on #72
Will create a PR

[2018-09-27 15:45] niklasenbom commented on #62
2 main reasons:

1. We have a lot of data showing that users today are heavily skewed (> 90%) towards sharing the full desktop, which is the worst option when it comes to security and privacy. By promoting window and tab sharing already at the web UI level in Google Meet we have been able to influence the users to share more restricted surfaces. Doing this at the web UI level makes it possible to

[2018-10-03 11:48] henbos opened #79 "Constraint to exclude application audio (echo)"
If I screen share in a presentation that is also a conference with remote participants, and my screen sharing includes audio (e.g. I want to show a media clip as part of the presentation) we have a risk of echo.
- If screen share contains remote participants talking, when this stream arrives at a remote participant for playout, they will hear themselves AND other remote participants twice (once be

[2018-10-03 11:49] henbos commented on #61
PR exists for what to do about audio in general (very much up to user agent). For the possible echo problems I created a separate issue, #79.

[2018-10-03 15:54] henbos opened #81 "The user agent should be allowed to change sources after getDisplayMedia() resolves"
The spec currently has language saying the source is constant after getDisplayMedia() returns a stream, e.g:

This refers to the settings "displaySurface", "logicalSurface" or "cursor" to be constant for a track. I'm not convinced we should enforce these being constants, but even if we do want that we don't have to go so far to say sources are constant, just that sources cannot change type from "l

[2018-10-05 21:38] aboba commented on #76
Fixed.

[2018-10-05 21:38] #76 closed, assigned to aboba

[2018-10-10 05:38] #72 closed, assigned to henbos

[2018-10-10 17:55] youennf opened #82 "Should getDisplayMedia be moved to navigator.mediaDevices"
Currently getDisplayMedia is exposed in navigator.
It is more consistent to have getDisplayMedia be part of navigator.mediaDevices.

One potential issue is that Edge shipped already navigator.mediaDevices.

There are some ongoing changes to getDisplayMedia, for instance:
- New handling of constraints
- SecureContext
More changes might come as we make progress.

Given all of this, it might be ok to

[2018-10-10 18:02] fippo commented on #82
see #55

[2018-10-11 14:39] aboba commented on #39
@alvestrand What are the next steps on this issue?

[2018-10-11 23:26] martinthomson commented on #79
The point is to exclude audio that "this" application (i.e., origin) is generating, right?  As you say, I think that you should allow the UA to implement that as it sees fit.  That said, this is only a problem if the share encompasses the current tab/window and includes audio.

Given the acknowledged difficultly in isolating different audio sources we have, it seems like this is a difficult featur

[2018-10-12 09:57] henbos commented on #79
Perhaps, but I'm skeptical. Not only would screen sharing the application source reflect it back at 100% volume, each participant is a new possible source of echo with different delays and at different quality, it's not just your microphone.

I am operating under the assumption that echo cancellation is not good enough (I don't have data to back this up) and we want to give browsers an _easy_ way

[2018-10-16 02:03] jan-ivar commented on #35
@martinthomson such an abstraction seems confusing, similar to [webkitGetImageDataHD](https://bugs.chromium.org/p/chromium/issues/detail?id=277205).

[2018-10-16 17:42] jan-ivar commented on #62
TBC the worst option from a security and privacy threat perspective is the sharing of a web surface. The reasons for this are [non-obvious](https://blog.mozilla.org/webrtc/share-browser-windows-entire-screen-sites-trust/). Full desktop is bad because it often reveals a web surface.

[2018-10-17 05:04] jianjunz opened #83 "Event for screen sharing"
Firing an event on tab being shared could notify web application to hide sensitive information or change layout during screen sharing.

Draft of this event could be:

The following event fires on `Document`:

Event name | Interface | Fired when...
-- | -- | --
screensharingchange | `Event` | The tab is started to be shared, or the entire screen is started to be shared and current tab is active. Al

[2018-10-24 07:33] henbos opened #85 "getDisplayMedia({video:false}) is interpreted as getDisplayMedia({video:true})"
The spec does not distinguish the case of "no value" from "false". Because 3) results in an empty set, 4) turns this empty set into the same as "video:true". I don't think this is intentional, let's fix.

[2018-10-24 07:44] henbos commented on #85
A side-effect of not fixing this issue would be that {video:false} translates to {video:true}, but {video:false,audio:true} translates to {audio:true}.

Should a request for explicitly no media result in NotFoundError or an OverconstrainedError?

[2018-10-24 07:46] henbos commented on #85
Because you are using constraints to constrain the algorithm to fail I think OverconstrainedError is the most correct and consistent with other overconstraining.

[2018-10-24 08:11] henbos commented on #85
The title of https://github.com/w3c/mediacapture-screen-share/issues/65 (_Behavior for getDisplayMedia() and getDisplayMedia({}) should be the same_) is not questioned in this issue, only the explicitly setting to false and getting different behavior whether or not audio is included.

[2018-10-25 09:16] henbos commented on #62
Why does the UI have to reside inside of the web app to best influence the user to make the best choice? A good UI should help the user make the best choice, why is that UI inside the web app and not inside the browser's picker? The problems you're describing are not specific to a particular web app (any screen sharing web app would have the same pros/cons of a source); they are, however, largely

[2018-10-25 09:29] henbos commented on #62
@niklasenbom, @uysalere

[2018-10-25 14:52] aboba commented on #82
Decision at TPAC was to move it.

[2018-10-25 14:56] aboba commented on #37
Decision from TPAC was not to implement whitelists.

[2018-10-25 14:56] #37 closed, assigned to youennf

[2018-10-25 14:59] henbos commented on #29
Fullscreen is a platform-specific concept, we decided at TPAC to have informative language but nothing normative. "Fullscreen" is not a special mode.

[2018-10-30 12:11] cynthia commented on #77
Ping if there was any consensus/decision on this.

[2018-10-30 13:04] youennf commented on #82
PR https://github.com/w3c/mediacapture-screen-share/pull/86

[2018-10-30 14:39] jan-ivar commented on #77
Yes, see https://github.com/w3c/mediacapture-main/issues/540#issuecomment-434278340.

[2018-11-01 20:08] jan-ivar commented on #28
Fixed by https://github.com/w3c/permissions/pull/184.

[2018-11-01 20:08] #28 closed, assigned to jan-ivar

[2018-11-01 20:12] jan-ivar commented on #35
Fixed by https://github.com/w3c/mediacapture-screen-share/pull/84.

[2018-11-01 22:52] mhofman commented on #35
Sorry I missed the work going on in #84.

While this is going in the right direction, I have a some concerns the changes don't properly handle some scaling scenarios I originally reported.

The biggest issue is the recommendation to use `window.devicePixelRatio` as a scaling factor. There are some cases where that ratio doesn't correspond to the pixel density of the source (multi-monitor setups on

[2018-11-02 16:04] jan-ivar commented on #35
Thanks, I'll add a PR to attempt to resolve this. PTAL.

The current workaround for this would be:
[code]
I'd recommend opening a new issue if you think this requires its own constraint.

[2018-11-03 01:31] mhofman commented on #35
The use case for this is mostly when using a stream in `resizeMode == none` which means max height == current height. I guess a work around would be cloning the track and applying a resize constraint on it, but that seems insane just to read out the ratio.

I'll open a separate issue to track this.

[2018-11-07 15:50] #35 closed, assigned to jan-ivar

[2018-11-08 01:10] mhofman opened #89 "Source pixel ratio of the video track"
This is a follow-up to #35.

Applications that request a non-resized stream (`resizeMode = none`) on high DPI sources will receive a video stream of physical pixels. However such applications would likely need to know what the pixel ratio of the content is when processing it.

For example if the application wants to render the screen capture in a non-zoomed "100% mode" while keeping the highest fi

[2018-11-08 03:19] alvestrand commented on #89
When you say "pixel ratio", are you referring to the scaling usually applied to Retina-type screens, or to the older term referring to non-square pixels?
We have largely stuck to square pixels, since this simplifies things by a *lot*.

I'd think that handling logical dimensions is more of an application function than a WebRTC function.

[2018-11-08 21:22] mhofman commented on #89
Correct, I'm referring to retina / high DPI displays.

#84 and #88 Defined what the `resizeMode` constraint does, allowing the application to request a stream of logical pixels by default (i.e. scaled by the source content's pixel ratio), or a stream of unscaled physical pixels (resizeMode = none).

In the later case, the application would usually need to know what the source pixel ratio is (or wh

[2018-11-13 23:41] jan-ivar commented on #77
Fixed by https://github.com/w3c/mediacapture-screen-share/pull/86.

[2018-11-13 23:41] #77 closed, assigned to youennf

[2018-11-14 15:01] alvestrand commented on #31
TPAC discussion was that the PR (#84) was acceptable and should be merged. Closing.

[2018-11-14 15:01] #31 closed, assigned to jan-ivar

[2018-11-14 15:04] alvestrand commented on #81
TPAC discussion concluded to remove the "MUST NOT change" language.

[2018-11-14 15:05] alvestrand commented on #82
Since #86 is merged, closing.

[2018-11-14 15:05] #82 closed, assigned to youennf

[2018-11-15 15:17] alvestrand commented on #39
Closing as solved by #87

[2018-11-15 15:18] alvestrand commented on #66
#75 solves a lot, @jan-ivar to jump on the rest.

[2018-11-15 15:20] alvestrand commented on #59
Seems to have been opened. https://github.com/w3ctag/design-reviews/issues/309

[2018-11-15 18:11] #39 closed, assigned to jan-ivar

[2018-11-15 18:28] jan-ivar opened #90 "Forbid getDisplayMedia in top-level browsing context by default?"
Right now, [our feature policy](https://w3c.github.io/mediacapture-screen-share/#feature-policy-integration)'s default allowlist is `"self"`, disallowing calls from iframes only.

Since `getDisplayMedia` could be used maliciously to [violate "the Web security model"](https://tools.ietf.org/html/draft-ietf-rtcweb-security-10#section-4.1.1), should it be [`"none"`](https://wicg.github.io/feature-pol

[2018-11-16 05:41] alvestrand commented on #90
This would be a novel concept in the WebRTC context. Can you point to where this has been applied elsewhere in the Web platform?

How would one get access to the function if the default allowlist is "none" - who can grant it, and how?

[2018-11-16 16:14] eric-carlson commented on #90
Wouldn't this also prevent a developer that is unable to control page headers from using getDisplayMedia?

[2018-11-17 14:33] jan-ivar commented on #90
We would be the first in the web platform to use `"none"`.

That would be the idea.

[2018-11-17 16:03] youennf commented on #83
This was discussed during this week call.
This proposal has some drawbacks.

This could be ok with tab sharing but what about screen sharing, and the browser tab moving from one screen to another that is shared/not shared.
Also this would allow any page to observe what another page is doing which might have bad privacy/security side effects.
There is a potential racing issue between this event and

[2018-11-18 16:19] jianjunz commented on #83
When screen sharing starts, the event is fired on all the tabs that is visible or partially visible in this screen.

Moving from a shared screen to another not shared screen fires this event, and vice versa.

This event only fires on the tab being shared/not shared.

Agree. This would be a problem.

If we don't have the requirement to perform non-UI actions(e.g. pause a video) when screen sharing

[2018-11-18 23:04] martinthomson commented on #90
This would say that you can't get this feature without also opting into feature policy.  If I were more confident about the state of feature policy, I'd say that this is a good idea.

We're still discussing the shortcomings of feature policy, so I am going to say that we need a little more time to consider this.

[2018-11-18 23:08] martinthomson commented on #83
I can imagine this becoming permissions-based system, where blocking event propagation is used to deny access to the shared content.  Or the page could black out its content as a result of receiving the event.

Why don't we instead tackle the question of whether we can or should ask sites for their permission before they are shared?

[2018-11-19 01:29] jan-ivar commented on #83
Screen sharing is inherently a user-driven feature. If a user wishes to share a web surface, I'm not sure why that's any of that web surface's business. I'm concerned such a feature could be used to subvert screen capture, going against the interest of users, creating unnecessary observer's paradox situations, if you will.

I'd rather explore having user agents making such decisions, e.g. detect a

[2018-11-19 01:35] jan-ivar commented on #83
E.g. this might prevent a user from live capturing and recording the activity of a malicious web site for the purposes of gathering evidence. Such evidence would be considered sensitive information from the viewpoint of the malicious site.

[2018-11-19 14:15] jianjunz commented on #83
In most cases, only a very small part of the page needs to be observed. E.g. password, payment info.

I'm wondering if UAs are smart enough to make such decisions. Besides username and password, there might be some site specific sensitive information, such as product keys. Although screen sharing is initialized by user, some content in web pages are dynamically loaded, which is uncertain to the us

[2018-11-19 16:30] jan-ivar commented on #83
A declarative approach might be better here. Maybe sites could tag things as "sensitive"? This might be useful outside of screen-sharing as well, e.g. the presentation API.

In either case, I sense a potential trust tradeoff here about which party is better at determining things a user finds sensitive vs. a site. A bank for instance may decide to mark everything "sensitive", just because that's si

[2018-11-20 02:23] jianjunz commented on #83
UAs may prompt user to unobfuscate a sensitive element when it is clicked, like what Chrome is doing for Flash.

[2018-11-21 15:57] alvestrand commented on #59
Current status seems to be "someone needs to write an explainer from an user perspective" (https://github.com/w3ctag/design-reviews/issues/309#issuecomment-434660180). @uysalere will you do this?

[2018-11-21 15:58] alvestrand opened #91 "Need to add @uysalere as editor to this repo"
We need to have @uysalere assignable for issues in this repo.

[2018-11-21 16:00] dontcallmedom commented on #91
should be ok now

[2018-11-21 16:00] #91 closed, assigned to dontcallmedom

[2018-11-28 03:50] jan-ivar commented on #65
I'm reopening this issue since the prose added in https://github.com/w3c/mediacapture-screen-share/pull/73 did not get around the fact that with WebIDL defaults, there's no way to distinguish `{video: false, audio: false}` from `{}`, as mentioned in https://github.com/w3c/mediacapture-screen-share/issues/85.

[2018-11-28 04:48] jan-ivar commented on #85
Thanks @henbos for catching this. I've reopened https://github.com/w3c/mediacapture-screen-share/issues/65#issuecomment-442309841 since I don't see a way to solve this with prose.

[2018-11-28 05:08] jan-ivar commented on #65
To clarify what I think @foolip is saying—because I tripped over it—an *"empty dictionary"* here isn't actually empty, but populated with its default values, which means all the following calls are indistinguishable:
[code]
Having our prose interpret all of these as `{video: true}` would be confusing.

~~I agree with others here that we should let `getDisplayMedia` fail here instead.~~

[2018-11-28 07:00] jan-ivar commented on #65
Alternatively, something like what @foolip proposed might work:
[code]
... with prose to throw *TypeError* on `video: false`, since audio-only capture is disallowed.

[2018-11-28 08:58] martinthomson commented on #65
That seems like the best outcome.  It's the expected mode.  Then you only need to set the video option if you have constraints, or you want audio, both being somewhat exceptional.

[2018-11-29 14:12] foolip commented on #65
If `{ video: false }` just shouldn't work, then another option is to just not have a boolean as part of the definition at all, so:
[code]

[2018-11-29 14:24] jan-ivar commented on #65
@foolip yes but then wouldn't `{video: true}` and `{video: true, audio: true}` produce *TypeError*?

I think people would expect those to work, for symmetry alone. People would then need to use `{video: {}, audio: true}` or `{audio: true}` to get unconstrained capture.

[2018-11-29 14:36] jan-ivar commented on #65
I mean, if we're dropping symmetry, I'd argue for `getDisplayMedia({display: {}, displayAudio: true)`, and `getUserMedia({camera: true, microphone: true})`.

[2018-11-30 16:05] foolip commented on #65
Sure, similarity to `getUserMedia` and not rejecting harmless attempts to opt in to video seems okay :)

[2018-11-30 19:50] a2sheppy commented on #71
I think there ought to be an additional option, `combineSurfaces`, with the default value of `true`, where if `true`, the windows of an application, or the browser tabs if multiple tabs are able to be captured at once, are all drawn into a single track using whatever background is decided upon (it might make sense to have an option to specify transparent or a color to use for the background).

If

[2018-12-05 12:19] henbos opened #93 "MediaTrackCapabilities"
We've extended MediaTrackConstraintSet and MediaTrackSettings. Should we add a partial dictionary for MediaTrackCapabilities as well?

I'm a little bit confused about similar information being in so many different places and I noticed we don't have this one.

[2018-12-06 04:57] suhasHere commented on #79
I tend to agree with @martinthomson on leave it to UA to make the best decision.
I do feel sharing a media clip is a valid use-case in many scenarios and when that happens typically the presenter doesn't talk over fully while he/she is sharing the mediaClip.
Also wonder if we should probably start assuming that echo cancellation is not that bad either ..

Thoughts ?

[2018-12-06 11:35] henbos commented on #79
If the echo cancellation is good enough, this constraint is not necessary, and it would probably be a bad idea to add it. Then we'd require implementations to be really good at it if they want to support audio.

More information is needed. But _if_ it's not good enough then...

The UA can't make a "best decision" without knowing what the application use case is. If the application doesn't specify,

[2018-12-06 15:46] alvestrand commented on #93
Yes, you have to.
Having the explanation be done once is a Good Thing, but the IDL has to be in 3 places due to webIDL not being a very powerful language.

[2018-12-20 15:07] jan-ivar opened #95 "Clarify that we only process/TypeError on applicable constraints"
Spec says: *"For each member present in constraints whose value, value, is a dictionary, run the following steps:"*

This is too broad a pre-processing of constraints, and goes against https://github.com/w3c/mediacapture-main/pull/542.

It's also hard to implement, as WebIDL bindings typically map dictionaries to `struct` in c++, with no obvious way to enumerate dictionary members—nor should we do

[2018-12-20 15:20] alvestrand commented on #61
Done in #78

[2018-12-20 15:20] #61 closed, assigned to henbos

[2018-12-20 15:21] alvestrand commented on #85
Fixed in #92

[2018-12-20 15:21] #85 closed, assigned to henbos

[2018-12-20 15:21] henbos commented on #85
Fixed by #92

[2018-12-20 15:22] alvestrand commented on #65
Fixed by #92

[2018-12-20 15:22] #65 closed, assigned to jan-ivar

[2018-12-20 15:26] alvestrand commented on #62
Decision: This should be left to browser UI.

[2018-12-20 15:26] #62 closed, assigned to jan-ivar

[2018-12-21 13:43] alvestrand commented on #95
There's existing language (recently added) to say "ignore non-applicable constraints" in the selectSettings algorithm. Can what you are looking for be accomodated by broadening that language?
Though I'm worried that we may declare something that throws on {volume: {exact: 'wrong'}} (because it understands that exact volumes take numbers, not strings) non-compliant; I think that in Chrome we do the

[2018-12-21 16:04] jan-ivar opened #96 "Address corner-cases where getDisplayMedia() shows prompt only to fail afterwards."
Basically, it's a bug in the spec that there are corner cases where calling `getDisplayMedia` will prompt the end user needlessly, only to fail. For instance:
[code]
Fixing this is tricky as it needs to balance 3 things:
 1. **Fingerprinting** - mustn't reveal any device info through re-prodding on failure.
 2. **Interop** - Different UAs may have different downscaling limits (inherently unspec'ed

[2018-12-22 05:39] jan-ivar commented on #68
@henbos Yes I think this is covered by https://github.com/w3c/mediacapture-screen-share/pull/73, as it explicitly mentions never firing the overconstrained event. Can we close it?

I've opened specific issues on errors: https://github.com/w3c/mediacapture-screen-share/issues/95 and https://github.com/w3c/mediacapture-screen-share/issues/96.

[2018-12-27 10:32] #68 closed, assigned to henbos

[2019-01-17 15:40] alvestrand commented on #96
Jan-Ivar will suggest some language to allow getDisplayMedia() to fail early on constraints that obviously don't make sense.

[2019-01-25 14:54] aboba opened #98 "respec warnings"
Screen-capture currently shows 11 respec warnings:
https://w3c.github.io/mediacapture-screen-share/

This needs to be fixed before we produce the next WG draft.

[2019-01-25 17:16] #98 closed, assigned to dontcallmedom

[2019-01-28 21:40] jespertheend opened #100 "Capturing audio-only"
Hi, I was wondering why in https://github.com/w3c/mediacapture-screen-share/commit/c5c484213b15ead2780b1bcd822feff7e7872f1f

`MUST reject an audio-only request if no audio track is available.`
got changed to
`MUST reject audio-only requests.`

Right now it seems like all audio-only requests need to be rejected, even if the system does support audio tracks. Is this intended?

[2019-01-30 13:41] henbos opened #101 "Audio is said to be optional but there's one place that implies that it is not"
The spec says audio is optional (e.g. [here](https://w3c.github.io/mediacapture-screen-share/#capturing-logical-or-visible-display-surfaces and [here](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia)), which is very much intentional, but if you follow the getDisplayMedia() steps we find a contradiction:

We should clarify that in the cause of audio the audio track

[2019-01-30 13:48] henbos commented on #100
Yes this is intentional. Audio capture is perceived as an optional addition to screen capture, something that can exist side-by-side video but is not enforced to have to exist. A `getDisplayMedia({audio:true, video:true})` is allowed to return only a video track if the user wants to share video but not audio, or if the implementation/platform does not support audio capture. A request cannot limit

[2019-01-30 13:50] henbos commented on #100
For example, I believe Mac does not allow capturing system audio, so the only audio that might be implementable on that platform is tab/browser audio.

[2019-01-30 14:02] jespertheend commented on #100
Alright, thanks for the clarification. That makes sense. The reason why I brought this up is because in my use case I only need the system audio. Right now I’m using a chrome extension to capture both the screen and system audio. But capturing the screen seems to lower my framerate significantly. So that’s why I was hoping there would be a way to request audio only.

Though I guess this is very mu

[2019-01-30 20:56] jespertheend commented on #100
Would calling `MediaStreamTrack.stop()` solve this or would that just stop the screen capture altogether? I couldn't find anything about this in the current spec.

[2019-01-31 13:50] henbos commented on #100
I believe you can stop the video track without stopping the audio track (like getUserMedia()), which should fix your performance issues. Undeniably this is a workaround for using an API not the way it was intended. I.e. the user gets prompted to share their SCREEN, and depending on their choice/platform you MAY get audio. It's not ideal.

[2019-01-31 15:07] youennf commented on #100
Agreed this is not ideal.
Should the privacy indicator give information about the audio being captured?
If there is a possibility to capture audio but not screen, should it be reflected there as well?

[2019-01-31 18:39] jespertheend commented on #100
Yeah I agree. It’s not ideal but it’s the best solution for now. The alternative is asking users to install software to route system audio to a virtual microphone such as soundflowerbed. So using this APi is much more user friendly. I’ll try to stop the video track and see if that works.

[2019-02-01 13:57] henbos opened #102 "Clarify what audio is captured and what "application" means in the context of restrictOwnAudio"
On https://github.com/w3c/mediacapture-screen-share/pull/94/files, @martinthomson wrote:

[2019-02-01 14:00] #79 closed, assigned to henbos

[2019-02-02 08:20] henbos opened #103 "Which audio constraints from mediacapture-streams are applicable?"
For video, we list a lot of constraints. For audio, we only list restrictOwnAudio. Should we list other? [These](https://www.w3.org/TR/mediacapture-streams/#constrainable-properties) are defined in mediacapture-streams:

- volume
- sampleRate
- sampleSize
- echoCancellation
- autoGainControl
- noiseSuppression
- latency
- channelCount

[2019-02-04 13:02] henbos commented on #102
Only the tab that calls this API.

I always thought of it in terms of the tab, not considering iframes, but this might require some discussion.

[2019-02-04 13:09] henbos commented on #102
I propose "document". Restricting audio from a parent and/or child iframe is not a requirement. That said, since audio is very much optional, removing that audio too or implementing this on a per-tab basis is a possible implementation. The user agent could do what is easiest to implement in this case.

[2019-02-07 15:50] alvestrand commented on #103
The resulting stream can get everything applied to it using applyConstraint(); that's outside this spec.
Should we mandate a particular processing to these when the audio stream comes from getDisplayMedia, or are you asking if we should allow them in getDisplayMedia?

[2019-03-04 08:49] kekkokk commented on #49
I think the option to deny the user to select a specific tab or application to share is crucial for security reason. I mean, I'm integrating a webrtc app for a bank, and the boss is worried that the operator can share for mistake the entire screen instead of a tab and send the customer sensible data while doing that.

This is a case to consider to me, or the getSettings() should also return the ti

[2019-03-13 11:23] henbos commented on #93
Removing the interim label, I think this is an editorial issue.

[2019-03-21 04:19] youennf opened #104 "Ask for user gesture to call getDisplayMedia"
As can be seen in https://github.com/w3c/deviceorientation/issues/57, device motion/orientation access request API might require a user gesture to call this API.

Given getDisplayMedia is a powerful and privacy sensitive API, requiring a user gesture to call that API might also make sense.
This might still be possible to do so given navigator.mediaDevices.getDisplayMedia is a fairly recent API.

[2019-03-21 15:23] martinthomson commented on #104
I support this idea.  How we managed to allow websites to show popups without a user gesture is - in retrospect - surprising.  And a camera or microphone prompt is no less a popup than `window.alert()`.  Unfortunately those ones are so well baked in that clawing them back might be too disruptive.  This one though, I think that we have to have a gesture for.

/cc @johannhof, who is working on clean

[2019-04-28 17:41] guest271314 opened #105 "Provide a means to select only part of a screen to capture"
Firefox provide a "Take a Screenshot" feature which allows the user to select only a portion of a screen. That option should be provided for `getDisplayMedia()` in the form of constraints where specific coordinates can be passed; e.g., using `.getBoundingClientRect()` in the form of `{topLeft:<pixelCoordinate>, topRight:<pixelCoordinate>, bottomLeft:<pixelCoordinate>, bottomRight:<pixelCoordinate>

[2019-04-29 00:14] martinthomson commented on #105
I don't see how this would be compatible with user selection of content.

[2019-04-29 00:53] guest271314 commented on #105
@martinthomson The feature request would be compatible and consistent with user selection of content. The "Take a Screenshot" feature of Firefox Developer Tools provides a basic template of how to implement the feature, by way of selection of the content that should be captured, which could be translated into the appropriate corresponding `MediaStreamTrack` constraints.

`resizeMode: "crop-and-sca

[2019-04-29 00:58] guest271314 commented on #105
@martinthomson BTW `cursor: "never"` currently does not output expected result. Again, CSS needs to be used to not display the cursor.

[2019-04-29 01:12] guest271314 commented on #105
@martinthomson The above workarounds would not be necessary if an HTML `<video>` could be considered a "device" or `window`, where `MediaRecorder` would not stop when the underlying media resource is changed when `src` attribute of `HTMLVideoElement` is changed (new `MediaStreamTrack`s added to the captured stream); that is, the `MediaStreamTrack` of `kind` `"video"` could be configured with the o

[2019-04-29 03:36] guest271314 commented on #105
@martinthomson Tested the code at Mozilla browser at `console`; `getDisplayMedia()` is not executed at plnkr. The workaround to not record the title and location bar at Chromium 73

[code]

which sets the `window` `height` to `30` `px` greater than the `height` `MediaStreamTrack` constraint still records the location bar at Nightly.

[2019-04-29 16:38] youennf commented on #105
It seems there are multiple requirements here.

One is for a browser to allow a user selecting a part of a screen. I do not see benefits in adding a constraint for that so this seems like an implementation decision, not a spec one.
Implementing this partial screen selection probably need some thoughts. For instance, how to present to users which part of the screen is being captured.

The second re

[2019-04-29 21:32] guest271314 commented on #105
@youennf Am only interested in concatenating multiple media files into a single media file. While attempting to achieve that requirement have tried several approaches where summaries of some of the approaches tried can be found at each branch of the above-linked repository.

The live `window`, `tab`,  `appliacation` is _already_ presented to the user at Chromium 73, minimized in a grid display. Fi

[2019-04-29 21:43] youennf commented on #105
What I mean is that crop constraints at getDisplayMedia call time does not make a lot of sense.

Allowing a web page to efficiently manipulate video tracks (be they screen, camera or peer connection originating) with operations like cropping makes sense.
This relates somehow to requirements expressed in https://www.w3.org/TR/webrtc-nv-use-cases/#funnyhats*

[2019-04-29 22:02] guest271314 commented on #105
@youennf Crop constraints at `getDisplayMedia()` call makes sense from perspective here. Yes, similar to the linked document, though, again the requirement for this user is to capture video from an `HTMLVideoElement` (or, preferably, without having to use a `<video>` element at all; e.g., `new OfflineVideoContext(data).startRendering()` similar to `OfflineAudioContext().startRendering()`; decode/e

[2019-05-04 17:41] guest271314 commented on #105
@youennf Firefox includes `viewportOffsetX` and `viewportOffsetY` for resulting object returned by `navigator.mediaDevices.getSupportedConstraints()`, though the constraints are not set for the `MediaStreamTrack` of `kind` `"video"`. Is there a specification which clearly indicates which constraints are capable of being applied to a  `MediaStreamTrack` depending on which API is used to get the `Me

[2019-05-04 17:54] guest271314 commented on #66
@jan-ivar

That is apparently the case for Firefox, where `getSupportedConstraints()` includes `viewportOffsetX` and `viewportOffsetY`, though setting those properties and values at a `MediaStreamTrack` of `kind` `"video"` following executing `getDisplayMedia()` when trying to resolve https://github.com/w3c/mediacapture-screen-share/issues/105 has no effect, and the set properties are not set at t

[2019-05-04 18:59] guest271314 commented on #66
@jan-ivar Not entirely sure if attempting to set `viewportOffsetX` and `viewportOffsetY` at `MediaStreamTrack` within fulfilled `MediaStream` after `getDisplayMedia()` is executed is the issue, though doing so occasionally (more than twice) freezes the entire operating system (save for cursor, which is not able to click on an application) at *nix https://bugzilla.mozilla.org/show_bug.cgi?id=154909

[2019-05-04 22:42] guest271314 commented on #105
@youennf FWIW after testing various approaches which included Firefox freezing the operating system on several occasions requiring hard re-boot, setting `dom.disable_window_open_feature.location` at "about:preferences" at Firefox results in the title bar not being recorded. Not sure how such functionality could be incorporated into Media Capture Screen Share API, though would be helpful for the us

[2019-05-09 14:54] alvestrand commented on #105
So what happens when you capture part of the screen, and the user moves the window?

[2019-05-09 15:12] guest271314 commented on #105
@alvestrand What do you mean by "moves the window"?

[2019-05-09 15:38] jan-ivar commented on #105
These are non-spec and should be removed. They originate from a browser-tab sharing experiment Firefox had behind a pref years ago, and worked solely with `applyConstraints` to move which area of a web page (specifically) to capture, independent of end-user scrolling. The idea was to let a viewer, using a data channel, scroll independently from the presenter, with the obvious privacy implications

[2019-05-09 15:54] guest271314 commented on #105
@jan-ivar Am not certain what the issue, hesitancy and/or reluctance is with adding a constraint which provides a means to capture only part of a screen that will be shared? That is, if am gathering the hesitancy to add this constraint correctly from the responses so far in this issue.

This feature request is consistent with screen capture (still image and live stream) programs, and in fact, cons

[2019-05-09 16:04] guest271314 commented on #105
@jan-ivar FWIW dove in to `getDisplayMedia()` and removing specific portions of the screen while trying to record multiple media resources to a single webm file using `MediaRecorder` (various attempts, nuances, caveats can be read at the branches at https://github.com/guest271314/MediaFragmentRecorder); that is how this issue came about and why filed this issue moments ago requesting the feature t

[2019-05-14 23:00] inexorabletash opened #107 "Screenshot (still image) capability"
This is hinted at in #105 but there's a request against Chrome (https://crbug.com/962538) to provide single-image capture. Obviously, it is possible with this API to get a stream and take a single image from it. But the user prompt will likely be confusing since the intent isn't clear - it will necessarily indicate something like  "share your screen"

I could imagine a way to a variant of the API

[2019-05-16 00:30] guest271314 commented on #107
@inexorabletash Does the "MediaStream Image Capture" https://www.w3.org/TR/image-capture/ (https://github.com/w3c/mediacapture-image/blob/gh-pages/implementation-status.md) not provide means to achieve the requirement?

(See also https://bugs.chromium.org/p/chromium/issues/detail?id=838108 Chromium `ImageBitmapRenderingContext` bug, e.g., `.grabFrame()`)

[2019-05-16 01:12] danbriggs5 commented on #79
@henbos Just wanted to thank you for pushing this forward. As an application developer, I'd love to have this, and I know our users would as well. It's nasty trying to explain the echo situation to users and help them avoid it. Especially since we can't detect if they selected a window, application, or tab. Looking forward to seeing browsers implement this.

[2019-05-16 09:49] guest271314 commented on #107
An attempt to meet the requirement

`const blob = await screenShot(document.body, { type: 'png'  })`

described at the linked Chrome issue using existing browser API; i.e., capturing only a specific element [("#Specifications") at MDN `Image​Capture​.take​Photo()` documentation ("display")](https://developer.mozilla.org/en-US/docs/Web/API/ImageCapture/takePhoto#Specifications) from a document at t

[2019-05-23 06:05] jordanaustin commented on #107
@guest271314 First of all, thank you for this example!

The main issue has never really been the ability with the getDisplayMedia API, this is an amazingly powerful API. The issue always comes down to the UI when invoking getDisplayMedia({video:true}), the UI you're presented with is a share screen UI which doesn't at all fit what I'm trying to do which is the ImageCapture portion. See the UI belo

[2019-05-23 14:10] guest271314 commented on #107
@jordanaustin Before executing `getDisplayMedia()` you could provide a notification to the user that the captured screen will be used only for a single still image, and advise the user to select "**Chrome Tab**", which sets the focus to the selected tab (useful when the captured `window` created by `window.open()`), then notify the user when the `MediaStreamTrack` `enabled` property is set to `fal

[2019-05-28 19:20] jordanaustin commented on #107
I agree with you, we _could_ do this, but as you can see this is far from ideal. It seems to make sense that we should distinguish between the two types of actions we're trying to do and provide the appropriate user permission UI.

The whole goal for this request isn't to find a work-around that developers need to implement in order to inform their users how to use the this feature. Rather my goal

[2019-05-29 00:49] guest271314 commented on #107
@jordanaustin

Have found that creating, if possible, multiple different workarounds provides a means to locate additional bugs in an API, template basic UI's if needed, for the ability to describe how the procedure should ideally work in code.

For example, consider the specific timing of granting of permission to take a screen shot in relation to when the screenshot is actually copied from the s

[2019-05-29 03:14] guest271314 opened #108 "Should the permissions UI be the first captured frame?"
Relevant specification sections

Should the permissions UI where the user selects the screen, application or tab to be captured be the first captured frame if permission is granted to share the screen?

plnkr https://run.plnkr.co/preview/cjw8nj6cv00043n67mdqj2ae4/

![getDisplayImageFirstFrame1](https://user-images.githubusercontent.com/4174848/58526760-9df00400-81bf-11e9-9f19-802e400ca5f5.png)
![g

[2019-05-29 14:08] eric-carlson commented on #108
Why is this necessary?

In some browsers, at least, the user prompt happens in a different process from screen capture so this would require the UA to keep the prompt visible after the user selection until screen capture has started in the capture process. This may make the UI feel sluggish, and will make the code more complex.

[2019-05-29 14:13] guest271314 commented on #108
@eric-carlson The specification does not directly address the matter of a permission UI being captured, other than relevant to security considerations as to what is being captured.

Not able to gather what your position is on the question?

Are users expecting the permissions UI to be the first captured frame? Did not here.

[2019-05-29 14:31] eric-carlson commented on #108
My two points, "This may make the UI feel sluggish, and will make the code more complex", are both net negatives so unless this is really needed I am not in favor.

I'm not sure we have enough experience to know what users are expecting.

[2019-05-30 03:29] guest271314 commented on #108
@eric-carlson

Do you mean not in favor of specifying if the screen, tab, application menu (permission UI) should be captured as the first image of a `MediaStreamTrack`?

[2019-05-30 14:40] jan-ivar commented on #108
Firefox shows a live preview, so we would be opposed to any language that would mandate a still frame.

I'd say normally specs don't dictate UX behavior this thoroughly, unless there's a severe privacy issue.

[2019-05-31 01:56] guest271314 commented on #107
@jordanaustin The user is technically sharing one frame of a media stream of their screen. The developer can suggest that to capture the contents of the HTML `document` loaded in a `window` to select "Chrome tab". If the element to be captured is the first child of `document.body` the `scrollTo()` call will not be necessary, as the element should be positioned at `top:0` and `left:0`, which can al

[2019-05-31 02:11] guest271314 commented on #108
@jan-ivar Consider the use case of a screen shot https://github.com/w3c/mediacapture-screen-share/issues/107. Whether the user is expecting the permission/application menu UI to be captured or not could span from yes to no. However, if the sole purpose is the take a screen shot of an HTML element in an HTML `document` - not the permission/application menu, then the developer will have to determine

[2019-06-02 04:41] guest271314 commented on #105
A rudimentary POC https://plnkr.co/edit/UmrSwN?p=preview to select only part of a screen for a screen shot (the movement and resizing of the selection element can be fine-tuned to have similar functionality as, for example, https://codepen.io/zz85/pen/gbOoVP)

[code]

![screenshot_selection_4](https://user-images.githubusercontent.com/4174848/58756915-82069e00-84f0-11e9-93b4-5c6bfe20a625.png)

![s

[2019-06-20 14:49] henbos commented on #107
@armax00 I see you're assigned to the crbug, is this of interest to Chrome?

[2019-06-20 14:52] #104 closed, assigned to nobody

[2019-06-20 14:57] henbos commented on #108
This API is not intended as a screenshot API, does not behave as such, and UI is up to the browser.

[2019-06-20 15:26] armax00 commented on #107
In my opinion it is the case that the work-arounds proposed are per-se work-arounds. As henbos@ indicated in https://github.com/w3c/mediacapture-screen-share/issues/108 the existing APIs ore not designed for this use case, hence do not look fitting.

I believe there is room for such an API for this use case. What is the opinion of other browser about it? Also, are there different opinions then min

[2019-06-20 23:28] guest271314 commented on #108
@henbos

This issue is not about a screenshot API proposal.

This issue asks is "up to the browser" UI should be specified to be the first frame or not. That is, if specified that no UI should be the first frame then browsers that do so would not be in accord with the specification if that browsers' implementation did so.

[2019-06-20 23:47] guest271314 commented on #107
@armax00

The workarounds are just that.

Already possible at Firefox by several means. Including using Developer Tools to select a specific portion of the screen ![firefox_developer_tools_take_a_screenshot](https://user-images.githubusercontent.com/4174848/56927695-5a24b480-6ac4-11e9-84b5-9255846ee556.png) (https://github.com/w3c/mediacapture-screen-share/issues/105). See also https://github.com/

[2019-06-21 01:56] guest271314 commented on #107
@armax00 Re Chrome a circa 2017 question Is it possible to take a screenshot at Chromium, Chrome without using a headless instance or an extension? https://stackoverflow.com/q/46882371

[2019-07-16 01:22] youennf commented on #108
This thread is discussing two things here:

1. Should there be UI requirements targeted at the prompt?
I do not think we could or even should define mandatory requirements in that area.
It is often best to give flexibility for implementers since there is usually no downsides like interop issues, especially since browser UIs are still being worked on.

2. If user grants access to the screen on whic

[2019-08-01 14:54] #107 closed, assigned to nobody

[2019-08-01 14:55] henbos commented on #107
This is the wrong API for screenshot and this working group isn't interested

[2019-08-01 20:22] jan-ivar commented on #81
I vaguely recall we also decided at TPAC to axe the [displaySurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-displaysurface) and [logicalSurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-logicalsurface) constraints, but I struggle to find it in the minutes. Was it perhaps related to this?

cc @martinthomson

[2019-08-01 20:50] aboba commented on #81
@jan-ivar The application cannot use [displaySurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-displaysurface) and [logicalSurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-logicalsurface) constraints to influence what is shared, only to retrieve information after user selection.  Note clear to me that this info is useful though.

[2019-08-02 21:18] jan-ivar commented on #81
On `getDisplayMedia` yes, but `track.applyConstraints` still works.

This doesn't matter as long as [displaySurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-displaysurface) and [logicalSurface](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-logicalsurface) remain constant.

If they can change, we'd need to figure out what happens if JS succe

[2019-08-12 19:04] hoolahoop commented on #105
I would use this in my implementation of WebRTC. Getting exact dimensions is useful, and it is currently not allowed (eg. https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getDisplayMedia section about TypeError (no exact or min spec's allowed)).

Is this question still open for discussion?

[2019-08-12 19:11] guest271314 commented on #105
@hoolahoop How does not allowing setting `min` or `exact` constraints affect selecting only a part of the screen?

The issue has not been closed, yet.

[2019-08-15 14:44] alvestrand commented on #105
This seems to be possible to do with current APIs, so no compelling reason seen for more browser surface.

[2019-08-15 14:44] #105 closed, assigned to nobody

[2019-08-15 14:44] henbos commented on #105
I think the spec allows browsers to have a way to crop if they wanted to, but I don't think the application should have control which part of the screen the user can pick

[2019-08-15 14:47] alvestrand commented on #108
Seems good to have a recommendation not to capture the prompt, but this is in UA land, so it shouldn't be a normative statement.

[2019-08-15 15:20] guest271314 commented on #105
@alvestrand @henbos Have you tried "Take a Screenshot" at Firefox Devloper Tools? That is what am asking to be specified as part of mediacapture-screen-share. Is there a compelling reason such functionality should not be specified?

[2019-08-15 15:23] guest271314 commented on #105
![take_a_screenshot_firefox](https://user-images.githubusercontent.com/4174848/63105562-921b0f00-bf70-11e9-8bae-c1cec8984f9c.png)

[2019-08-15 15:57] youennf commented on #105
This functionality is allowed by the spec.
The spec stays away from any specific way to constrain user selection UI so I do not see what the spec could say related to the proposed functionality.

"Take a Screenshot" at Firefox Devloper Tools does not seem to require any specific spec.

This is really up to browser implementors to decide whether to add support for that functionality or not.

[2019-08-16 00:51] guest271314 commented on #108
@alvestrand The normative statement and specification could be to add an optional flag to `getDisplayMedia()`. The case where capturing the prompt, open applications, etc. would be to demonstrate a complete, minimal, verifiable example of a procedure to reproduce a bug or outcome. The irony being that capturing a users open applications, browser tabs and windows could be considered a (security) bu

[2019-08-16 07:45] henbos commented on #105
I still don't see mediacapture-screen-share as a screenshot API, which makes me reluctant to add any language advising the browser to that it must or even should have this type of a picker. I'm not saying there aren't any use cases for capturing part of a screen, but I'm not compelled that we should attempt to mandate this, and as-is browsers are allowed to implement such a picker.

If this use ca

[2019-08-16 13:41] guest271314 commented on #105
@henbos

See the current language in the specification, emphasis added

We could ignore that language and write a specification from scratch which included the same language to achieve double-redundancy.

It that is what you believe to be necessary, where to post the specification? WICG discourse? Am not a "member" of W3C, and not really interested in becoming beholden to an organization, particul

[2019-08-16 14:00] guest271314 commented on #105
@henbos There is an existing "Screenshot API" topic at WICG discourse https://discourse.wicg.io/t/proposal-screenshot-api/2412. There are comments citing privacy and security concerns. Well, `getDisplayMedia()` can currently leak information relating to tabs, windows, and applications where permission was _not granted_ to be captured https://github.com/w3c/mediacapture-screen-share/issues/108#issu

[2019-08-16 14:25] guest271314 commented on #105
@henbos The intent of this issue was to select a portion of the screen to record, e.g., a `<video>` element. Since HTML `<video>` is not an "Application", in general, it would be necessary to use `ImageCapture.grabFrame()` and `getDisplayMedia()`. Since `PictureInPictureWindow` is considered an "Application" a partial workaround https://github.com/guest271314/MediaFragmentRecorder/tree/getdisplaym

[2019-08-16 23:17] guest271314 commented on #105
Chromium issue https://bugs.chromium.org/p/chromium/issues/detail?id=994953
Firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=1574662

[2019-08-31 19:44] aboba opened #112 "Respec error"
Failed to parse WebIDL: Syntax error at line 2, since partial interface MediaDevices: (optional DisplayMediaStreamConstraints constraints = {}); ^ No value for default.

[2019-09-05 01:03] jan-ivar commented on #95
Sorry i wasn't clear here. I was referring to pre-validation steps we do on all constraints in `getDisplauMedia()`. I'll provide a PR. Easier to look at that than explain.

[2019-09-05 15:05] #95 closed, assigned to jan-ivar

[2019-09-12 14:03] #102 closed, assigned to henbos

[2019-09-12 14:05] #103 closed, assigned to henbos

[2019-09-12 14:09] #96 closed, assigned to jan-ivar

[2019-09-12 14:10] #108 closed, assigned to youennf

[2019-09-12 14:13] henbos commented on #101
@jan-ivar to add a PR

[2019-09-15 20:35] alvestrand commented on #60
Current document has in "terminology":

A browser display surface is the rendered form of a single document. This is not strictly limited to HTML [HTML5] documents, though the discussion in this document will address some specific concerns with the capture of HTML.

Suggest adding "The UA may choose to display the current document in a browser window, continuing to cast the current document into t

[2019-09-25 11:54] dontcallmedom commented on #60
[RESOLUTION](https://www.w3.org/2019/09/18-webrtc-minutes.html#item07): Use 'browsing context' as tab capture

[2019-10-11 00:33] #112 closed, assigned to aboba

[2019-10-18 00:36] jan-ivar commented on #59
[TPAC note](https://www.w3.org/2019/09/18-webrtc-minutes.html#resolution05): Needs horizontal review, fill out privacy and security questionnaire. Need explainer.

@martinthomson Do you want a first stab at this, or have any thoughts on what should go in here? If not I can try to take it.

[2019-10-31 15:32] #60 closed, assigned to alvestrand

[2019-11-08 15:17] jan-ivar commented on #59
I still need to fill out the privacy questionnaire.

[2019-11-15 09:44] annevk opened #125 "Possible duplication of requirements"
Under DisplayMediaStreamConstraints it states that video being false MUST be rejected. Unless I'm missing something this is already required as part of `getDisplayMedia()`. And the latter is a much better style as the order relative to other rejections is clear.

[2019-11-15 09:49] annevk opened #126 "Normative security requirements ("ISSUE 1")"
While security consideration sections are generally non-normative in nature (it's effectively a summary), it's definitely the norm (or should be the norm) that elsewhere in the document normative requirements with regards to security are made. UI requirements with SHOULD, processing requirements with MUST.

[2019-11-15 14:17] jan-ivar opened #127 "Should getDisplayMedia be undefined on platforms with no support?"
A [question came up](https://stackoverflow.com/questions/58842831/check-if-browser-platform-support-screen-capturing-via-getdisplaymedia) on stackoverflow: How to detect if screen sharing is supported on a particular browser and platform? Presumably this is to avoid showing users a non-functioning button.

It turns out mobile browsers like _Chrome for Android_ and _Firefox for Android_ define the

[2019-11-28 16:02] youennf commented on #127
It seems like a Chromium bug (is there a bug filed there?).
I am not sure the spec should say anything here.

[2019-12-13 14:26] jan-ivar opened #128 "Specify track.label"
Right now, this spec says nothing about what the `track.label` should contain:
[code]
Implementations [differ](https://jan-ivar.github.io/dummy/gdm.html) so we should specify this:
- Firefox says: `Specify track.label · Issue #128 · w3c/mediacapture-screen-share` or `Primary Monitor`
- Chrome says: `window:123:0` or `screen:2067749241:0`
- Safari and Edge say: ""

The Firefox behavior uses the win

[2019-12-13 15:00] youennf commented on #128
Do we know how websites are using the label field?
Would it not be better for the User Agent to easily list what is being shared by the user to a given page?

Related to getDisplayMedia, the spec allows dynamically changing the source of a display track.
I don't think implementations expect track labels to change.

[2019-12-13 17:23] jan-ivar commented on #128
How do you mean? Like Firefox does with `label` above, or something else?

Yeah @henbos wanted that, I think for active-tab capture? I actually worry that contradicts Mediacapture-main: _"Once selected, the source of the MediaStreamTrack MUST NOT change."_

I argued the right way to do active-tab capture was to create a virtual "active tab" device source that did just that, and expose that as a se

[2019-12-13 17:43] youennf commented on #128
I am trying to think of the main uses for track.label in web pages.
One use case for labels is device picker, but this does not apply to getDisplayMedia, nor track.label.

The visually impaired user scenario seems best handled by the User Agent itself.
User Agents provide capture indicators that could more properly identify the sources than what web pages could do.

One use case is presenting mult

[2019-12-13 17:57] jan-ivar commented on #128
Site may want to put what's currently being captured in a button:

   [Sharing: Alice's Presentation XX]

Whether clicking on this button brings up an in-content selector or in-chrome one (or other choices like "stop sharing") seems irrelevant. This also seems true regardless of how many sources are being shared concurrently.

[2019-12-13 18:40] youennf commented on #128
For camera/microphone sources, I do not see track labels as really useful to show to users.
Do we know websites using it this way?

I would be interested in understanding what native applications are doing and what would be needed to offer the same feature set. Might be interesting to know what web app developers are requesting in that area as well.

Sure, so track.label would be 'XX' I guess.

Pr

[2019-12-16 11:47] henbos commented on #128
(Me commenting without having followed the entire discussion, just in response to this one quote, forgive me if irrelevant...)

This quote seems up for interpretation. Some cameras are able to zoom in. Is using the zoom changing the source? Probably not. With regards to changing tab, you could say this is changing source because it is showing something else. But you could also say that the source

[2019-12-16 19:13] jan-ivar commented on #128
@henbos Seems clear to me [in context](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia): *"The provided media MUST include precisely one track of each media type in requestedMediaTypes. The devices chosen MUST be the ones determined by the user. Once selected, the source of a MediaStreamTrack MUST NOT change."*

It says once a user has picked a source, the user ag

[2019-12-17 18:13] jan-ivar commented on #128
Do we know websites using it this way?

@youennf `track.label` has been there forever, and is merely short for
[code]
...and is used all the time:
<img width="400" src="https://user-images.githubusercontent.com/3136226/71021127-aceec300-20cb-11ea-8847-90da2c31fb65.png">
I'd argue, to my point, that when users click above they don't yet know whether they'll get a drop-down or a selector popup windo

[2019-12-19 07:29] youennf commented on #128
This algorithm is only true for capture tracks, but there are many different types of tracks.
A single getter with different meanings for each track type does not seem really useful to me if you have to know the track type to apply the correct processing on track.label.

track.label is also conveying a lot of information, all in one string, which has drawbacks.
For instance, as a website I might w

[2019-12-29 22:31] alvestrand commented on #128
Speaking personally, I think adding a label attribute to "track" was a dumb idea, and we should use it as little as possible.
The device label is (comparatively) well defined and has a well defined purpose.
As far as I remember, track.label doesn't surivive transmission across a PeerConnection either.

[2019-12-30 16:26] jan-ivar commented on #128
Neither does `contentHint`, but lets focus on screen-capture, which is where this issue is filed (if we want to question the whole model, I suggest we file a new issue on mediacapture-main).

For better or worse, Mediacapture-main _does_ define `track.label`, which is useful for tracks backed by user selection, like here. Thus, this spec (screen-capture) needs to define how to handle it, returning

[2019-12-31 10:15] youennf commented on #128
I see, so this is all about the user doing the capture, not about remote users.

I think it is pretty rare for a user to share more than two video streams at the same time.

If screen capture is disabled by the website after 5 minutes, I am not sure we can expect users to even remember that screen capture is on. I wonder whether we should protect users from that.
We have that debate elsewhere, but

[2020-01-01 21:25] jan-ivar commented on #128
@youennf I'm not following. What do you mean "mixes"? The device _type_ is in `track.kind`, the device _name_ is in `track.label`.

Not really. The display surface [_type_](https://w3c.github.io/mediacapture-screen-share/#dom-mediatracksettings-displaysurface) is in `track.getSettings().displaySurface`, the display surface _name_ is in `track.label`.

[2020-01-02 10:03] youennf commented on #128
Capture track labels are often something like: "iMac Microphone" or "FaceTime Camera", which contain the kind information. It would seem consistent to have something like "iMac Screen" or "My super presentation Window".

As I said earlier, if we decide to expose this information, it seems more natural to me to use something like `track.getSettings().displayName`.

[2020-01-02 15:02] jan-ivar commented on #128
For built-in devices maybe, but that's a red herring I claim. `"Logitech BRIO"` is a counter example (its camera and microphone labels are identical). We ultimately don't control that namespace, so I don't think we can draw anything structural from lack of specificity in (some) names (types embedded in names is a classic problem/pattern in many domains).

[2020-01-02 17:15] jan-ivar opened #129 "Ugly links from https://github.com/w3c/mediacapture-screen-share/pull/124"
After https://github.com/w3c/mediacapture-screen-share/pull/124 [introduced](https://github.com/w3c/mediacapture-screen-share/pull/124/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR169):

...it now [looks like this](https://w3c.github.io/mediacapture-screen-share/#capturing-displayed-media):

Capture of displayed media is enabled through the addition of a new `getDisplayMedia` method on the `MediaDe

[2020-01-06 15:55] dontcallmedom opened #131 "Rephrase "triggered by user activation" to match the new user activation model"
The HTML spec uses an [updated model to refer to use activation](https://github.com/w3c/payment-request/issues/883) which requires an update to the spec.

[2020-01-09 16:01] #131 closed, assigned to nobody

[2020-01-16 20:10] pes10k opened #133 "What is the format of device ids?"
Currently getUserMedia uses globally unique identifiers, which creates significant tracking risk

In the conversation around https://github.com/w3c/mediacapture-main/issues/607, it was stated that it would be difficult-to-impossible to remove these UUID device IDs from existing devices, but going forward UUIDs would no longer be used.  Could the spec authors discuss and specify that UUID-style dev

[2020-01-16 20:14] pes10k opened #134 "Spec should specify a short permission lifetime"
Currently the spec describes a permission for allowing the site to access the screen.  However, its not clear what the lifetime of this permission is.  Given the sensitivity of the information, it would be good to specify a short lifetime for this capability.

[2020-01-16 23:02] jyasskin commented on #134
https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia includes

which I believe means that every call to `getDisplayMedia()` will prompt (or auto-deny). Since the result object from `getDisplayMedia()` can't outlive the tab, that caps the lifetime of the capability. It probably wouldn't be a good idea to additionally specify a wall-time limit on how long someone can sha

[2020-01-16 23:59] pes10k commented on #134
Gotcha, as long as that boils down to "document lifetime" then it addresses my concern.  If thats the case, i'll close this issue

[2020-01-17 08:50] alvestrand commented on #134
That was the intention, I believe: No permanent access to screenshare, permission dies with the document.

[2020-01-17 21:43] pes10k commented on #134
thanks for clarifying @alvestrand and @jyasskin, closing

[2020-01-17 21:43] #134 closed, assigned to nobody

[2020-01-28 15:49] bert-github opened #135 "Human readable error message without language info"
5.1 MediaDevices Additions
https://www.w3.org/TR/2019/WD-screen-capture-20191119/#mediadevices-additions

On the numbered list, item 4, sub-item 3:

Is there a way to indicate the language and direction of the ‘informative human-readable message’?

How is the language chosen? Does it adapt to the user whose screen is being captured?

[2020-01-29 11:29] dontcallmedom commented on #135
This seems equivalent to a previously discussed issue in the context of getUserMedia: https://www.w3.org/International/track/issues/465

As discussed for that previous issue, the localizability of DOM error messages (assuming it is needed) would need to be handled at the platform level, not at the individual API level.

[2020-01-30 16:52] #129 closed, assigned to nobody

[2020-01-30 17:34] dontcallmedom commented on #133
@snyderp can you clarify whether you meant this issue for this spec or for `getUserMedia`? In the Screen Capture API, deviceIds aren't exposed at all, so their format should not really matter one way or another.

https://www.w3.org/TR/2019/WD-screen-capture-20191119/#device-identifiers

[2020-01-30 17:42] pes10k commented on #133
@dontcallmedom if i follow correctly, `getDisplayMedia` returns a `MediaStream`, and that `MediaStream` has an [`id`](https://www.w3.org/TR/mediacapture-streams/#dom-mediastream-id).

This issue is about whether that id is UUID-like (and so identifying / tracking risk), or whether, as per the convo in https://github.com/w3c/mediacapture-main/issues/607, its been changed to something not uniquely i

[2020-01-30 17:53] dontcallmedom commented on #133
If the issue is about `MediaStream.id`, it should be filed in https://github.com/w3c/mediacapture-main/ since that is where the attribute is defined as a UUID, and the Screen Capture spec doesn't (and can't) change anything about it. I also don't think this particular id presents a fingerprinting risk since it is never persisted (contrarily to deviceId).

But the title of your issue suggests you w

[2020-01-30 18:03] pes10k commented on #133
@dontcallmedom i see, then yes, maybe i put things in the wrong spot.  if so, apologies :)

But the reason i put it here is that the outcome of TPAC conversation with the media capture folks was that, for web compat reasons, the UUID-ness of MediaStream.id couldn't be changed for existing device types, but that for new uses of the API and new device-types, UUIDs would not be used.

So, this seemed

[2020-01-30 18:38] youennf commented on #133
MediaDeviceInfo.deviceId may persist over browsing sessions and should be treated carefully as we are currently discussing.

MediaStream IDs are not persistent, they last as long as the MediaStream last.
In that sense, they do not pause a privacy threat.

[2020-01-30 18:39] pes10k commented on #133
Ah, terrific then, my misunderstanding.  As long as this spec does not involve the creation of any site/JS-accessible UUIDs, then my concern is addressed and I'll close the issue.

Thanks to you both for the handholding!

[2020-02-05 07:48] #133 closed, assigned to nobody

[2020-02-13 14:27] jan-ivar opened #136 "Should fire ended track event when shared window/tab is closed."
(Note this talks about closing the source of sharing (e.g. a tab or window), not the page JS is in).

It was reported to us in https://bugzil.la/1615282 that Chrome does this, but Firefox does not.

The spec should speak about this.

I think it makes sense to fire the `ended` event on a screen-sharing track when its source "goes away permanently", or maybe just "is closed".

This may be trickier w

[2020-03-20 20:57] ghawkescs commented on #107
@henbos what is the correct API for screenshot that we should look into?

[2020-03-20 22:12] aboba commented on #107
In general, capturing a frame from a stream is handled by [Canvas](https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos).  An historical perspective is available [here](https://stackoverflow.com/questions/4912092/using-html5-canvas-javascript-to-take-in-browser-screenshots).

[2020-03-20 22:26] aboba commented on #127
@jan-ivar Agree with Youenn that this is a bug. Support for feature detection is recommended in the [Client-side API Design Principles](https://w3ctag.github.io/design-principles/#feature-detect). In this case, I see no reason to circumvent that recommendation.

[2020-03-22 10:24] LukasKalbertodt commented on #127
There is [a bug report for Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=1038244#c2). I also just created [a bug report for Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1624181).

[2020-03-23 01:19] guest271314 commented on #136
The implementations of Firefox and Chromium are not consistent.

Is expected behaviour not already specified at https://w3c.github.io/mediacapture-main/#track-ended ?

[2020-03-23 02:03] guest271314 commented on #136
Apparently for `ended` event to be fired on a `MediaStreamTrack` from `getDisplayMedia()` at Nightly 76 the user needs to explicitly click "X" at => address/navigation bar => Permissions => Share the Screen => Allowed Temporarily X.

However, the procedure cannot be used in reverse with the same UI: It does not appear to be possible to undo "Blocked Temporarily" at the Permissions section UI of Fi

[2020-03-23 14:58] jan-ivar commented on #127
Bugs have been filed on implementations so we can close this.

[2020-03-23 14:58] #127 closed, assigned to jan-ivar

[2020-04-28 11:22] LukasKalbertodt opened #138 "Add configuration to chose whether or not to focus/bring to front the shared window display surface"
I wondered why the windows that I share via `getDisplayMedia` are suddenly in focus and in front of all other windows. This is done by Firefox and Chrome. I [asked on StackOverflow](https://stackoverflow.com/q/60172910/2408867) and got this as an answer:

So here I am. While I understand that this specification was developed with web conferences as important use case, I think the behavior of bring

[2020-04-29 14:21] LukasKalbertodt opened #139 "Add possibility to request the same surface stream, but with different constraints (e.g. resolution)"
We would like to give our users the option to choose the resolution of their screen recording. We also would like to offer this after the user initially approved the `getDisplayMedia` prompt. It is possible, but currently the browser always prompts the user again on each resolution change. For `getUserMedia` it's possible to avoid this problem by specifying the `deviceId` in the constraints. That

[2020-04-29 14:25] youennf commented on #139
The recommended way is probably to use MediaStreamTrack.clone/applyConstraints to get a track with the desired resolution without any further prompt. The same principle should hopefully works for getUserMedia.
Would that work for you?

[2020-04-30 09:00] LukasKalbertodt commented on #139
Oh no, I'm so sorry! I thought I'd know the full API in this regards, but I was completely unaware of `applyConstraints`. Thanks for telling me. I tried using it, but noticed a large number of browser bugs, unfortunately. But yeah this is totally how it should work and my request is therefore useless.

I know this is not the right place for support questions, so sorry again for the noise! Will res

[2020-04-30 09:00] #139 closed, assigned to nobody

[2020-04-30 11:15] youennf commented on #139
Constraints handling is an area where browsers might need to improve in terms of consistency. Please file bugs in the related browser bug trackers.

[2020-05-03 12:36] LukasKalbertodt commented on #139
Absolutely, I planned on doing so next week :)

[2020-05-04 00:10] innerop commented on #100
Was googling and arrived here.

I realize this is a different API, not the Extension API, but I've given up on getting browser/tab audio from getDisplayMedia on Mac and I was trying to use tabCapture from an extension since I know the tab audio capture works great via the tabCapture API

However, ...

When using chrome.tabCapture.capture({audio: true, video: true}, (stream) => { ... }) in Chrome,

[2020-05-07 04:35] guest271314 commented on #138
A prospective non-workaround UI solution that could be incorporated into the specifcation and existing prompt dialogs would be to include a checkbox option "Focus on captured Window or Screen" default value checked, which is current intended behaviour, beneath "Remember this decision"
![Screenshot_2020-05-07_04-23-23](https://user-images.githubusercontent.com/4174848/81254689-5acb2180-901b-11ea-88

[2020-05-07 06:25] guest271314 commented on #138
Workaround for Chromium 81 (stable) which does gain focus when `prompt()` is used and the screen selected is an application. Firefox doe not gain focus using the same code.

[code]

[2020-05-09 15:59] guest271314 commented on #100
@henbos

Where the architecture _does_ support capturing system wide audio output does the language MAY at

signal to implementers to not expose the device that captures system-wide or specific audio devices?

In the case of *nix, PulseAudio _does_ provide a means to capture system-wide audio, however, Chromium does not expose that device at either `getUserMedia()` or `getDisplayMedia()` prompts o

[2020-05-09 16:25] guest271314 opened #140 "Either fully support or remove audio capture entirely: "MAY" re audio capture is ambiguous"
This entire paragraph

is ambiguous, capable of producing confusion for both implementers and fron-end users, see https://github.com/w3c/mediacapture-screen-share-extensions/issues/12.

For *nix users with PulseAudio installed the platform supports system wide audio capture at device named "Monitor of <device>", see https://bugs.chromium.org/p/chromium/issues/detail?id=1032815.

Right now, *nix us

[2020-05-09 16:37] guest271314 commented on #140
For example, a change to unambiguously support audio capture using `getDisplayMedia()` which is possible at *nix through PulseAudio interface

"If the platform supports system-wide or specific application audio capture for which permissions have been granted to capture the user agent MUST capture audio output from that device when the `{audio: true}` constraint is passed"

[2020-05-09 16:40] guest271314 commented on #140
How could the user agent possibly know that when `getDisplayMedia()` is executed where `{audio: true}` _and_ `MediaStream` has an `addTrack()` method?

[2020-05-09 16:57] guest271314 commented on #140
Consider playing a video at `mpv`, `getDisplayMedia({video: true, audio: true})` executed _after_ the video is already playing, video is output to the application screen and audio is output to headphones if plugged in or speakers. The expected result is for both video (screen) and audio to be captured. The platform, *nix with PulseAudio managing audio devices and output, supports audio capture.

T

[2020-05-09 17:54] guest271314 commented on #135
`navigator.language`?

[2020-05-09 19:50] aboba commented on #140
AFAIK, only system-wide audio capture has been implemented (in Chromium), but audio capture from applications isn't precluded. Since this isn't a widely implemented feature, getting consensus to make it mandatory could be hard. On the other hand, it is used, so getting consensus to remove it is also unlikely.  So it's optional, in the absence of further implementation progress.

[2020-05-09 20:07] guest271314 commented on #140
@aboba

Not by default at *nix.

It is not possible to get system wide audio output at Chromium at *nix without setting `Monitor of <device>` either at PulseAudio sound settings GUI or `~/.asoundrc` (untested).

Firefox _does_ list `Monitor of <device>` at `getUserMedia()`, see https://github.com/web-platform-tests/wpt/issues/23084, linked to at https://github.com/w3c/mediacapture-screen-share-ext

[2020-05-09 20:23] guest271314 commented on #140
At *nix, by default ![Screenshot_2020-05-09_20-16-35](https://user-images.githubusercontent.com/4174848/81484062-3c8b3e80-9232-11ea-8bf0-8ea93b5bf9a7.png), Chromium _only_ provides access to `'Default'` audio device, even if labelled `'audiooutput'` the track will still be from microphone
- not _Monitor of_   device - unless changed at the OS itself by the user - which AFAICT by testing and experi

[2020-05-09 20:35] guest271314 commented on #140
This comment attests to system wide audio capture being possible at *indows OS by default https://github.com/w3c/mediacapture-main/issues/694#issuecomment-625266375. *nix has the technical capability to capture system wide audio output, from PulseAudio/Examples - Arch Wiki https://wiki.archlinux.org/index.php/PulseAudio/Examples#ALSA_monitor_source

however, there is no official algorithm or const

[2020-05-09 21:16] guest271314 commented on #140
@aboba Browsing Chromium issues in the wild for `getDisplayMedia()` and audio see the expected result at this bug https://bugs.chromium.org/p/chromium/issues/detail?id=1074529

[2020-05-11 00:29] guest271314 commented on #138
Perhaps due to unintended consequences, this breaks `.select()` and `.focus()` at Firefox. Can't select  and gain focus on `<input>` or `<texarea>` elements or focus `opener` from an opened `window` programmatically.

[2020-05-11 01:53] guest271314 commented on #138
At Firefox 76 `requestFullScreen()` can be used to _not_ focus on the captured application.

[code]

That is, when an error is not thrown denying fullscreen access because `requestFullScreen()` is not called inside a short-running event handler.

[code]

That occurred only twice out of at least 20 attempts, the first time not on purpose, the second time waiting an extra second before selecting the

[2020-05-16 20:29] jan-ivar commented on #140
The API is not ambiguous: it clearly states that applications may not rely on audio being returned. This means an app cannot force a user to share audio, which was intentional.

The use case we had consensus to include was complementary audio for screen-sharing, at a user's discretion. Audio-only capture was deemed out of scope.

[2020-05-16 21:07] guest271314 commented on #140
@jan-ivar

The goal is not to force a user to capture audio.

The goal for disambiguation is to allow a user to capture audio.

That use case is not possible at Firefox or Chromium without using `getUserMedia()`. At Chromium that use case is not possible at all using only the browser. The user must first record a `MediaStream` and set the device to `Monitor of <device>` during the recording to cha

[2020-05-16 21:25] guest271314 commented on #140
If is not clear how

can possibly be determined?

How can the user agent possibly know if "no audio will be shared for the lifetime of the stream"?

What is the algorithm to determine that initial state and the real-time state of the `MediaStream`?

If the application being captured is, for example, from `mpv`, where the media comprises both video _and_ audio then audio _is_ being shared at the in

[2020-05-16 21:37] guest271314 commented on #140
Solution: Leave it up to the _user_ not the _user agent_ to decide whether or not

which cannot rationally be determined by _any_ algorithm run by any user agent where `addTrack()` is a method of `MediaStream`: the user can add or remove one or more audio tracks to the `MediaStream` from `getDisplayMedia()` any time they choose.

A prototype example is already implemented at *indows:  A simple che

[2020-05-16 23:07] guest271314 commented on #140
The term of art "MAY" is precisely ambiguous, capable of more than one interpretation and application, as evidenced by *indows implementation, in coding parlance, "flaky". Not taking one  side or the other. The codified rules of statutory construction can be used to determine what the words meant when decreed. There are other similar terms of art all too often used when a legislative body ran out

[2020-05-19 14:32] guest271314 commented on #140
@aboba @jan-ivar

Revisited and tested the concepts at https://gist.github.com/guest271314/59406ad47a622d19b26f8a8c1e1bdfd5 several hundred times and have a working example (prototype) of starting and stopping capture of system audio output ("What U Hear") at Linux, tentatively `captureSystemAudio()` and `stopSystemAudioCapture()`. The code is not voluminous, cobbled together from existing questio

[2020-05-22 03:27] guest271314 commented on #140
FWIW https://github.com/guest271314/captureSystemAudio

[2020-05-28 13:38] guest271314 commented on #101
@henbos

Related https://github.com/w3c/mediacapture-screen-share/issues/140

[2020-06-09 21:45] jan-ivar commented on #136
Yes, it turns out this is already covered both by mediacapture-main as mentioned [above](#issuecomment-602323464), and also [this spec](https://w3c.github.io/mediacapture-screen-share/#closed-and-minimized-display-surfaces): _"When a display surface enters an inaccessible state that is permanent (such as the source application terminating), the user agent MUST queue a task that ends the correspond

[2020-06-09 21:45] #136 closed, assigned to nobody

[2020-06-25 14:49] guest271314 opened #141 "Should mute and unmute events of MediaStreamTrack be allowed to fire based on user non-action?"
The specification uses the term "user activation" exactly once

The terms "user action" and "user gesture" are not included in the language of the specification.

Chromium 85 appears to fire `mute` and `unmute` events on `MediaStreamTrack` from `getDisplayMedia()` directly corresponding to user non-action, for example, not moving the cursor on the captured screen, or user action, moving the cursor

[2020-06-25 14:55] henbos commented on #141
Does this happen due to screen saver or lock screen, or does it happen even though the screen is on and unlocked?

[2020-06-25 15:01] guest271314 commented on #141
No screen locks.

A challenging bug to narrow down. Only when used `<video>` and `timeupdate` event was able to gather one possible reason why `MediaRecorder` was producing videos having total `duration` up to 44 seconds less than was intended to be captured.

[2020-06-25 15:03] guest271314 commented on #141
First attached `timeupdate` event and noticed the event was not being fired every 50-250ms, then attached `mute` and `unmute` events and observed both being fired, directly corresponding to moving the cursor on the captured screen.

[2020-06-25 15:18] guest271314 commented on #141
Arrived at this bug after attempting hundreds of times to capture 7:42 of video to merge in a `MediaStream` with previously captured audio as `.opus`, `.wav`, `.webm` file using `mkvmerge` with `--enable-durations` and `ffmpeg` and converting WebM to MP4 on the resulting video trying to get the video to the complete duration of the audio, where the result is the audio is always clipped at the end

[2020-06-26 15:05] guest271314 commented on #141
@henbos Interestingly, cannot reproduce the bug where `mute` and `unmute` events were being fired based on mouse movement. Was either running code at `console` at MDN or at https://plnkr.co running code. Saved the output just for the case of not being able to reproduce the next day

[code]

Chromium froze twice today trying to reproduce the issue. Will re-open this issue if am able to retrace step

[2020-06-27 02:51] guest271314 commented on #141
@henbos Reviewed code that tested and isolated the case where `MediaStreamTrack` `mute` event is fired at Chromium, when "Chromium tab" capture is selected.

Steps To Reproduce:

Open console, run the following code, click on the window, then move the mouse pointer back to the open console.

[code]

Tested at two separate sites, `mute` event of `MediaStreamTrack` is fired at `4171.33499996271` at

[2020-06-27 03:21] guest271314 commented on #141
To capture the steps to reproduce demonstrating effect of non-user action and user action used the same code at Firefox to capture Chromium procedure. The first two videos the result is consistent at different domains. The last video the cursor is moving on the active document, delaying the `mute` event being fired until `10002.794999978505`.

`mute` event should not be fired in any of the
[chromi

[2020-06-27 14:23] guest271314 commented on #141
The issue occurs when capturing "Your Entire Screen", "Application Window" or "Chromium Tab", not just "Chromium Tab". The video track simply abruptly goes mute in 4 seconds at Chromium 85.0.4173.0, where `inactive` event is still defined that event is fired. The `MediaStreamTrack` appears to be tied to some user activation scheme or algorithm, though per the specification should not be. Whether u

[2020-06-27 18:38] guest271314 commented on #141
Removing `MediaRecorder` from the equation, this code

[code]

**does not** fire `mute` event when  "Your Entire" is selected at screen capture UI prompt, `mute` event **does**  fire when "Application Window" or "Chromium Tab" is selected for capture.

[2020-06-30 01:15] guest271314 commented on #141
"internal" Chromium code is at least one of the causes of this bug. Chromium "User Activation" project marked their side of the bug as `WontFix` https://bugs.chromium.org/p/chromium/issues/detail?id=1100053#c3. Therefore Screen Capture specification must put a halt to the bug, given that Chromium User Activation evidently are convinced User Activation works in all cases even when that internal Chr

[2020-08-05 16:21] ikasantsev opened #143 "ensure that a tab selected by the user is what an app really supposed to share"
Apologies if it was already discussed previously.

What would be a recommended way to verify that the visitor did not accidentally or intentionally selected a tab with an inappropriate contents? In a scenario when a website can initiate webRTC screen sharing, it is reasonable if this website would want to limit screen sharing only to its own FQDN.

It would help if a browser display surface could

[2020-08-05 20:06] youennf commented on #143
I could see a web site wanting to make it easier for the user to select the current tab or a same-origin tab.
A hint to the user agent may help.
I am unclear whether the request is (or if there is a use case) to forbid user to select some surfaces.

[2020-08-05 21:04] ikasantsev commented on #143
The request is to give a website more control of what is to be shared. Yes, it would be perfect if the website could instruct user agent to limit the list of available sources, or at least ask user agent to present same-origin tabs as the default source, but this directly contradicts with how getDisplayMedia is currently described.

An example of a use case is a website which wants to be 100% sure

[2020-08-06 08:03] youennf commented on #143
If we were to expose the URL/or a same origin flag of the captured tab, would that be sufficient for the web page to stop the capture after user selection?
Also, what if the captured tab is navigating to a different origin, either definitely or temporarily, say federated login?

[2020-08-06 11:18] ikasantsev commented on #143
Exposing the URL or a reference to a currently shared window/document seems to be sufficient. Or you could expose same origin flag AND a url if the shared tab is on the same origin (or NULL if it belongs to a display surface other than a same origin tab). That seems to be enough.

If the captured tab is navigating to some other URL we would need an event indicating that. That event should then exp

[2020-08-06 13:28] ikasantsev opened #144 "allow getDisplayMedia "granted" permission to persist during the user session"
Please consider allowing "granted" permission to persist until the permission is either revoked by the user, or until the user session in the browser is ended (either because the user closed the browser, or because the user typed in another URL and navigated away from the website which initiated screen sharing).

The use case scenario is to allow screen sharing session to persist during page-to-pa

[2020-08-11 17:48] jimmywarting opened #145 "capture screenshot of DOM"
Hi, i would like a new API for taking screenshots of the DOM, but don't really know where to bring up this proposal...

- [html2canvas](https://github.com/niklasvh/html2canvas) is ok, but not grate.
- `getDisplayMedia` isn't ideal.
  - i don't want them to select another tab/screen/window
  - it requires a prompt.
  - requires manual slicing the image to what i want to take a picture of.
  - probl

[2020-08-12 00:48] martinthomson commented on #145
This *might* be the right place to do a more narrowly targeted version of this, but I suspect that we need a separate proposal.

Firefox has ![image](https://user-images.githubusercontent.com/67641/89962781-1dfd6f00-dc89-11ea-97ce-e79352011dae.png), which I agree is useful.

All that said, if we are exposing this sort of capability to the web, I don't see any way to avoid prompting if there is cro

[2020-08-12 09:40] jimmywarting commented on #145
I also notice that firefox has it 🙂

It would be annoying to have to prompt if all content is under your control or have CORS support or isn't a taintet canvas element
Otherwise i would be okey with what html2canvas is doing (render those part as a white or transparent placeholder)

When i came to think about it... Expanding [createImageBitmap](https://developer.mozilla.org/en-US/docs/Web/API/Wind

[2020-08-29 15:15] guest271314 commented on #145
See

- https://bugs.chromium.org/p/chromium/issues/detail?id=962538
- https://github.com/w3c/mediacapture-screen-share/issues/107
- https://plnkr.co/plunk/UmrSwN

[2020-08-29 15:27] guest271314 commented on #145
Willing to help with this; workarounds; proof-of-concepts; specification language. Note also that Chromium has a bug re "Tab" capture https://bugs.chromium.org/p/chromium/issues/detail?id=1100746, therefore when capturing "Entire Screen" either the navigation and title bars need to be calculated for the ability to not capture those GUI elements, or full screen needs to be used before capturing.

P

[2020-08-29 15:37] guest271314 commented on #143
This is not possible.

An HTML `<video>` element can display content from `file:` protocol and any URL. That same HTML `<video>` element can enter picture in picture mode. Picture in picture window is an "Application" that can be captured with `getDisplayMedia()`. Therefore while the URL where the capture initiates can be protocol://domain.mock the captured surface can be any_protocol://any_domain

[2020-08-29 16:40] guest271314 commented on #143
One option at Chromium is for the user to capture "Tab". Taking the procedure a step further `unmute` and `mute` events can be attached to the `MediaStreamTrack` from "Tab" capture (https://github.com/w3c/mediacapture-screen-share/issues/141) where when no user action occurs `mute` event is fired which can be posted to server, to ensure the cursor on the stream is actually the cursor coordinates p

[2020-08-29 16:49] guest271314 commented on #143
What be more difficult to mock is beginning "Tab" capture at a specific time and using `MediaRecorder.start(timeSlice)` to post `File` objects to server where the `lastModified` property can be parsed at the server and the total number of `File` objects expected and received at server can be calculated, evaluated to coincide with the actual capture.

[2020-09-05 16:42] JulianKlug commented on #105
What is the status on this issue?
Restricting access to only a certain part of the screen would be greatly beneficial to the user for privacy reasons.

[2020-09-05 16:53] guest271314 commented on #105
@MonsieurWave The issue was closed at https://github.com/w3c/mediacapture-screen-share/issues/105#issuecomment-521667012. No current movement.

[2020-09-05 17:00] guest271314 commented on #105
@MonsieurWave One workaround is to use `ImageCapture.grabFrame()` and `canvas.captureStream()` to capture individual images from `MediaStreamTrack`, perform processing on the image then set the images at the `<canvas>`, essentially requiring two `MediaStream`s and two `MediaStreamTrack`s, see https://bugs.chromium.org/p/chromium/issues/attachmentText?aid=397381.

[2020-09-05 17:59] JulianKlug commented on #105
But this only works on a ScreenCapture within the browser, does it?

[2020-09-05 18:33] guest271314 commented on #105
Can you clarify "within the browser"?

At Chromium it should be possible to select a "Tab" (`unmute` event of `MediaStreamTrack` fires under certain conditions https://bugs.chromium.org/p/chromium/issues/detail?id=1099280); "Application", inclucing Picture-In-Picture window; "Entire screen".

Images from the `MediaStreamTrack` as `ImageBitmap` can be captured using `ImageCapture.grabFrame()`. Proc

[2020-09-05 21:16] guest271314 commented on #105
@MonsieurWave

For example, this code scales the entire screen to the dimensions passed as constraints, neither `resizeMode` nor `applyConstraints()` have any effect on the surface captured

[code]
[8b295485-3452-4d90-a3a3-ef38e8e5b0a3.webm.zip](https://github.com/w3c/mediacapture-screen-share/files/5178647/8b295485-3452-4d90-a3a3-ef38e8e5b0a3.webm.zip)

One approach to capture only the previews o

[2020-09-05 21:58] guest271314 commented on #105
@MonsieurWave Entering fullscreen can reduce the captured screen to only `document.body`, without browser tabs being captured. Depending on CSS rules it might be necessary to perform further tasks to get the required part of the screen. The workaround does not provide a means to capture a specific part of the screen, and only that part of the screen, initially.

[2020-09-05 22:14] guest271314 commented on #145
Workaround to capture "Entire Screen" at Chromium by entering fullscreen using `ImageCapture.grabFrab()` and `ImageBitmapRenderingContext`

[code]

[2020-09-07 06:21] youennf commented on #105
The spec allows a user agent to implement capture of a part of a screen.
Do you have use cases where capturing a part of a screen would be best compared to say sharing a tab or a window?

[2020-09-07 07:23] JulianKlug commented on #105
My specific use case is for recording data (ie taking a screen shot) of data/image displayed by another application. Taking the whole window of the application would reveal compromising meta-data also displayed by the application, which the user would not like to show.

[2020-09-07 08:07] youennf commented on #105
getDisplayMedia seems overkill for this use-case.
This might be best served as an extension to HTML Media Capture, a file picker that would allow taking a screenshot instead of an image file or a camera.

[2020-09-07 09:21] JulianKlug commented on #105
However, the user would thus need to use an external application to take the screenshot, thus requiring a lot more user input.

[2020-09-07 09:29] youennf commented on #105
If you try `<input type="file" accept="image/*" capture>` on Safari iOS, user will be directed to the camera app to take a picture. Once done, the page has access to the picture.
`<input type="file" accept="image/*">` shows a menu where user can decide to open the camera app, use an existing image...

A similar flow could be implemented for screenshots.

[2020-09-07 15:28] guest271314 commented on #105
@youennf

Provide a means to select only part of a screen to capture is a self-evident use case: The user only wants to capture certain portions of the tab, window, monitor surface.

Is your question essentially why a user would want to capture only parts of a display surface, instead of use `getDisplayMedia()` exclusively for video confenferencing where the entire screen is captured?

Desktop bro

[2020-09-07 15:42] guest271314 commented on #105
@youennf This issue was filed initially due to, at the time, Chromium browser crashing when attempting to render variable width and height (pixel dimensions) video at `HTMLMediaElement` when using `captureStream()` with `MediaRecorder`, in pertinent part see https://github.com/guest271314/MediaFragmentRecorder/tree/chromium_crashes, https://bugs.chromium.org/p/chromium/issues/detail?id=992235#c29.

[2020-09-25 08:18] danjenkins commented on #105
@youennf I think I have one such use case completely away from the initial topic of screenshots. My (and others) default behaviour when sharing an entire screen used to be to share a screen with nothing on it - take the scenario of a laptop and an external monitor; I used to use the laptop screen as a "blank canvas" I could put content on - applications of all nature. When you're sharing content i

[2020-09-25 14:21] guest271314 commented on #105
@danjenkins

The initial use case was actually to capture variable width and height video displayed on a screen using `getDisplayMedia()` to avoid the now-fixed Chromium bug where the browser would crash when processing variable pixel dimension video.

Screenshot use cases and issues were mentioned as also applicable after that initial use case, which at the time was not simple to explain what was

[2020-09-25 14:49] guest271314 commented on #105
@danjenkins tl;dr https://github.com/guest271314/MediaFragmentRecorder/tree/chromium_crashes, https://bugs.chromium.org/p/chromium/issues/detail?id=992235 and links included therein for the origin of this issue. See also https://bugs.chromium.org/p/chromium/issues/detail?id=1100746 for "Tab" and "Application" capture issue. See https://github.com/w3c/picture-in-picture/issues/163 for Picture-In-Pi

[2020-09-25 15:44] guest271314 commented on #105
@danjenkins

One approach is to utilize `document.body` or `HTMLVideoElement` `requestFullscreen()` https://github.com/guest271314/MediaFragmentRecorder/blob/getdisplaymedia-webaudio/MediaFragmentRecorder.html#L30 to exclude portions of the screen not intended to be shared.

[2020-09-25 16:57] guest271314 commented on #105
@danjenkins Another issue is that even though https://github.com/w3c/mediacapture-screen-share/pull/114 fixed https://github.com/w3c/mediacapture-screen-share/issues/108 in the specification, Chromium still captures UI, which means that given an HTML element that is effective a green square, simulating the window on your 4k monitor, the first frame can still include the UI - which is not expected

[2020-09-25 17:03] danjenkins commented on #105
Ultimately this shouldn't be a userland addition. This should be a browser feature. Lets say I only want to share the top half of my vertical monitor. I have something private and confidential on the bottom half that I haven't moved off it - there's no way I'm giving say Google Meet access to my entire screen, would I trust that application to not be sending that data somewhere? What you're descri

[2020-09-25 17:04] guest271314 commented on #105
@danjenkins If `requestFullscreen()` is not called the height of navigation, title, bookmarks bar must be included in the calculation to acquire the correct coordinates of the element intended to be captured.

[2020-09-25 17:13] guest271314 commented on #105
@danjenkins

Do you really trust browser implementations to that degree? I do not. It took 2 years just to convey the reality that Chromium was consistently crashing when variable pixel dimension frames were decoded.

Re the arbitrary restriction on Picture-In-Picture window implemented by Chromium, see this response https://github.com/w3c/picture-in-picture/pull/186#issuecomment-646155752

Proces

[2020-09-25 17:22] guest271314 commented on #105
@danjenkins As an example of what _could_ be fixed by simply specifying capture of monitor devices MUST be the same as capturing only microphone devices, created an entire repository with multiple solutions, where that same subject matter is applicable to this specification https://github.com/w3c/mediacapture-screen-share/issues/140, where audio capture is described in an ambiguous manner https://

[2020-09-29 09:51] danjenkins commented on #105
@guest271314 We need the browser to be able to do it so that _all_ webrtc applications, no matter whether the developer wants to, can offer this.

How can we get this re-opened?

[2020-09-29 11:44] dontcallmedom commented on #105
@danjenkins if by "it" you mean the browser should allow to capture a subset of a given screen, I believe nothing in the spec prevents it, and it's not clear that there is anything the spec can say to require it since ultimately the user-selection mechanism of what gets shared is left to browsers.

Has any filed bugs with browsers to get this new display selection option implemented? Until it is c

[2020-09-29 12:58] danjenkins commented on #105
@dontcallmedom thanks for this - yes I meant the browser - I still wasn't 100% on whether the spec allowed for this or not. Thanks for the clarification! I don't know of any bugs filed yet but I must admit I'm not the best at searching crbug and co. I'll go make a crbug and mozilla bug entry and go from there I guess :) thanks!

[2020-09-29 14:50] guest271314 commented on #105
@danjenkins Do not recollect filing Chromium and Mozilla bugs for this. For Mozilla bug would suggest incorporating the already existing screenshot code https://github.com/w3c/mediacapture-screen-share/issues/105#issuecomment-521681433 into the feature request. That is, similar to the overlay Chromium uses for `getDisplayMedia()`, the user is able to initially select a rectangle on the screen that

[2020-09-29 14:58] guest271314 commented on #105
@danjenkins

https://github.com/w3c/mediacapture-screen-share/issues/105#issuecomment-522012790

[2020-10-01 12:08] jimmywarting commented on #145
Just remembered that one way to copy an element to some bitmap is with drag and drop api

from MDN:

[code]
however it don't seem like there is a way to read that image somehow? missing some vital `getDragImage()` method?
also it's somewhat transparent...
all doe it could be a grate hack/workaround for some even doe it might not give you the kind of image you would expect to get. (it might just be

[2020-10-01 13:21] guest271314 commented on #145
In the middle of toggling between OS's right now, Nightly and Chromium are not installed yet. You can access `clipboard` with `navigator.clipboard.read()` then get item by type.

[2020-10-01 13:29] guest271314 commented on #145
When checked a few days ago Night still required to toggle permissions at about:config to expose experimental clipboard features and Chromium and Night do not implement clipboard items the same. There is an option to copy images to the clipboard. You can also access clipboard with `getData(<type>)`, see https://stackoverflow.com/a/45071478.

[2020-10-01 13:59] guest271314 commented on #145
Note, `navigator.clipboard.read()` at Chromium requires both `document` to be focused and prompts for permission to read clipboard, thus prompts cannot be avoided (have not found a flag to disable that; Chromium has an entire project just dealing with permissions; e.g.; Native File Filesystem, etc.). `getDisplayMedia()` prompt is not intrusive, and we probably want to make sure the process is tran

[2020-10-01 14:07] guest271314 commented on #145
We can probably alternatively do this by creating a dedicated Native Messaging application that launches either Firefox or Chromium in headless mode to take a screenshot which we can then retrieve from local filesystem using `<input type="file">` or Native File System at Chromium.

[2020-10-01 14:07] jimmywarting commented on #145
@guest271314 i don't see how that can help me to convert html to an image.
There isn't any way to copy a DOM element into the clipboard as an image and then read it as image? (even with permission set aside)

`setDragImage` don't copy anything into the clipboard

[2020-10-01 14:12] guest271314 commented on #145
Have to scurry off to a gig right now. Will need to go through answers on SO and logs of previous experiments. Would just use `getDisplayMedia()`, or, as suggested, use Native Messaging to launch the preferred browser in headless mode and take the screenshot. Native Messaging does have a curve to get used to, though once you get the patterns required you can essentially do whatever you want that i

[2020-10-04 00:09] guest271314 commented on #145
Experiments using headless mode

`$  chrome-linux/chrome-wrapper --user-data-dir=/home/ubuntu-studio/screenshots --headless --disable-gpu --hide-scrollbars --screenshot https://developer.mozilla.org/`

![screenshot](https://user-images.githubusercontent.com/4174848/95003981-dafab080-05d4-11eb-87b0-beae02b0b315.png)

`$ firefox/firefox -P "screenshots" --screenshot https://developer.mozilla.org/en-

[2020-10-04 00:13] guest271314 commented on #145
Actually, reviewing the image from Nightly was capture using screenshot teool at Developer Tools before trying headless, therefore Firefox still consistently hands. Note also the Firefox has an issue of infrequently freezing the entire OS when `getDisplayMedia()` is called https://bugzilla.mozilla.org/show_bug.cgi?id=1558475, thus we really do not have a Web compatible way to achieve the requireme

[2020-10-04 00:14] jimmywarting commented on #145
Nice but that won't work in the browser. Can't just ask user to open terminal and  execute a headless screenshot  command 🤪

[2020-10-04 00:45] guest271314 commented on #145
Well, yes, you can. Have you taken the time to read and try the native Messaging with Native File System code that referred to above? This installs `espeak-ng` and `opus-tools` and runs the code from any origin https://github.com/guest271314/native-messaging-espeak-ng. This code merges WebM and Matroska tracks and files into a single Matroska or WebM file. This code captures system audio at any or

[2020-10-04 00:53] guest271314 commented on #145
@jimmywarting FWIW I did not stop work on https://github.com/WICG/file-system-access/issues/97 because the issue was marked `wontfix`. I created multiple proof-of-concepts to prove that extension would not break the web, and in the meantime implemented basic file and sirectory events https://gist.github.com/guest271314/59406ad47a622d19b26f8a8c1e1bdfd5, https://github.com/guest271314/requestNativeS

[2020-10-04 01:06] guest271314 commented on #145
Some relevant SO links https://stackoverflow.com/questions/41388434/drag-and-drop-images-and-not-links-between-windows-html5/41388593#41388593, and https://stackoverflow.com/questions/36072936/is-it-possible-to-display-an-html-document-or-html-fragment-at-css-content where we could technically copy `document.body.outerHTML`, iterate and get styles and set those at the HTML, create and SVG and use

[2020-10-04 14:14] guest271314 commented on #145
For an unknown reason Firefox installed as a .deb package and executed from `/usr/bin` does not hang though Nightly run from home directory does.

To set get the entire `document.body` at Chromium set width and height as flags, include `--password-store=basic` to avoid prompt for *oogle API keys.

`$ chrome-linux/chrome-wrapper --headless --disable-gpu --hide-scrollbars --password-store=basic --wi

[2020-10-04 14:17] guest271314 commented on #145
If you notice `document.body.clientHeight` still does not relay the correct total height of the document.

[2020-10-05 02:19] guest271314 commented on #145
Interestingly Chromium 87 outputs the incorrect value for `document.body.clientHeight`, resulting in an image 39 pixels less in height than at Firefo when running CTRL+SHIFT+P then  "Capture full size screenshot" command. To reproduce navigate to https://developer.mozilla.org/en-US/ log `document.body.clientHeight` at `console` before running the above screenshot command then observe the pixel dim

[2020-10-05 13:28] guest271314 commented on #145
Firefox implementation of screenshot from Devloper Tools https://searchfox.org/mozilla-central/source/devtools/shared/screenshot/capture.js

[2020-10-07 14:59] henbos opened #149 "Add an API to share the current tab"
Today, getDisplayMedia() lets the user pick what to share, but there are use cases where the application wants to share itself (the current tab) in which case a "pick whatever you want" prompt could result in sharing more information than is required, which is not necessarily good for security or privacy.

For example: sharing presentation slides integrated into the web app that does presentation

[2020-10-08 13:00] eladalon1983 commented on #149
Thanks for creating this. Mind assigning it to me?

[2020-10-08 14:32] jan-ivar commented on #135
Closing based on similar decision in https://github.com/w3c/mediacapture-main/issues/665#issuecomment-596506363

[2020-10-08 14:32] #135 closed, assigned to nobody

[2020-10-08 14:45] henbos commented on #138
Let's specify a default value and add a constraint.

[2020-10-08 14:48] henbos commented on #138
Actually there is still some disagreement about whether or not we need a constraint versus always consistently doing the same thing, so more discussion needed, but we all agree we should specify the default

[2020-10-08 14:49] henbos commented on #138
Defaulting to what is done by both implementations today makes sense. Safari does not support window capture yet, and can follow.

[2020-10-08 14:49] jan-ivar commented on #140
Closing based on https://github.com/w3c/mediacapture-screen-share/issues/140#issuecomment-629701882

[2020-10-08 14:49] #140 closed, assigned to nobody

[2020-10-08 14:57] henbos commented on #141
We could list examples where the user agent might want to mute or unmute without user interaction to clarify. For example a call is being received on a mobile device, screensaver is starting, etc.

[2020-10-08 14:58] jan-ivar commented on #141
I propose we add clarifying language similar to [mediacapture-main](https://w3c.github.io/mediacapture-main/getusermedia.html#life-cycle-and-media-flow).

[2020-10-08 15:00] henbos commented on #141
However the proposal "should not be fired based on user non-action" is not accepted by the working group.

[2020-10-08 15:01] henbos commented on #141
Changed the title to reflect the discussion rather than the conclusion

[2020-10-08 19:45] jan-ivar commented on #149
See my comments in https://lists.w3.org/Archives/Public/public-webrtc/2020Oct/0047.html

[2020-10-09 01:13] guest271314 commented on #140
@jan-ivar Can you provide your precise rationale for closing? File issues at implementers?

[2020-10-09 01:19] guest271314 commented on #141
@henbos

Do not file issues here for the purpose of being accepted.

Reject your conclusion that user-action should be massaged into the specification based on Chromium bug.

The issue is filed to precisely reach that conclusion. Chromium has implemented said conditions for "Tab" capture and "Application" capture which caused numerous downstream issues. Thus, changes have recently been made to at

[2020-10-09 01:27] guest271314 commented on #149
This is already implemented at Chromium. "Application" is also implemented at Chromium. Whatever you do here do not specify `mute` and `unmute` events of `MediaStreamTrack` be fired based on user non-action, to conceal a Chromium bug that will affect downstream API's resulting in unintended consequences.

[2020-10-09 07:15] guest271314 commented on #141
Consider the concrete use case of capturing a primary source document, in this case an historic document [Denying Free Blacks the Right to Vote (1724, 1735)](https://www.encyclopediavirginia.org/Denying_Free_Blacks_the_Right_to_Vote_1724_1735), and adding an audio track that reads the document, to reproduce the primary resource, without addition or subtraction. Use technologies shipped with the br

[2020-10-09 09:09] henbos commented on #141
I wouldn't expect tracks to be muted and unmuted sporadically for no apparent reason, but I would expect there to be legitimate use cases where a track gets muted without user interaction, such as if the screen gets locked due to inactivity.

[2020-10-09 13:21] guest271314 commented on #141
@henbos The screen lock theory fails when then user specifically configures the OS to not suspend or lock the screen due to inactivity; see https://github.com/w3c/mediacapture-main/issues/670#issuecomment-604785660, https://github.com/w3c/mediacapture-main/issues/668#issuecomment-623018135. Even if the theory of default settings of a machine suspending or locking the screen without user activity w

[2020-10-09 13:40] guest271314 commented on #141
@henbos

The concrete use case described is for a very brief screen capture of a screen displaying a primary resource, four (4) total pages of primary resource material.

Consider creating a video of [_Dred Scott v. Sandford_, 60 U.S. (19 How.) 393 (1857)](https://www.oyez.org/cases/1850-1900/60us393), which is well over 100 pages. I do not need to concern myself with `mute` and `unmute` events (o

[2020-10-09 13:54] henbos commented on #141
Is Chrome muting the track due to inactivity even though there is no screen saver, lock screen or screen turning off, etc?
Or what exactly is the issue? I haven't had time to follow all your links

[2020-10-09 14:00] guest271314 commented on #141
Chromium is muting the track when there is no activity on the rendering thread. The way I see it, I had to move the mouse in order for the track to not mute. Since cursor never constraint does not work have to set cursor to none at the video. The muting occurred at 1 second. That is not specified, obviously. Of course that means that `MediaRecorder` can miss frames, or stop recording altogether. I

[2020-10-09 14:02] guest271314 commented on #141
The muting occurs only at "Tab" and "Application" capture, not "Entire screen" capture. Tab and application capture should behave the same as entire screen capture or `getUserMedia()`, capture at 30 or 60 FPS until instructed to do otherwise.

[2020-10-09 14:03] henbos commented on #141
Muting within a second definitely sounds like an implementation bug.

Does it work as long as you move the mouse and gets muted as soon as you stop moving the mouse, or is this an issue about it always muting when you try to record it?

[2020-10-09 14:10] guest271314 commented on #141
Readin

Yes, mutes in 1 second by itself when no mouse move (or as pointed out, without activity on the browser rendering thread), which amounts to observing user action, or some superfluous animation just to not mute the track.

While I may be verbose that is necessary to place all of the evidence on the record. Reading the entire document is required in primary research.

The point is if you mis

[2020-10-09 14:12] guest271314 commented on #141
Have to head off to a gig. Will post results of experiments after the change later today or tomorrow.

[2020-10-09 14:16] henbos commented on #141
I don't need to read 100 pages of Dred Scott v. Sandford, 60 U.S. (19 How.) 393 (1857) to figure out that muting a track within a second is a bug. I think Chromium implementers can follow up on fixing this issue based on their priorities. That is not a spec issue.

Here on the spec side of things, it is enough to add a clarifying section similar to https://w3c.github.io/mediacapture-main/getuserme

[2020-10-09 14:17] henbos commented on #141
This is editorial and ready for PR

[2020-10-11 18:42] happylinks commented on #138
Also running into this problem for tella.tv. Ideally we could disable giving initial focus but potentially give focus later? That way you can finish configuring your setup first, click Record in the app and then we’d call mediaStream.focus() or something to take the user to the window they shared.
The current behavior is confusing our users a lot; they think they’re already recording when they’re

[2020-10-20 00:28] jan-ivar commented on #90
OBE. Would no longer be web compatible.

[2020-10-20 00:28] #90 closed, assigned to jan-ivar

[2020-10-22 13:37] jan-ivar commented on #145
@jimmywarting Even [same-origin-plus-COEP](https://html.spec.whatwg.org/multipage/origin.html#coop-same-origin-plus-coep) has an opt-in mechanism. We'd need something stronger since rendering a cross-origin document is different from reading it. E.g. something like this`Cross-Origin-Embedder-Policy: disallow`.

And even then it would need permission, since rendering contains private information, s

[2020-10-31 12:57] gaer87 opened #150 "Add an API to share the specific tab"
This issue relate to #149, but there is about picking of a **current tab**. It is a good suggestion, but if an user reload a current tab, capture screen will stop and we will lose all data. To avoid it I suggest to add API, which recive the **specific tab** to capture screen.

[2020-11-18 09:59] hectorcastro-teamviewer opened #151 "Customize selection of display surface"
Dear all,

My question is regarding: https://www.w3.org/TR/screen-capture/#authorizing-display-capture
In point 8.2 is explicitly mentioned that: "These are non-normative recommandations only."
In Point 8.2.1 "...the getDisplayMedia API does not permit the use of constraints to narrow the set of options presented".

I agree with the security concerns, but:  **Is there any way to customize, control

[2020-11-27 15:29] #59 closed, assigned to jan-ivar

[2020-12-05 23:31] bradisbell commented on #140
@jan-ivar I just saw this comment you made a few months back:

Can you elaborate on why that was the case, and whether or not audio capture of other applications is still out-of-scope?

[2020-12-15 01:05] jan-ivar opened #155 "Let pages opt-in to capture."
Compared to native, capturing a web page has been plagued by [security concerns](https://blog.mozilla.org/webrtc/share-browser-windows-entire-screen-sites-trust/) since this spec's inception. Can we imagine a web that's safer to screen-capture, similar to a [web where `SharedArrayBuffer` is safer to use](https://web.dev/why-coop-coep/#coep)?

What if we came across a page that met these conditions

[2020-12-15 01:06] jan-ivar commented on #155
@eladalon1983 @youennf

[2020-12-16 09:57] eladalon1983 opened #156 "Capture-current-tab: Managing capture-ability by cross-origin embedder as opt-in vs. opt-out"
An API for capturing the current tab, to be named getCurrentBrowsingContextMedia (or getTabMedia, or something similar), is [under discussion](https://github.com/w3c/mediacapture-screen-share/pull/148). Concerns have been expressed over how this could be used to circumvent the origin-isolation model, as well as harvest user data. Both @jan-ivar and I have made suggestions for ways to address the f

[2020-12-16 18:52] jan-ivar commented on #156
(At the risk of paraphrasing the minutes which aren't up yet) the WG at [last interim](https://www.w3.org/2011/04/webrtc/wiki/December_14_2020) seemed to disfavor opt-out over security concerns with site-driven capture, wishing instead to explore forms of opt-in, e.g. by blanking out non-consenting iframes.

Conversely, it would be prohibitively difficult for the rest of the web to opt-out of this

[2020-12-16 20:06] youennf commented on #156
As @jan-ivar mentioned, the interim meeting mentioned the possibility to either capture parts of the page, or to capture the whole page but with parts of the page being sanitized. It would be good if use cases were precise enough to understand whether these possibilities are worth investigating.

It was also noted that getDisplayMedia is the backup plan in case the new API is not powerful enough.

[2020-12-19 21:12] xxluke opened #157 "Capture cursor when visible to user"
Currently the only settings for cursors in CursorCaptureConstraint are "always", "never" and "motion".

I'd expect a setting where the cursor is captured when it's visible to the user and not captured when it's not, which should also be the default setting.

For example video games hide the cursor when the mouse is used to control the camera, but show it when you're in the menu. Currently it's eit

[2020-12-29 09:58] amiregelz commented on #138
Running into this issue as well. Working on a web app that allows multiple screen shares and want users to be able to select several screens without the focus & context changing every time they choose a screen.
It would be really cool to be able to choose whether to enable/disable this initial auto focus in the getDisplayMedia API.
It can be even cooler if we could have an option to potentially gi

[2020-12-29 23:46] amiregelz commented on #128
Is there any update on this? this feature could be super useful for multi-screen sharing

[2021-01-19 18:36] jan-ivar commented on #156
@eladalon1983 Since we ran out of time in the meeting I'm adding some feedback here. I'm going to ignore that we disagree on the security properties of the proposed API for a moment, to see if we can make progress on cropping orthogonally to it:

If I understand correctly, a top-level page from site A is capturing its tab and wants to crop the output to only include a sub-region _inside_ a sub-ifr

[2021-01-19 21:31] eladalon1983 opened #158 "Add ability to crop a MediaStream obtained through the share-this-tab API"
Assume a MediaStream is obtained through the [share-this-tab API](https://github.com/w3c/mediacapture-screen-share/pull/148) (which is still under discussion). The application in question might wish to crop the video before sharing it remote; for example remove a portion of the viewport where it displays private information. One possible use case is an application like Google Slides streaming itse

[2021-01-19 21:37] eladalon1983 commented on #156
Thank you for the lightning-fast follow-up, @jan-ivar. I have opened [another thread](https://github.com/w3c/mediacapture-screen-share/issues/158) to discuss this topic. I'd like to continue the cropping discussion there, and keep the current thread focused on opt-in vs. opt-out - a topic I still hope to revive after syncing with some internal stakeholders. 😃 I'll quote your message and respond to

[2021-01-19 22:13] eladalon1983 commented on #158
Quoting @jan-ivar from a [related thread](https://github.com/w3c/mediacapture-screen-share/issues/156) and responding inline:

Agreed - this is orthogonal. I will not misconstrue this discussion as implicit agreement over share-this-tab.

Sorry, that's not the setup here. Instead of sites A/B I'll use sites L/R for left/right to make it easier to follow. The setup discussed has site L as its top-l

[2021-01-19 22:36] jan-ivar commented on #158
Why not have site L do the capture? Then there's no need to define this new crop-ID concept.

[2021-01-20 19:34] eladalon1983 commented on #158
Capturing is just the beginning of a frame's journey to remote users. Transmitting a video to a conference may involve a **significant** amount of application logic - especially with some upcoming/under-discussion features such as Breakout Box, Web Codecs, Insertable Streams, Lego Laser, etc. I don't think large applications like Slides/Docs, that normally do not handle any video-conferencing, sho

[2021-01-21 21:26] zenhack commented on #158
Alternative suggestion:

1. Make the media streams themselves [Transferable][1]
2. Provide an API to get a media stream from a DOM node

Then, rather than creating a full-tab stream and then cropping, then having to pass an ID, the application would just create a MediaStream for the DOM node in question, and pass it to the other application via postMessage() directly. This seems both simpler and m

[2021-01-21 22:03] eladalon1983 commented on #158
@zenhack, this would be a very elegant solution if it is indeed possible to make media streams [Transferable](https://developer.mozilla.org/en-US/docs/Web/API/Transferable). But is that really the case? For example, how would you transfer a MediaStream [originating from a canvas](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/captureStream) to a cross-origin iframe? What would

[2021-01-21 23:27] zenhack commented on #158
To make sure I understand your concern correctly: the issue is that `CanvasCaptureMediaStreamTrack` provides access to the underlying canvas object, and thus much of the other frame's DOM?

I agree it's probably best not to include that. Perhaps we want to limit this to functionality provided by the `MediaStreamTrack` interface (not subclasses in general). Spitballing: maybe we could add a new typ

[2021-01-22 04:03] martinthomson commented on #158
@eladalon1983 though we haven't done the engineering in Gecko to enable transfer, at least we have the necessary markings.  If the stream that originates in a canvas is origin-clean, it would be marked as readable to the origin of the page.  If that page decides to transfer the content, we could allow the principal to be changed to that of the destination.  However, if the canvas becomes tainted,

[2021-01-22 12:25] eladalon1983 commented on #158
Making MediaStream transferable sounds like it could work well for mic/camera access (your use case is interesting, @zenhack). But I don't think it would work well in general. Take performance for example. Transferring 4k frames over IPCs would not be nice. Making MediaStreams transferrable is a much bigger scope project than what I'm suggesting. There are plenty of other implementation concerns w

[2021-01-22 12:45] youennf commented on #158
I filed https://github.com/w3c/mediacapture-extensions/issues/16 so that we do not hijack this thread.

Could you write them down in the above issue?

I think this is already happening for camera and screen capture in today browsers.
Also, compositing might happen out of process and the process doing the compositing is probably a good place to do tab capture.

In your specific usecase, the iframes

[2021-01-22 12:56] alvestrand commented on #158
The work on Insertable Streams and Breakout Box has brought the issues of transferring buffers between processes very much to the forefront.
The critical part is where things are exposed to Javascript - if we expose them to the user, they have to be in that user's process. As long as they don't need to be exposed, we can shuffle them around via references, which will often allow us to keep the "re

[2021-01-22 14:52] eladalon1983 commented on #158
Thanks!

Gladly.

Yes, but adding yet more IPCs come at an added cost.

I agree that transferability can be simpler in some special cases, like mic/camera and possibly tab-capture. But AFAICT, not so in the general case. Are you suggesting to only allow transfer of MediaStreams between iframes that are same-site?

I completely agree that ergonomics in my particular use case would be superior with

[2021-01-22 15:10] youennf commented on #158
I would tend to give it a try. Prototyping it in Chromium over media capture insertable streams and transferable streams should give some insights.

If we specify it, we want to make it work for all cases the specification will support.
Some implementations might optimise the code path for only a reasonable subset.

[2021-01-22 17:05] eladalon1983 commented on #158
Sorry, I might have given the wrong impression with my emphatic assent. I agree that ergonomics for the application **would** be superior if this were developed, but I don't think that it is an easy thing to develop. I think Chrome is quite far from being able to support this.

[2021-01-22 17:19] youennf commented on #158
I haven't followed how much of media capture insertable streams is prototyped in Chrome.
If some Chrome version has support for MediaStreamTrackProcessor and MediaStreamTrackGenerator, what I thought could be tried is the following:
- In the iframe, call getDisplayMedia to get a track
- Use TrackProcessor to get the readableStream of video frames for that track
- Use postMessage to send the readab

[2021-01-23 01:55] martinthomson commented on #158
To an earlier point regarding performance, if we were going to transfer media streams, it would be done in the same way we transfer between processes for rendering: shared memory.  The same applies to inline processing cases.  Of course, this only makes the engineering cost more, not less.

[2021-01-23 19:36] zenhack commented on #158
Getting a track that maps to the actual pixels on the screen within the bounds of a node fits more with what I had in mind anyway.

I think being able to make a track based on a cropping and then transfer it would still probably be more ergonomic than having to make a crop_id and then transfer it, then have the other frame have to redeem the id for an actual object -- it's not clear to me what the

[2021-01-25 14:34] guidou commented on #158
If one were to transfer a MediaStreamTrack to an iframe with a different origin, wouldn't that make the transferred track a track with cross-origin content (from the perspective of the iframe)?
If that's the case, what should be done with such a track? mediacapture-main does not mention this possibility because it focuses on webcam and mic which can't be considered cross origin, but mediacapture-f

[2021-01-27 18:23] jan-ivar commented on #158
@youennf  Thanks, I've commented on transferring MediaStreamTrack there.

Why, are you planning to blur the desktop? Or add overlays? Serious question, because, if you are, such app logic may belong more naturally in the top-level page, which actually owns, knows and controls what's being captured, than the sub-iframe.

Complexity arguments are double-edged swords: A complexity sufficient to scare

[2021-01-28 22:24] eladalon1983 commented on #158
I foresee that video-conferencing applications will be using sophisticated upcoming WebRTC features, and some of these do not require any knowledge of the application or the video-content being captured from it. One example is the intention to allow applications to inject certain WebRTC modules. Another example is Web Codecs.

I argue that WebRTC is evolving to the point where power users - like a

[2021-03-17 22:53] eladalon1983 commented on #155
Chrome Security shared the view that a confirmation-only flow would require security measures roughly in line with what you suggest. I'd love to resume this conversation and try to agree on the details.

The way I see it, we have two new requirements - (1) site-isolation and (2) a new header. We think the new header should apply to documents. Site-isolation will allow sub-resources to opt into bei

[2021-03-24 00:00] jan-ivar commented on #155
@elad Great to hear! — To clarify, By _"site-isolation"_ do you mean COOP+COEP or just COEP? — I don't think COOP matters here, except making it simpler to talk about perhaps (mapping 1-1 with [window.crossOriginIsolated](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/crossOriginIsolated)).

I shudder using Spectre as a reason, but probably true. 👻

I think I'm ok with

[2021-03-24 00:05] jan-ivar commented on #155
I don't th

[2021-03-24 00:05] jan-ivar commented on #155
For example, in Google Slides, editing slide decks, reading decks written by others, commenting on decks, etc., are much more common use cases than sharing using gCBCM. It would be preferrable to keep these flows intact 100% of the time, at the cost of (rarely) breaking off a gCBCM-initiated capture.

[2021-03-24 01:07] jan-ivar commented on #155
Common maybe, but != important. Having just spent days prepping a presentation, I can confidently say the time most important to me to _not_ break would be during the final presentation in front of an online audience. 🙂 I think I'd much prefer it break during preview, when there is still time to fix things.

At the risk of sounding presumptuous, if this feature works out, it might quickly become t

[2021-03-24 14:47] annevk commented on #155
OP talks about site isolation, but do you mean cross-origin isolation, i.e., requiring COOP+COEP? It would help to see something more flushed out.

Once you have COOP+COEP the main risk that remains (as Nika mentioned) is controls and such that might capture user state. Or `:visited` for instance.

[2021-03-25 18:49] jan-ivar commented on #155
From meeting ([slide](https://docs.google.com/presentation/d/1nHu2gsxdaral0CurOVV-0GscPAH9tNTeQ0TbEP32abs/edit?ts=605bffff#slide=id.gc981f13c89_0_0)):
- Assume the stricter COOP+COEP for now, to move forward. Can always be relaxed later.
- No objection to resources being on their own
- No objection to name *getViewportMedia*
- Continue discussion on blocking loading vs killing capture.

[2021-03-25 19:13] youennf commented on #155
We did not really talk about that.
It is unclear whether this API should expose the whole tab or just the context (and children) in which this API is called.
If we go down that road, I wonder whether we might not want to go to the granularity of any element: clipping will be computed based on element plus viewport.

[2021-03-25 19:27] jan-ivar commented on #155
So `element.getViewportMedia()`? The name still seems to hold even if we do that. See also https://github.com/w3c/mediacapture-screen-share/pull/148#issuecomment-805850587.

[2021-03-25 19:39] youennf commented on #155
We have HTMLMediaElement.captureStream.
I guess we could have captureViewPort.

[2021-03-26 16:45] jan-ivar commented on #149
This is now being tracked in https://github.com/w3c/mediacapture-screen-share/issues/155.

[2021-03-26 16:45] #149 closed, assigned to eladalon1983

[2021-03-26 17:45] jan-ivar commented on #150
@gaer87 Can you elaborate on the use case? I see two ways to interpret "specific" vs "current", so I'll try addressing both.

1. If the ask is to reliably capture a [browsing context](https://html.spec.whatwg.org/#browsing-context), this risks sharing documents beyond what may be obvious to users. Users can share their browser window for this today (even dragging a tab to make it into a new one),

[2021-03-26 18:57] jan-ivar commented on #151
Hi Hector,

Sorry, no. That UX is browser-specific (looks different in each browser). Specs do not dictate browser UX, much less define APIs to alter their appearance.

If your interest is specific to sharing of web surfaces, the proposed *getViewportMedia* in #155 aims to integrate that more directly (less browser-UX).

[2021-03-26 18:57] #151 closed, assigned to nobody

[2021-03-26 19:09] jan-ivar commented on #143
@ikasantsev Thanks for this use case! We're hoping to cover it with better integrated web-based presentations in w3c/mediacapture-viewport#1.

Firefox exposes this in `track.label` atm FWIW. See https://github.com/w3c/mediacapture-screen-share/issues/128.

Please let me know if this covers your issue, so I can close it out.

[2021-03-26 19:16] jan-ivar commented on #156
@eladalon1983 Based on your https://github.com/w3c/mediacapture-screen-share/issues/155#issuecomment-801493527, can we close this?

[2021-03-26 19:34] hectorcastro-teamviewer commented on #151
Hi Jan-Ivar

Thanks for your reply.
Best

Hector

________________________________
From: Jan-Ivar Bruaroey ***@***.***>
Date: Fri, Mar 26, 2021, 19:57
To: w3c/mediacapture-screen-share ***@***.***>
CC: Hector Castro ***@***.***>, Author ***@***.***>
Subject: Re: [w3c/mediacapture-screen-share] Customize selection of display surface (#151)

Hi Hector,

Sorry, no. That UX is browser-specific (looks

[2021-03-26 21:39] eladalon1983 commented on #156
Yes, by all means.

[2021-03-26 21:39] #156 closed, assigned to nobody

[2021-03-29 14:30] guidou commented on #143
cc @eladalon1983, who is preparing a proposal to address this for the tab case using track.label

[2021-03-29 20:00] eladalon1983 opened #159 "Allow screen-captured applications to self-declare a capture handle"
## State of the Art
MediaStreamTrack.label is [specified](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/label), but the standard has very little to say about the value. More specifically, nothing is said for those MediaStreamTracks which are the result of a call to `getDisplayMedia`.

Examine the label of video tracks resulting from `getDisplayMedia` in some **current implement

[2021-03-30 12:45] eladalon1983 opened #160 "API for Grabbing a Screenshot"
## Problem Statement
Some apps require a mechanism for taking a screenshot of the page. The canonical use-case is a mechanism that allows an end-user to provide feedback about defects to the app. (Note: Feedback to the app, not browser, but potentially about behavior only exhibited on a given browser at a given edge-case.)

Desirable attributes of this mechanism include:
* **Accurate**: Capture wh

[2021-03-30 12:55] dontcallmedom commented on #160
an alternative (or a complement) to a new API might be a new value `screen` (in addition to `user` and `environment`) in the [`capture`](https://w3c.github.io/html-media-capture/#the-capture-attribute) attribute of the `<input file>` element that would trigger a UI to take and edit a screenshot.

[2021-03-30 13:34] youennf commented on #159
In general, label is for human-readable content, so I am not sure label is the best placeholder for doing computation.
Also, it seems Firefox has some nice heuristics that could be shared with other UAs. Specification could provide guidelines if those heuristics get traction.

I am also not sure how much opt-in we will actually get from web pages.

If there is a need to share more of what the shar

[2021-03-30 14:02] eladalon1983 commented on #159
I am afraid I don't follow. The proposal I've made allows the captured-page to set a human readable value. For example, YouTube could simply set `preferredLabel = "YouTube"`.

...
Maybe the origin of the page, or cross origin flag or the title of the surface if it is a web page could be shared to the capturing context.
The caveat is of course that we need to validate this is safe doing so.

Agreed

[2021-03-30 14:31] youennf commented on #159
I was not there when label was initially designed but, for capture tracks, the localized device name is used.
This makes it potentially easy for a web page to display the source of the track. I think it was the initial intent.

On the other hand, this does not make it easy for the web page to reason about the source of the track given the same capture device might end up having different names acc